.block.block-accordion {
  &.block-accordion-company {
    background-color: $color-dude-darkgrey;

    *,
    *:focus,
    .accordion,
    .accordion-content {
      color: $color-dude-white;
      background-color: $color-dude-darkgrey;
      border-color: rgba($color-dude-whitegreyish, .3);
    }
  }

  .container {
    overflow: visible;
  }

  h2,
  a {
    transition: all $transition-duration;
  }

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0);
    grid-template-columns: 1fr 2fr;

    @media (max-width: 1400px) {
      grid-template-columns: 35% 65%;
      grid-column-gap: 5rem;

      .button:hover .long-arrow {
        width: 7rem;
      }
    }

    @media (max-width: 700px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .accordion {
    width: 80%;

    @media (max-width: 700px) {
      max-width: 100%;
    }
  }

  .col-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding-right: 5rem;

    .block-head {
      padding: 0;
    }

    h2,
    p {
      width: 100%;
    }

    h2 {
      @include responsive-font(32px, 100px);
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 2rem;

      &.block-title {
        @extend .block-title;
        @extend %h2;
      }
    }

    p {
      @extend %h3;
      margin: 0;
      font-weight: 300;
    }

    @media (min-width: 850px) {
      padding-right: 10rem;
    }

    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 4rem;
      justify-content: flex-start;
    }

    @media (max-width: $container-mobile) {
      margin-top: 3rem;
      margin-left: 3rem;
    }
  }
}


// Accordion styles
.accordion-content {
  display: none;
  padding-top: 0;
  padding-bottom: $padding-accordion-content;

  @media (max-width: $container-mobile) {
    padding-bottom: $padding-accordion-content-mobile;
    padding-left: $padding-accordion-content-mobile;
    padding-right: $padding-accordion-content-mobile;
  }

  p {
    opacity: .6;
    width: 80%;
    max-width: 85rem;

    @media (max-width: 1300px) {
      max-width: 90%;
      width: 100%;
    }

    @media (max-width: 700px) {
      max-width: 100%;
    }
  }
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-superlightgrey;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding-top: $padding-accordion-content;
  padding-bottom: $padding-accordion-content;

  @media (max-width: $container-mobile) {
    padding: $padding-accordion-content-mobile;
  }

  .arr {
    background-image: url('../svg/plus-bauerblue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5rem;
    height: 5rem;

    @media (max-width: 800px) {
      width: 3rem;
      height: 3rem;
    }
  }

  h2 {
    @extend %h3;
    color: $color-lightgrey;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
  }

  &:first-child {
    border-top: 0;
  }

  &:hover {
    .arr {
      background-image: url('../svg/plus-white.svg');
    }

    h2 {
      color: $color-dude-deep-black;
    }
  }

  &.open-accordion {
    cursor: default;

    .arr {
      display: none;
    }

    h2 {
      color: $color-dude-deep-black;
    }

    &:hover {
      background-color: transparent;
      cursor: default;

      h2 {
        color: $color-dude-deep-black;
      }
    }
  }
}

.accordion.open-accordion {
  pointer-events: none;
  cursor: default;

  &:hover {
    background-color: $color-dude-white;
    pointer-events: none;
    cursor: default;

    h2 {
      color: $color-lightgrey;
    }
  }
}
