.block.block-big-reference-quote {
  background: #f4f4f4;
  padding: 0;
  position: relative;
  z-index: 2;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 2rem, $gutter_y: 0);
    grid-template-columns: 1fr 2fr;

    @media (max-width: 1400px) {
      grid-template-columns: 30% 60%;
      grid-column-gap: 2rem;

      .button:hover .long-arrow {
        width: 7rem;
      }
    }

    @media (max-width: 900px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .col.col-person-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    @media (max-width: 900px) {
      height: 70rem;
      background-position: bottom left;
      width: 100%;
      order: 2;
    }

    @media (max-width: $container-mobile) {
      height: 60rem;
    }
  }

  .block-title-pre.block-title-pre-quote-person {
    @extend %h5;
    opacity: .6;
    margin-bottom: 0;
  }

  .col.col-content {
    padding-left: $padding-default-cols;
    padding-right: $padding-default-cols;
    padding-top: $padding-default-rows;
    padding-bottom: 0;
    margin-bottom: -5rem;
    overflow: visible;
    position: relative;
    z-index: 2;

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: 0;
    }

    @supports (-ms-ime-align: auto) {
      margin-bottom: 0;
    }

    blockquote {
      margin: 0;
      padding-top: $padding-general-content-box;
      padding-bottom: 2rem;
      color: $color-dude-grey-text;
      max-width: 70%;

      @media (max-width: 1400px) {
        max-width: 90%;
      }

      footer {
        color: $color-dude-grey-text;
      }
    }

    svg {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 900px) {
      order: 1;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
      padding-top: $padding-default-rows-ipad;
      padding-bottom: $padding-default-rows-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
      padding-top: $padding-default-rows-mobile;
      padding-bottom: $padding-default-rows-mobile;
    }
  }
}
