.block.block-big-reference-quote {
  background: #f4f4f4;
  padding: 0;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0);
    grid-template-columns: 25vw 75vw;
  }

  .col.col-person-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .block-title-pre.block-title-pre-quote-person {
    @extend %h5;
    opacity: .6;
    margin-bottom: 0;
  }

  .col.col-content {
    padding-left: $padding-default-cols;
    padding-right: $padding-default-cols;
    padding-top: $padding-default-rows;
    padding-bottom: 0;
    margin-bottom: -5rem;
    overflow: visible;
    position: relative;
    z-index: 2;

    blockquote {
      margin: 0;
      padding-top: $padding-general-content-box;
      padding-bottom: 2rem;
      color: $color-dude-grey-text;
      max-width: 70%;

      footer {
        color: $color-dude-grey-text;
      }
    }

    svg {
      margin-bottom: 3.5rem;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
      padding-top: $padding-default-rows-ipad;
      padding-bottom: $padding-default-rows-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
      padding-top: $padding-default-rows-mobile;
      padding-bottom: $padding-default-rows-mobile;
    }
  }
}
