.block.block-big-reference-quote {
  background: #f4f4f4;
  padding: 0;
  position: relative;
  z-index: 2;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 2rem, $gutter_y: 0rem);
    grid-template-columns: 1fr 2fr;

    @media (max-width: 1400px) {
      grid-template-columns: 30% 60%;
      grid-column-gap: 2rem;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .col.col-person-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    @media (max-width: 900px) {
      height: 70rem;
      background-position: bottom left;
      width: 100%;
      order: 2;
      display: none;
    }

    @media (max-width: $container-mobile) {
      height: 60rem;
    }
  }

  .block-title-pre.block-title-pre-quote-person {
    @extend %h5;
    opacity: .6;
    margin-bottom: 0;
  }

  .col.col-content {
    padding-left: $padding-default-cols;
    padding-right: $padding-default-cols;
    padding-top: $padding-default-rows;
    padding-bottom: 0;
    margin-bottom: -5rem;
    overflow: visible;
    position: relative;
    z-index: 2;

    .arrow-link-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      @media (max-width: 640px) {
        margin-bottom: 4rem;
      }
    }

    .arrow-link-wrapper a {
      @extend %default;

      // Needs fixed width, otherwise arrow will spread the box
      width: 540px;
      background: $color-links;
      color: $color-dude-white;
      border: 0;
      display: block;
      padding: 2.5rem 3rem;
      margin-bottom: 1rem;
      text-decoration: none;
      cursor: pointer;
      transition: 150ms linear background;
      font-family: $font-base;
      text-align: left;
      align-items: center;
      white-space: nowrap;
      overflow: visible;

      @media (max-width: 640px) {
        width: auto;
        white-space: normal;
      }

      .arrow {
        position: relative;
        top: -4px;
        background: $color-dude-white;

        @media (max-width: 640px) {
          display: none;
        }

        &:before,
        &:after {
          background: $color-dude-white;
        }
      }

      &:hover .arrow {
        background: $color-links;
        width: 12rem;

        &:before,
        &:after {
          background: $color-links;
        }
      }
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: 0;
    }

    @supports (-ms-ime-align: auto) {
      margin-bottom: 0;
    }

    blockquote {
      margin: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: $color-dude-grey-text;
      max-width: 70%;

      @media (max-width: 1400px) {
        max-width: 90%;
      }

      footer {
        color: $color-dude-grey-text;
      }
    }

    svg {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 900px) {
      order: 1;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
      padding-top: $padding-default-rows-ipad;
      padding-bottom: $padding-default-rows-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
      padding-top: $padding-default-rows-mobile;
      padding-bottom: $padding-default-rows-mobile;
    }
  }
}
