.block.block-blog-big {
  // Padding here is navigation height plus regular padding which is exactly 100px in total
  padding-top: calc(5rem + 113px);
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  overflow: visible;

  .container {
    overflow: visible;
    padding-bottom: 0;
  }

  .description p {
    font-weight: 300;
  }

  .cols {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);
    overflow: visible;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: flex;
      flex-wrap: nowrap;
    }

    @supports (-ms-ime-align: auto) {
      display: flex;
      flex-wrap: nowrap;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-wrap: wrap;

      .col {
        width: 100%;
      }

      .col.col-image {
        height: 50rem;

        @media (max-width: $container-mobile) {
          height: 35rem;
        }
      }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .col.col-image,
      .col.col-content {
        width: 50vw;

        @media (max-width: 870px) {
          width: 100vw;
        }
      }
    }

    @supports (-ms-ime-align: auto) {
      .col.col-image,
      .col.col-content {
        width: 50vw;

        @media (max-width: 870px) {
          width: 100vw;
        }
      }
    }
  }

  .col-content {
    background: $color-whitegreyish;
    padding: $padding-general-content-box;
    position: relative;

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-general-content-box-mobile;
      padding-right: $padding-general-content-box-mobile;
      padding-top: $padding-general-content-box-mobile;
      padding-bottom: 8rem;
    }
  }

  .block-head {
    padding-top: 0;
    padding-bottom: 0;

    .block-title {
      margin-bottom: 2.7rem;
      max-width: 100%;
    }
  }

  .arrow-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .arrow-link-wrapper a {
    @extend %default;

    // Needs fixed width, otherwise arrow will spread the box
    width: 243.98px;
    background: $color-links;
    color: $color-white;
    border: 0;
    display: block;
    padding: 2.5rem 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: 150ms linear background;
    font-family: $font-base;
    position: absolute;
    text-align: left;
    right: -2rem;
    bottom: -5rem;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    z-index: 3;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      bottom: -1rem;
      right: 0;
    }

    @supports (-ms-ime-align: auto) {
      bottom: -1rem;
      right: 0;
    }

    .arrow {
      position: relative;
      top: -4px;
    }

    &:hover .arrow {
      background: $color-links;
      width: 12rem;

      &:before,
      &:after {
        background: $color-links;
      }
    }

    span,
    *:before,
    *:after {
      color: $color-white;
    }

    *:before,
    *:after,
    .arrow {
      background: $color-white;
      transition: all $transition-duration;
    }
  }
}
