.block.block-blog-big {
  padding-top: 10rem;

  .cols {
    @include grid(2, $gutter_x: 0, $gutter_y: 0);
  }

  .col-content {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;
  }
}
