.block.block-blog {
  padding-top: 0;

  .block-head.block-head-archive {
    // Padding here is navigation height plus regular padding which is exactly 100px in total
    padding-top: calc(10rem + 113px);
  }

  .block-title.block-title-archive {
    @extend %h2;
  }

  .cols {
    @include grid(3, $gutter_x: 10rem, $gutter_y: 10rem);

    @media (max-width: 1100px) {
      @include grid(2, $gutter_x: 10rem, $gutter_y: 10rem);
    }

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: 5rem, $gutter_y: 5rem);
    }

    @media (max-width: 580px) {
      display: block;

      .col {
        margin-bottom: 8rem;
      }

      .col:last-child {
        margin-bottom: 0;
      }
    }

    .image {
      margin-bottom: 4rem;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .date {
    @include responsive-font(16px, 19px);
    opacity: .5;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
  }
}
