.block.block-blog {
  padding-top: 0;

  .cols {
    @include grid(3, $gutter_x: 10rem, $gutter_y: 10rem);

    .image {
      margin-bottom: 6rem;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .date {
    @include responsive-font(16px, 19px);
    opacity: .5;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
  }
}
