.block.block-blog-articles-upsell {
  // Removing top padding because usually this is in the bottom and the previous module has too much padding bottom already
  padding-top: 0;

  @media (max-width: $container-ipad) {
    margin-top: 8rem;
  }

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0);

    @media (max-width: $container-ipad) {
      display: block;
      margin-bottom: 8rem;
      margin-top: 4rem;

      .col {
        margin-bottom: 8rem;
      }

      .col:last-child {
        margin-bottom: 0;
      }
    }
  }

  .block-title {
    margin-bottom: 4rem;

    @media (max-width: $container-mobile) {
      margin-bottom: 2rem;
    }

    span {
      border-bottom: 1px solid $color-dude-deep-black;
    }
  }

  .excerpt {
    opacity: .6;
  }
}
