.block.block-contact-list {
  @media (max-width: 1100px) {
    padding-bottom: 2rem;
  }

  .cols {
    @include grid(5, $gutter_x: 0, $gutter_y: 0);

    @media (max-width: 1200px) {
      @include grid(3, $gutter_x: 0, $gutter_y: 0);
    }

    @media (max-width: 800px) {
      @include grid(2, $gutter_x: 0, $gutter_y: 0);
    }

    @media (max-width: 600px) {
      display: block;
    }

    h3 {
      // A bit smaller than %h3
      @include responsive-font(22px, 28px);
      margin-bottom: 1rem;
    }

    p {
      font-weight: 300;

      &.name-pre {
        @extend .text-smaller;
        margin-bottom: 0;
      }

      &.job-title {
        margin-top: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: calc(1.5rem - #{$column-gap});
    }

    .col {
      padding-left: 4rem;
      padding-top: 7rem;
      padding-right: 4rem;
      padding-bottom: 4rem;

      @media (max-width: $container-mobile) {
        padding: 4rem 2rem;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media (max-width: 1500px) {
          display: block;
          width: 100%;
        }
      }
    }

    .col.col-go-to {
      background: $color-superlightgrey;
      padding: 4rem;
    }
  }

  .block-title {
    margin-bottom: 6rem;
  }
}
