.block.block-contact-list {
  .cols {
    @include grid(5, $gutter_x: 4rem, $gutter_y: 4rem);

    h3 {
      // A bit smaller than %h3
      @include responsive-font(22px, 28px);
      margin-bottom: 1rem;
      white-space: nowrap;
    }

    p {
      font-weight: 300;

      &.name-pre {
        @extend .text-smaller;
        margin-bottom: 0;
      }

      &.job-title {
        margin-top: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: calc(1.5rem - #{$column-gap});
    }

    .col {
      padding: 4rem;

      @media (max-width: $container-mobile) {
        padding: 4rem 2rem;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media (max-width: 1500px) {
          display: block;
          width: 100%;
        }
      }

      > * {
        padding-left: $column-gap;
        padding-right: $column-gap;
      }
    }

    .col.col-go-to {
      background: $color-superlightgrey;
    }
  }

  .block-title {
    margin-bottom: 6rem;
  }
}
