.block.block-content-side-switch {
  padding-top: 20rem;
  padding-bottom: 20rem;

  .container,
  .cols,
  .col {
    overflow: visible;

    * {
      overflow: visible;
    }
  }

  @media (max-width: 1500px) {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  @media (max-width: 1000px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
    padding-top: $padding-default-rows-ipad;
    padding-bottom: $padding-default-rows-ipad;
  }

  @media (max-width: $container-mobile) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
    padding-top: $padding-default-rows-mobile;
    padding-bottom: $padding-default-rows-mobile;
  }

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0rem);
    grid-template-columns: 1fr 2fr;

    @media (max-width: 1400px) {
      grid-template-columns: 35% 65%;
      grid-column-gap: 5rem;

      .button:hover .long-arrow {
        width: 7rem;
      }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media (max-width: 860px) {
        .col {
          width: 100%;
        }
      }
    }

    @supports (-ms-ime-align: auto) {
      @media (max-width: 860px) {
        .col {
          width: 100%;
        }
      }
    }

    @media (max-width: 700px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .col.col-switch {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding-right: 5rem;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @media (max-width: 860px) {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 5rem;
      }
    }

    @supports (-ms-ime-align: auto) {
      @media (max-width: 860px) {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 5rem;
      }
    }

    @media (min-width: 850px) {
      padding-right: 10rem;
    }

    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 4rem;
      justify-content: flex-start;
    }

    @media (max-width: $container-mobile) {
      margin-top: 3rem;
      margin-left: 3rem;
    }

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .service-switcher {
      position: relative;
      padding-left: 5rem;
      display: block;
    }

    .hilight {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid $color-dude-deep-black;
      position: absolute;
      top: 0;
      left: -14.9px;
      transition: all $transition-duration;
      background: $color-dude-white;
    }

    .gutter {
      width: 1px;
      background: $color-dude-deep-black;
      height: calc(100% - 1.5rem);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin-top: .5rem;
      opacity: .5;
    }

    button {
      @extend %h3;
      padding: 0;
      background: none;
      color: $color-body;
      font-weight: 300;
      margin-bottom: 5rem;
      transition: all $transition-duration;
      opacity: .5;
      border: 0;
      cursor: pointer;

      @media (max-width: $container-mobile) {
        margin-bottom: 2.5rem;
      }

      &.active,
      &.has-focus,
      &:hover {
        opacity: 1;
        color: $color-body;
        background: none;
        cursor: pointer;
      }
    }

    li:last-child button {
      margin-bottom: 0;
    }
  }

  .col.col-content {
    opacity: .8;
    position: relative;

    p {
      width: 80%;
      max-width: 85rem;

      @media (max-width: 1300px) {
        max-width: 70%;
        width: 100%;
      }

      @media (max-width: 700px) {
        max-width: 100%;
      }
    }
  }

  .content-tab {
    display: none;
    width: 100%;

    &.is-visible {
      display: block;
    }

    &.animating {
      position: absolute;
      top: 0;
    }
  }
}
