.block.block-cta-text {
  text-align: left;

  @media (min-width: 1000px) {
    padding-top: $padding-blocks-huge;
    padding-bottom: $padding-blocks-huge;
  }

  .container {
    overflow: visible;
  }

  h2 {
    @extend %general-heading-alt;
    font-weight: 400;
    margin-top: 0;
    width: 100%;
    line-height: 1.48;
    max-width: 1009px;
    margin-bottom: $margin-between-text-elements;

    @media (min-width: 1000px) {
      margin-bottom: 10rem;
    }
  }

  h2 span {
    color: $color-cobalt-blue;
  }

  .link-wrapper {
    margin: 0;
  }
}

// Less padding if next is refrence upsell
.block.block-cta-text + .block.block-references-one {
  @media (min-width: $container-ipad-landscape) {
    padding-top: 0;
  }
}
