// Block specific variables
$submit-width: 33px;

.block.block-cta-with-phone-input {
  padding-top: 0;
  padding-bottom: $padding-blocks-medium;

  .gform_confirmation_wrapper .gform_confirmation_message {
    color: $color-midnight-blue !important;
  }

  &.block-recruiting .cols .col:first-of-type {
    @media (min-width: 1170px) {
      width: 875px;
    }

    h2 {
      max-width: 100%;
    }
  }

  @media (max-width: 380px) {
    .button {
      font-size: var(--font-size-general-small);
    }
  }

  &.block-recruiting .cols {
    display: flex;
    align-items: center;

    form {
      display: flex;
    }

    .gform_wrapper .gform_footer {
      width: $submit-width;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input[type=submit] {
      background-image: url('../svg/paper-plane.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
      width: $submit-width;
      height: 40px;
      margin: 0;
      padding: 0;
    }

    @media (max-width: 1000px) {
      flex-wrap: wrap;

      .col {
        width: 100%;
      }
    }

    .col:last-of-type {
      display: flex;
      align-items: center;

      @media (min-width: 1375px) {
        justify-content: flex-end;
        width: calc(100% - 745px);
        min-width: calc(100% - 745px);
      }

      @media (max-width: 1000px) {
        max-width: 300px;
        margin-top: 2rem;
      }
    }

    .col:first-of-type {
      padding-right: 2rem;

      @media (min-width: 1375px) {
        width: 745px;
      }

      * {
        max-width: 645px;
      }
    }
  }

  &.block-recruiting .cols .col:last-of-type {
    @media (min-width: 1170px) {
      width: calc(100% - 875px);
    }

    @media (max-width: 1210px) {
      max-width: 300px;
      margin-top: 2rem;
    }

    @media (min-width: 380px) {
      .button {
        min-width: 265px;
      }
    }
  }

  .container {
    background: $color-mint;
    color: $color-midnight-blue;
    padding-top: $padding-cta-box-y;
    padding-bottom: $padding-cta-box-y;
    padding-left: $padding-cta-box-x;
    padding-right: 6.5rem;

    @media (max-width: 1285px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 5rem;
      padding-right: 1.7rem;
    }

    @media (max-width: 420px) {
      padding: 4rem .7rem 4rem 4rem;
    }
  }

  &.block-recruting .container {
    background: $color-mint;
    color: $color-midnight-blue;
    padding-top: $padding-cta-box-y;
    padding-bottom: $padding-cta-box-y;
    padding-left: $padding-cta-box-x;
    padding-right: $padding-cta-box-x;

    @media (max-width: 1285px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 420px) {
      padding: 4rem;
    }
  }

  h2 {
    @extend %general-heading-cta;
  }

  p {
    color: $color-midnight-blue;
    margin: 0;
  }

  @media (max-width: 600px) {
    h2,
    p {
      padding-right: 4rem;
    }
  }

  // Gravity forms
  .gform_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    &#gform_wrapper_7 .gform_footer {
      max-width: calc(100% - 33px) !important;
    }

    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    li.gfield_error textarea {
      border-width: 2px !important;
    }

    form li.gfield.gfield_error,
    form li.gfield.gfield_error * {
      font-weight: 600 !important;
    }

    #gform_fields_7 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem !important;

      textarea,
      input {
        padding-left: 0 !important;
      }

      @media (min-width: 960px) {
        margin-left: -10px !important;
        margin-right: -10px !important;
      }
    }

    #field_7_2,
    #field_7_3,
    #field_7_1 {
      width: 100%;
      margin-bottom: 3rem !important;

      @media (min-width: 960px) {
        width: calc(33.3% - 20px);
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom: 0 !important;
      }
    }

    #field_7_4 {
      width: 100%;
      margin-top: 3rem !important;
      margin-bottom: 3rem !important;

      @media (min-width: 960px) {
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
    }
  }

  .gform_wrapper .gform_body {
    width: calc(100% - #{$submit-width});
  }

  .gform_wrapper ul.gform_fields li.gfield {
    margin: 0;
    padding: 0;
  }

  .gform_wrapper .top_label div.ginput_container,
  .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0;
  }

  .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
  textarea {
    padding: 15px 6px;
    width: 100%;
    border-bottom: 2px solid $color-midnight-blue;
    border-right: 2px solid $color-midnight-blue;
    border-top: 0;
    border-left: 0;
    margin: 0;

    @media (max-width: $container-mobile) {
      padding: 12px 6px 12px 0;
    }

    @media (min-width: 770px) {
      min-width: 250px;
    }

    &::placeholder {
      color: $color-midnight-blue;
      opacity: 1;
    }
  }
}

// Exception for front page
body.home .block.block-testimonials + .block.block-cta-with-phone-input {
  background: $color-midnight;
  padding-bottom: 0;
}
