.block.block-cta-process {
  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0);

    @media (max-width: 1260px) {
      grid-template-columns: 60vw 40vw;
      grid-column-gap: 0;
    }

    @media (max-width: $container-ipad) {
      display: block;
    }

    .col {
      min-width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin: 0;
      }

      @supports (-ms-ime-align: auto) {
        margin: 0;
      }

      @media (max-width: $container-ipad) {
        width: 100%;
      }
    }
  }

  .process {
    display: flex;
    overflow: visible;

    @media (max-width: $container-ipad) {
      padding-left: 4rem;
    }
  }

  .long-arrow {
    position: absolute;
    top: 50%;
    margin-left: 170px;
    z-index: 1;
  }

  .circle {
    position: relative;
    overflow: visible;
    min-height: 25rem;
    height: 25rem;
    width: 25rem;
    display: flex;
    margin-left: -5rem;
    z-index: 0;
    transition: all $transition-duration;
    opacity: .3;

    // Animations
    &:nth-child(1) {
      animation-name: pulse-opacity;
      animation-duration: 12s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      .long-arrow {
        animation-name: pulse-width;
        animation-duration: 12s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }

    &:hover {
      opacity: 1;

      .long-arrow {
        width: 10rem;
      }
    }

    svg,
    circle {
      fill: transparent;
    }
  }
}
