.block.block-cta-text {
  text-align: left;
  padding-top: 20rem;
  padding-bottom: 20rem;

  .container {
    overflow: visible;
  }

  h2 {
    @include responsive-font(32px, 52px);
    font-weight: 400;
    margin-top: 0;
    width: 100%;
    line-height: 1.48;
    max-width: 1009px;
    margin-bottom: 10rem;
  }

  h2 span {
    color: $color-cobalt-blue;
  }

  .link-wrapper {
    margin: 0;
  }
}
