// Block specific variables
$submit-width: 33px;

.block.block-cta-with-phone-input {
  padding-top: 0;
  padding-bottom: $padding-blocks-medium;

  &.block-recruiting .cols .col:first-of-type {
    width: 875px;

    h2 {
      max-width: 100%;
    }
  }

  &.block-recruiting .cols .col:last-of-type {
    width: calc(100% - 875px);
  }

  .cols {
    display: flex;
    align-items: center;

    @media (max-width: 1000px) {
      flex-wrap: wrap;

      .col {
        width: 100%;
      }
    }
  }

  .container {
    background: $color-mint;
    color: $color-midnight-blue;
    padding-top: $padding-cta-box-y;
    padding-bottom: $padding-cta-box-y;
    padding-left: $padding-cta-box-x;
    padding-right: $padding-cta-box-x;

    @media (max-width: 1285px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 420px) {
      padding: 4rem;
    }

    .col:first-of-type {
      padding-right: 2rem;

      @media (min-width: 1375px) {
        width: 745px;
      }

      * {
        max-width: 645px;
      }
    }

    .col:last-of-type {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (min-width: 1375px) {
        width: calc(100% - 745px);
        min-width: calc(100% - 745px);
      }

      @media (max-width: 1000px) {
        max-width: 300px;
        margin-top: 2rem;
      }
    }
  }

  h2 {
    @extend %general-heading-cta;
  }

  p {
    color: $color-midnight-blue;
    margin: 0;
  }

  // Gravity forms
  .gform_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    form {
      display: flex;
    }
  }

  .gform_wrapper .gform_body {
    width: calc(100% - #{$submit-width});
  }

  .gform_wrapper .gform_footer {
    width: $submit-width;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gform_wrapper ul.gform_fields li.gfield {
    margin: 0;
    padding: 0;
  }

  .gform_wrapper legend.gfield_label,
  .gform_wrapper .top_label .gfield_label {
    @extend .screen-reader-text;
  }

  .gform_wrapper .top_label div.ginput_container,
  .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0;
  }

  .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 17px 6px;
    width: calc(100% - 22px);
    border-bottom: 2px solid $color-midnight-blue;
    border-right: 2px solid $color-midnight-blue;
    border-top: 0;
    border-left: 0;
    margin-right: 22px;

    @media (max-width: $container-mobile) {
      padding: 12px 6px 12px 0;
    }

    @media (min-width: 770px) {
      min-width: 250px;
    }

    &::placeholder {
      color: $color-midnight-blue;
      opacity: 1;
    }
  }

  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_page_footer input.button,
  .gform_wrapper .gform_footer input[type=submit],
  .gform_wrapper .gform_page_footer input[type=submit] {
    background-image: url('../svg/paper-plane.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: $submit-width;
    height: 40px;
    margin: 0;
    padding: 0;
  }
}

// Exception for front page
body.home .block.block-testimonials + .block.block-cta-with-phone-input {
  background: $color-midnight;
  padding-bottom: 0;
}
