.block.block-cta-left-image {
  position: relative;
  z-index: 3;

  .container {
    overflow: visible;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cols .col-image {
      width: 70%;
    }

    .cols .col-content {
      width: 30%;
    }
  }

  @supports (-ms-ime-align: auto) {
    .cols .col-image {
      width: 70%;
    }

    .cols .col-content {
      width: 30%;
    }
  }

  .cols {
    @include grid(2, $gutter_x: 0, $gutter_y: 0);
    grid-template-columns: 7fr 3fr;
  }

  .image {
    @include background-cover();
    width: 100%;
    height: 60rem;
    margin-top: -10rem;
  }

  .content {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;
    margin-left: -20rem;

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-ipad;
    }
  }

  .gform_wrapper {
    label {
      @extend .screen-reader-text;
    }

    div input {
      width: 100%;
    }

    input,
    .button {
      @extend %default;
    }
  }
}
