body .block.block-cta-left-image,
.block.block-hero-reference,
.block.block-hero-person {
  position: relative;
  z-index: 3;

  @media (max-width: 500px) {
    .end-note {
      margin-top: 0;
    }
  }

  .end-note     a {
    background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: .3s all;
    text-decoration: none;
    overflow: visible;
  }

  .end-note a:hover,
  .end-note a:focus,
  .end-note a:active {
    background-size: 100% 2.8rem;
    color: $color-dude-white;
  }

  form div {
    input#mc-embedded-subscribe {
      margin-top: 3.2rem;
    }

    ul li {
      padding: 0 !important;
      margin: 0;
    }

    input:not([type='radio']):not([type='checkbox']):not([type='image']):not([type='file']) {
      @media (max-width: 500px) {
        font-size: 15px;
        padding: 1rem 2rem;
      }
    }

    input,
    textarea,
    input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
      border: 1px solid darken($color-superlightgrey, 5%);
      padding: 2rem;
      width: 100%;
      max-width: 100%;
      margin: 0;

      @media (max-width: 500px) {
        font-size: 15px;
        padding: 1rem 2rem;
      }

      &:focus {
        outline: 0;
        border-color: $color-dude-deep-black;
      }

      @media (max-width: 1300px) {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      &::placeholder {
        opacity: 1;
        color: $color-dude-grey-text;
      }
    }
  }

  .container {
    overflow: visible;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cols .col-image {
      width: 70%;

      @media (max-width: 860px) {
        width: 100%;
      }
    }

    .cols .col-content {
      width: 30%;

      @media (max-width: 860px) {
        width: 100%;
      }
    }
  }

  @supports (-ms-ime-align: auto) {
    .cols .col-image {
      width: 70%;

      @media (max-width: 860px) {
        width: 100%;
      }
    }

    .cols .col-content {
      width: 30%;

      @media (max-width: 860px) {
        width: 100%;
      }
    }
  }

  .cols {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);
    grid-template-columns: 7fr 3fr;

    @media (max-width: $container-ipad) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (max-width: 500px) {
      display: flex;
    }
  }

  @media (max-width: $container-ipad) {
    .col-image {
      height: 40rem;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .col-image {
      height: auto;
    }
  }

  .image {
    width: 100%;
    height: 60vh;
    max-height: 80rem;
    min-height: 60rem;

    @media (min-width: 870px) {
      margin-top: -10rem;
    }

    @media (max-width: 600px) {
      height: auto;
      min-height: 0;
      max-height: 100%;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .content {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;
    margin-left: -20rem;
    position: relative;
    z-index: 1;

    @supports (-ms-ime-align: auto) {
      margin-left: 0;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-left: 0;
    }

    @media (max-width: $container-ipad) {
      padding: 4rem;
      margin-left: 0;
    }

    @media (max-width: $container-mobile) {
      padding: 4rem 2rem;
    }
  }

  .gform_wrapper {
    @media (max-width: 500px) {
      margin-top: 0;
      padding-top: 0;

      .gform_footer {
        margin-top: 1rem;
        padding-top: 0;
      }
    }

    label {
      @extend .screen-reader-text;
    }

    div input,
    div button {
      width: 100%;
    }

    input[type="submit"] {
      border-color: $color-dude-deep-black;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-color: $color-dude-deep-black;

      @media (min-width: $container-ipad) {
        white-space: nowrap;
      }
    }

    input,
    .button {
      @extend %default;
    }
  }
}
