.block.block-cta-left-image {
  position: relative;
  z-index: 3;

  .container {
    overflow: visible;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cols .col-image {
      width: 70%;
    }

    .cols .col-content {
      width: 30%;
    }
  }

  @supports (-ms-ime-align: auto) {
    .cols .col-image {
      width: 70%;
    }

    .cols .col-content {
      width: 30%;
    }
  }

  .cols {
    @include grid(2, $gutter_x: 0, $gutter_y: 0);
    grid-template-columns: 7fr 3fr;

    @media (max-width: $container-ipad) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: $container-ipad) {
    .col-image {
      height: 40rem;
      width: 100%;
    }
  }

  .image {
    width: 100%;
    height: 60rem;
    margin-top: -10rem;
    overflow: hidden;
    position: relative;
  }

  .content {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;
    margin-left: -20rem;
    position: relative;
    z-index: 1;

    @media (max-width: $container-ipad) {
      padding: 4rem;
      margin-left: 0;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-mobile;
    }
  }

  .gform_wrapper {
    label {
      @extend .screen-reader-text;
    }

    div input {
      width: 100%;
    }

    input,
    .button {
      @extend %default;
    }
  }
}
