.block.block-cta-process {
  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: 0, $gutter_y: 0);

    .col {
      min-width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .process {
    display: flex;
    overflow: visible;
  }

  .long-arrow {
    position: absolute;
    top: 50%;
    margin-left: 170px;
    z-index: 1;
  }

  .circle {
    position: relative;
    overflow: visible;
    min-height: 25rem;
    height: 25rem;
    display: flex;
    margin-left: -5rem;
    z-index: 0;
    transition: all $transition-duration;
    opacity: .3;

    // Animations
    &:nth-child(1) {
      animation-name: pulse-opacity;
      animation-duration: 12s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      .long-arrow {
        animation-name: pulse-width;
        animation-duration: 12s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }

    &:hover {
      opacity: 1;

      .long-arrow {
        width: 10rem;
      }
    }

    svg,
    circle {
      fill: transparent;
    }
  }
}
