.block.block-dudes {
  background: $color-white;
  padding-top: 0;
  padding-bottom: $padding-blocks-medium;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(3, $gutter_x: $margin-between-grid-columns, $gutter_y: 0);

    @media (max-width: 1000px) {
      @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: 0);
    }

    @media (max-width: 660px) {
      display: block;
    }
  }

  .col {
    overflow: hidden;
    position: relative;

    .preview {
      display: none;
    }

    .image {
      overflow: hidden;
      position: relative;
      height: 56rem;

      > div {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }

    @media (max-width: 660px) {
      margin-bottom: 6rem;
    }
  }

  .content {
    padding: 2.5rem;
    text-align: center;
    height: auto;

    h3 {
      @extend %general-heading-small;
      margin-bottom: 1rem;
      margin-top: 0;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin: 0;

      &.person-title {
        margin-bottom: 2rem;
      }
    }
  }
}
