.block.block-images {
  background: $color-white;
  position: relative;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0;

  &.has-style-2 {
    background: transparent;
    padding-bottom: 0;

    .container {
      padding-top: 0;
    }

    .image.image-small-right {
      top: -190px;
      right: 10px;
    }

    .image.image-small-left {
      max-width: 490px;
      height: 320px;
    }
  }

  .container {
    overflow: visible;
    position: relative;
  }

  .image {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .image-big {
    max-width: 1345px;
    max-height: 754px;
    height: 80vh;
    margin-bottom: 140px;
  }

  .image-small-left {
    max-width: 444px;
    height: 274px;
    left: -70px;
    position: absolute;
    bottom: -140px;
    margin-bottom: 0;
  }

  .image-small-right {
    position: absolute;
    max-width: 374px;
    height: 519px;
    bottom: -80px;
    right: -80px;
  }
}

.block.block-our-services + .block.block-images {
  padding-top: $padding-blocks-large;
}
