.block.block-images {
  padding-top: 0;
  margin-top: -6rem;
  z-index: 3;
  position: relative;
  background: transparent;

  .container {
    overflow: visible;
    position: relative;
  }

  .image {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .image-big {
    max-width: 1345px;
    max-height: 754px;
    height: 80vh;
  }

  .image-small-left {
    max-width: 444px;
    height: 274px;
    left: -70px;
    position: absolute;
    bottom: -140px;
    margin-bottom: 0;
  }

  .image-small-right {
    position: absolute;
    right: 0;
    max-width: 374px;
    height: 519px;
    bottom: -80px;
    right: -80px;
  }
}
