.block.block-image-full-width {
  padding: 0;

  .container {
    padding: 0;
    max-width: 100%;
  }
}

.block.block-image-full-width img,
.block.block-image-in-container img {
  position: relative;
  z-index: 9;
}
