.block.block-image-full-width {
  padding: 0;

  .container {
    padding: 0;
    max-width: 100%;
  }
}

.block.block-image-full-width img,
.block.block-image-in-container img {
  position: relative;
  z-index: 9;
}

.block.block-title-left-text-right + .block.block-image-full-width,
.block.block-title-left-text-right + .block.block-image-in-container,
.block.block-mission-vision + .block.block-image-full-width,
.block.block-mission-vision + .block.block-image-in-container {
  padding-top: 0;
}
