/* stylelint-disable selector-max-specificity, selector-max-class, no-descending-specificity */
// Blocks with lesser padding
.block.block-logos.block-logos-techniques,
.block.block-expectations,
.block.block-open-position,
.block.block-open-positions,
.block.block-upsells-mint,
.block.block-jobs-upsells {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    padding-top: 13.5rem;
    padding-bottom: 13.5rem;
    overflow: visible;

    @media (max-width: 820px) {
      padding-top: calc(13.5rem / 2);
      padding-bottom: calc(13.5rem / 2);
    }
  }
}

.open-positions-description {
  margin: 0;
  max-width: 60rem;
  font-size: var(--font-size-18);
  color: var(--color-heading);
}

.block.block-open-positions {
  h2 {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .head {
    margin-bottom: 50px;
  }

  .jobs {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #50525c;
    overflow: visible;
  }

  .job-location {
    opacity: .72;
    text-align: right;
  }

  .job-title {
    font-size: var(--font-size-24);
    margin-right: auto;
    gap: 3rem;
    display: flex;
    align-items: center;
  }

  .job-link {
    display: flex;
    padding: 3.6rem 0;
    border-bottom: 1px solid #50525c;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 675px) {
      flex-wrap: wrap;
      padding: 2.5rem 0;
      position: relative;

      .job-location {
        text-align: left;
        font-size: 16px;
      }

      .job-title svg {
        position: absolute;
        right: 0;
        top: calc(calc(111px / 2) - calc(12px / 2));
      }

      > * {
        width: 100%;
      }
    }

    svg {
      transition: transform .18s cubic-bezier(.19, 1, .22, 1);
    }

    &:hover,
    &:focus {
      color: var(--color-paragraph);
    }

    &:focus svg,
    &:hover svg {
      transform: translateX(20px);
    }

    &:focus {
      outline-offset: 4px;
    }
  }
}

// Techniques wall
.block.block-logos-techniques.block-logos .logo-wall {
  @include grid(9, $gutter_x: 4rem, $gutter_y: 4rem);

  @media (max-width: 1250px) {
    @include grid(7, $gutter_x: 5rem, $gutter_y: 5rem);

    svg {
      max-height: 62px;
      max-width: 62px;
    }
  }

  @media (max-width: 760px) {
    @include grid(6, $gutter_x: 2rem, $gutter_y: 2rem);
  }

  @media (max-width: 650px) {
    @include grid(4, $gutter_x: 2rem, $gutter_y: 2rem);

    svg {
      max-height: 42px;
      max-width: 42px;
    }
  }

  > li,
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    max-width: 100px;
    margin: 0 auto;
  }

  svg {
    max-height: 62px;
    max-width: 62px;
  }
}

.block.block-logos-techniques.block-logos + .block.block-upsells-mint > .container,
.block.block-open-position + .block.block-expectations > .container,
.block.block-open-position + .block.block-logos.block-logos-techniques > .container,
.block.block-expectations + .block.block-logos.block-logos-techniques > .container,
.block.block-logos.block-logos-techniques + .block.block-expectations > .container,
.block.block-open-positions + .block.block.block-jobs-upsells > .container {
  padding-top: 0;
}

.box-mint {
  background-color: var(--color-mint-light);
  padding: 45px 35px;

  p {
    color: var(--color-midnight-blue);
    margin-top: 0;
    margin-bottom: 2rem;

    @media (max-width: 1160px) {
      font-size: 16px;
    }
  }

  p:last-child {
    margin: 0;
  }
}

.block.block-jobs-upsells > .container {
  @include grid(3, $gutter_x: 30px, $gutter_y: 30px);

  @media (max-width: 1000px) {
    @include grid(1, $gutter_x: 30px, $gutter_y: 30px);
  }

  @media (max-width: $responsivenav) {
    @include grid(1, $gutter_x: 20px, $gutter_y: 20px);
  }
}

.block-general-gallery {
  display: grid;
  grid-auto-rows: minmax(0, 100%);
  grid-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }

  .bigger {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}
