/* stylelint-disable selector-max-class, selector-max-specificity */
.block.block-form-job .container > h2 {
  margin-bottom: 4rem;
  margin-top: 0;
}

.block.block-form-job {
  @include form-job();
  @include gravity-form();

  .description {
    max-width: 80rem;
    margin-bottom: 4rem;
  }

  .gform_wrapper .gfield_label,
  .gform_wrapper.gravity-theme .gfield_label {
    font-size: var(--font-size-input-labels);
    margin-bottom: 2rem;
  }

  .gform_wrapper input[type="text"],
  .gform_wrapper input[type="password"],
  .gform_wrapper input[type="email"],
  .gform_wrapper input[type="url"],
  .gform_wrapper input[type="date"],
  .gform_wrapper input[type="month"],
  .gform_wrapper input[type="time"],
  .gform_wrapper input[type="datetime"],
  .gform_wrapper input[type="datetime-local"],
  .gform_wrapper input[type="week"],
  .gform_wrapper input[type="number"],
  .gform_wrapper input[type="search"],
  .gform_wrapper input[type="tel"],
  .gform_wrapper input[type="color"],
  .gform_wrapper textarea,
  .gform_wrapper select {
    font-size: var(--font-size-input-fields);
  }
}

// jQuery UI Datepicker (yuck)
/* stylelint-disable */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: unset;
}

.ui-datepicker.ui-widget {
  border-radius: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  background-image: none !important;
  background-color: #fefefe !important;
  width: 338.63px !important;
  z-index: 99 !important;

  * {
    border-radius: 0 !important;
    border: 0 !important;
    font-size: var(--font-size-14) !important;
    background-image: none !important;
    background-color: transparent !important;
  }

  select,
  button,
  input {
    padding: 0 !important;
  }

  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    width: auto !important;
  }

  .ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #b0aead;
    background: #e9e5e3;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 1px solid var(--color-midnight);
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
    background: none !important;
  }

  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
  }

  .ui-datepicker-prev::after {
    transform: rotate(45deg) scale(1.3);
    margin: 6px 0 0 6px;
  }

  .ui-datepicker-next {
    float: right;
    margin-right: 12px;
  }

  .ui-datepicker-next::after {
    transform: rotate(-135deg) scale(1.3);
    margin: 6px 0 0 6px;
  }

  .ui-datepicker-prev::after,
  .ui-datepicker-next::after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #b0aead;
    border-bottom: 2px solid #b0aead;
  }

  .ui-datepicker-prev:hover,
  .ui-datepicker-next:hover,
  .ui-datepicker-prev:hover::after,
  .ui-datepicker-next:hover::after {
    border-color: #5ed1cc;
  }

  .ui-datepicker-title {
    text-align: center;
  }

  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
  }

  .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: var(--color-midnight);
    margin-bottom: 5px;
    font-size: 13px;
    background: none !important;
  }

  .ui-datepicker-calendar td > a {
    font-weight: var(--font-weight-regular) !important;
    padding-right: 5px !important;
  }

  .ui-state-default {
    background-color: rgba(0, 0, 0, .08) !important;
    display: block;
    text-decoration: none;
    color: var(--color-midnight);
    line-height: 40px;
    font-size: 12px;
  }

  .ui-state-default:hover {
    background: rgba(0, 0, 0, .02) !important;
  }

  .ui-state-highlight {
    background-color: var(--color-white) !important;
    color: #cc2e2e !important;
    outline: 2px solid #cc2e2e !important;
    outline-offset: -2px;
  }

  .ui-state-active {
    background-color: var(--color-mint) !important;
    color: var(--color-midnight-blue) !important;
  }

  .ui-state-active {
    color: #5ed1cc;
  }

  .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
  }
}
