// Block specific
$offset-y: 8.6rem;
$offset-x-minus: -6.4rem;
$offset-x: 6.4rem;

.block.block-latest-selected-mustread {
  background: $color-midnight;

  &.block-blog-relevant {
    margin-top: 0;
  }

  .block-head.block-head-small {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $container-mobile) {
      align-items: flex-start;
    }
  }

  .cta-link {
    color: $color-mint;

    &::after {
      background: $color-mint;
    }
  }

  .block-head.block-head-small .block-title {
    @extend %general-heading-cta;
    color: $color-mint;
  }

  .row.row-latest .post {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);
    margin-top: $margin-between-grid-columns-large;
    margin-bottom: $padding-blocks-medium;

    @media (min-width: $container-ipad) {
      margin-bottom: $margin-between-grid-columns-large + $offset-y + $margin-between-text-elements;
    }

    @media (max-width: $container-ipad) {
      display: block;
    }

    .content {
      background: $color-mint;
      color: $color-midnight-blue;
      padding-top: $padding-blog-content-box-y;
      padding-bottom: $padding-blog-content-box-y;
      padding-left: $padding-blog-content-box-x;
      padding-right: $padding-blog-content-box-x;
      position: relative;
      z-index: 2;

      @media (min-width: $container-ipad) {
        transform: translate($offset-x-minus/2, $offset-y);
        margin-right: $offset-x-minus / 2;
      }

      @media (max-width: 1200px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 6rem;
        padding-right: 6rem;
      }

      @media (max-width: 500px) {
        padding: 4rem;
      }

      h3 {
        @extend %general-heading-cta;
        margin-top: 0;

        @media (max-width: 1200px) {
          font-size: 32px;
        }

        @media (max-width: 840px) {
          font-size: 28px;
        }

        @media (max-width: 500px) {
          font-size: $font-size-general-headings-mobile;
        }
      }
    }

    a {
      color: $color-midnight;
    }
  }

  .image {
    position: relative;
    height: 40rem;

    @media (min-width: $container-ipad) {
      height: 100%;
      transform: translateX($offset-x/2);
      margin-left: $offset-x-minus / 2;
    }
  }

  .container {
    overflow: visible;
  }

  .row.row-mustread {
    @include grid(3, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);

    @media (max-width: 890px) {
      @include grid(1, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns-large);
    }

    h3 {
      @extend %general-heading-small;
      margin-bottom: $margin-between-text-elements;
    }

    a {
      color: $color-mint;
    }

    p {
      font-size: var(--font-size-general-small);
      color: $color-white;
      margin-top: 0;
    }
  }
}
