// Block specific
$offset-y: 8.6rem;
$offset-x: -6.4rem;

.block.block-latest-selected-mustread {
  background: $color-midnight;

  .block-head.block-head-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-link {
    color: $color-mint;

    &::after {
      background: $color-mint;
    }
  }

  .block-head.block-head-small .block-title {
    @extend %general-heading-cta;
    color: $color-mint;
  }

  .row.row-latest .post {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);
    margin-top: $margin-between-grid-columns-large;
    margin-bottom: $margin-between-grid-columns-large + $offset-y + $margin-between-text-elements;

    .content {
      background: $color-mint;
      color: $color-midnight-blue;
      padding-top: $padding-blog-content-box-y;
      padding-bottom: $padding-blog-content-box-y;
      padding-left: $padding-blog-content-box-x;
      padding-right: $padding-blog-content-box-x;
      transform: translate($offset-x, $offset-y);
      position: relative;
      z-index: 2;
    }

    h3 {
      @extend %general-heading-cta;
      margin-top: 0;
    }

    a {
      color: $color-midnight;
    }
  }

  .image {
    position: relative;
  }

  .container {
    overflow: visible;
  }

  .row.row-mustread {
    @include grid(3, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);

    h3 {
      @extend %general-heading-small;
      margin-bottom: $margin-between-text-elements;
    }

    a {
      color: $color-mint;
    }

    p {
      font-size: 16px;
      color: $color-white;
      margin-top: 0;
    }
  }
}
