.block.block-left-image-text {
  position: relative;
  z-index: 3;
  padding-left: 0;
  padding-right: 0;
  background: transparent;

  // Because of process module, let's remove the bottom padding
  padding-bottom: 0;

  @media (max-width: $container-ipad) {
    margin-top: 5rem;
  }

  .container {
    overflow: visible;
  }

  .image {
    width: 100%;
    height: 55rem;
    margin-top: -10rem;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 50vw;

      @media (max-width: 870px) {
        width: 100vw;
      }
    }

    @supports (-ms-ime-align: auto) {
      width: 50vw;

      @media (max-width: 870px) {
        width: 100vw;
      }
    }

    @media (max-width: $container-ipad) {
      margin-top: -5rem;
    }

    @media (max-width: $container-mobile) {
      height: 35rem;
    }
  }

  .content {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;
    max-width: 100rem;
    position: relative;
    z-index: 1;

    @media (min-width: 860px) {
      margin-left: -20rem;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-ipad;
    }

    p {
      @extend %h3;
      font-weight: 300;
      line-height: 1.4;
    }
  }

  .cols {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);

    @media (max-width: 860px) {
      display: flex;
      flex-wrap: wrap;

      > * {
        width: 100%;
      }
    }
  }
}
