.block.block-logos {
  .container {
    overflow: visible;
  }

  .block-title {
    @extend %general-heading-small;
    margin-bottom: $padding-blocks-small;
    margin-top: 0;

    @media (max-width: $container-mobile) {
      text-align: center;
    }
  }
}

.block.block-logos .logo-wall {
  @include grid(6, $gutter_x: 100px, $gutter_y: 7rem);

  @media (max-width: 1500px) {
    @include grid(5, $gutter_x: 100px, $gutter_y: $margin-between-grid-columns);
  }

  @media (max-width: 1250px) {
    @include grid(4, $gutter_x: 100px, $gutter_y: $margin-between-grid-columns);
  }

  @media (max-width: 960px) {
    @include grid(3, $gutter_x: 50px, $gutter_y: $margin-between-grid-columns);
  }

  @media (max-width: 650px) {
    @include grid(3, $gutter_x: 20px, $gutter_y: 40px);
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    max-width: 150px;
    margin: 0 auto;
  }

  svg {
    max-height: 100px;
    max-width: 130px;
    width: auto;
    height: 100%;
    fill: $color-midnight;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

    path:not(.do-not-fill) {
      fill: $color-midnight;
    }
  }

  .do-not-fill {
    fill: $color-white;
  }

  .logo-ulkoministerio svg {
    max-width: 190px;
    max-height: 140px;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

    @media (max-width: 430px) {
      max-height: 50px;
      max-width: 70px;
      width: 100%;
    }
  }

  .logo-wotkins svg {
    max-width: 150px;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

     @media (max-width: 430px) {
      max-height: 50px;
      max-width: 70px;
      width: 100%;
    }
  }

  .logo-sfcaravan svg {
    max-width: 150px;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

     @media (max-width: 430px) {
      max-height: 50px;
      max-width: 70px;
      width: 100%;
    }
  }

  .logo-mediashake svg {
    max-width: 170px;
    max-height: 150px;
    width: 170px;
    height: auto;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

     @media (max-width: 430px) {
      max-height: 50px;
      max-width: 70px;
      width: 100%;
    }
  }

  .logo-ark svg,
  .logo-blackbruin svg {
    max-width: 100px;
    max-height: 100px;

    // iPhone and other phones
    @media (max-width: 650px) {
      max-height: 60px;
      max-width: 80px;
      width: 100%;
    }

     @media (max-width: 430px) {
      max-height: 50px;
      max-width: 70px;
      width: 100%;
    }
  }
}

.block.block-our-services + .block.block-logos {
  padding-top: 0;
}

.block-title-left-text-right + .block.block-logos {
  padding-top: 0;
}
