.block.block-logos {
  .block-title {
    @extend %general-heading-small;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.block.block-logos .logo-wall {
  @include grid(6, $gutter_x: 100px, $gutter_y: 100px);

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    max-height: 100px;
    max-width: 140px;
    width: auto;
    height: 100%;
    fill: $color-midnight;

    path:not(.do-not-fill) {
      fill: $color-midnight;
    }
  }

  .logo-elonen .do-not-fill {
    fill: $color-white;
  }
}

.block.block-our-services + .block.block-logos {
  padding-top: 0;
}
