.block.block-open-position {
  .container {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0rem);
    grid-template-columns: 3fr 7fr;

    @media (max-width: $container-ipad) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

body .block.block-open-position .col.col-sidebar ul,
body .block.block-open-position .col.col-sidebar ol {
  line-height: 1.77;

  li {
    line-height: 1.77;
  }
}
