.block.block-our-services {
  background: $color-white;
  color: $color-body;
  overflow: visible;
  padding-top: $padding-blocks-huge;
  padding-bottom: $padding-blocks-huge;

  + .block.block-our-services {
    padding-top: 0;
  }

  .cols.cols-services {
    @media (min-width: 960px) {
      display: flex;
    }

    .col.col-content {
      margin-right: $margin-between-grid-columns;
      margin-bottom: $margin-between-grid-columns;

      @media (min-width: 1500px) {
        width: 400px;
        margin-right: 150px;
      }

      p {
        @media (min-width: $container-ipad) {
          font-size: 18px;
          line-height: 1.5;
        }
      }
    }

    .col.col-services {
      @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);
      overflow: hidden;

      @media (min-width: 1500px) {
        width: calc(100% - (400px + 150px));
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-top: 0;
    }

    p {
      font-size: $font-size-general-small;

      @media (max-width: $container-mobile) {
        font-size: $font-min-size;
      }
    }

    .col-inner {
      min-width: 0;

      @media (min-width: $grid-base-size) {
        max-width: 350px;
      }
    }
  }

  .container {
    overflow: visible;
  }

  .block-head {
    padding-bottom: 0;
  }

  .col-title {
    @extend %general-heading-large;
    color: $color-midnight-blue;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5rem;

    svg {
      margin-bottom: 5.5rem;
      display: block;
      text-align: left;
      margin-top: -145px;

      @media (max-width: 1500px) {
        margin-top: -125px;
      }
    }
  }
}

.cols.cols-two {
  @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);
  margin-bottom: 10rem;

  &.col-two-opposite .col-content {
    order: 2;
    padding-left: 10rem;
    padding-right: 0;
  }

  &.col-two-opposite .col-image {
    order: 1;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .list-features {
    margin-bottom: 4rem;
  }

  .col-content {
    padding: 13rem 0;
    padding-right: 10rem;
    padding-left: 0;
  }

  .col-image {
    display: flex;
    background: $color-default-background;
  }
}
