.block.block-our-services {
  background: $color-cobalt-blue;
  color: $color-white;
  overflow: visible;
  z-index: 2;

  .block-title {
    color: $color-white;
  }

  .container {
    overflow: visible;
  }

  @media (max-width: 870px) {
    padding-right: 0;

    .block-head {
      padding-right: $padding-default-cols-ipad;
    }
  }

  @media (max-width: $container-mobile) {
    .block-head {
      padding-right: $padding-default-cols-mobile;
    }
  }

  .cta-link {
    margin-top: 0;
  }

  .cta-link a {
    color: $color-white;
  }

  .cta-link:after {
    background: $color-white;
  }

  h3 {
    color: $color-white;
    margin-top: 0;
  }

  a {
    color: $color-white;
    transition: all $transition-duration;
  }

  a:hover {
    opacity: .5;
  }

  .cols {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;

    @media (min-width: 1100px) {
      @include grid(3, $gutter_x: 10rem, $gutter_y: 0rem);

      .col-text,
      .col-featured-image {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          width: 26%;
        }

        @supports (-ms-ime-align: auto) {
          width: 26%;
        }
      }
    }

    @media (max-width: 1100px) {
      .col-text {
        width: 45%;

        &:nth-child(1) {
          margin-right: 5%;
        }
      }

      .col-featured-image {
        overflow: visible;
        width: 100%;
      }
    }

    @media (max-width: 870px) {
      .col-text {
        width: 100%;
        margin-bottom: 7rem;

        &:nth-child(1) {
          margin-top: 4rem;
          margin-right: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .image {
    height: 40rem;
    width: 100%;
    margin-right: -10rem;
    margin-bottom: -10rem;
    margin-top: 0;
    position: relative;
    bottom: -10rem;
    right: 0;
    z-index: 3;
    overflow: hidden;

    @media (min-width: 1100px) {
      position: absolute;
      width: 40vw;
      max-width: 65rem;
      height: 75rem;
      margin-bottom: 0;
      bottom: -8rem;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 100%;
      }

      @supports (-ms-ime-align: auto) {
        width: 100%;
      }
    }

    @media (min-width: 1500px) {
      width: 37vw;
      max-width: 100%;
    }

    @media (max-width: 870px) {
      margin-left: -2rem;
      width: calc(100% + 4rem);
      position: relative;
      margin-top: 8rem;
      bottom: 0;
    }
  }

  .col-featured-image {
    position: relative;
    min-width: 33vw;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 33%;
    }

    @supports (-ms-ime-align: auto) {
      width: 33%;
    }
  }
}
