.block.block-our-services {
  background: $color-dude-darkgrey;
  color: $color-dude-white;
  height: 100vh;

  .block-title {
    color: $color-dude-white;
  }

  @media (min-width: 600px) {
    padding-right: 0;
  }

  .cta-link a {
    color: $color-dude-white;
  }

  .cta-link:after {
    background: $color-dude-white;
  }

  h3 {
    color: $color-dude-white;
  }

  .cols {
    @include grid(3, $gutter_x: 10rem, $gutter_y: 0);
  }

  .image {
    @include background-cover();
    width: 40vw;
    height: 75rem;
    margin-top: -20vh;
  }
}
