.block.block-our-services {
  background: $color-white;
  color: $color-body;
  overflow: visible;
  padding-top: $padding-blocks-huge;
  padding-bottom: $padding-blocks-huge;

  + .block.block-our-services {
    padding-top: 0;
  }

  .step {
    color: $color-cobalt-blue;
    margin-bottom: 58px;
    display: block;
  }

  .cols.cols-services {
    display: flex;

    .col.col-content {
      width: 400px;
      margin-right: 150px;
    }

    .col.col-services {
      @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);
      width: calc(100% - (400px + 150px));
      overflow: hidden;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-top: 0;
    }

    p {
      font-size: $font-size-general-small;

      @media (max-width: $container-mobile) {
        font-size: $font-min-size;
      }
    }

    .col-inner {
      @media (min-width: $grid-base-size) {
        max-width: 350px;
      }
    }
  }

  .container {
    overflow: visible;
  }

  .block-head {
    padding-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    line-height: 1.77;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  li:before {
    width: 12px;
    height: 1px;
    background: $color-cobalt-blue;
    display: inline-flex;
    content: '';
    margin-right: 16px;
  }

  .col-title {
    @include responsive-font(32px, 60px);
    color: $color-cobalt-blue;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5rem;

    svg {
      margin-bottom: 5.5rem;
      display: block;
      text-align: left;
      margin-top: -145px;
    }
  }
}

.cols.cols-two {
  @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);
  margin-bottom: 10rem;

  &.col-two-opposite .col-content {
    order: 2;
    padding-left: 10rem;
    padding-right: 0;
  }

  &.col-two-opposite .col-image {
    order: 1;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .list-features {
    margin-bottom: 4rem;
  }

  .col-content {
    padding: 13rem 0;
    padding-right: 10rem;
    padding-left: 0;
  }

  .col-image {
    display: flex;
    background: $color-default-background;
  }
}
