.block.block-our-services {
  background: $color-dude-darkgrey;
  color: $color-dude-white;
  height: 100vh;
  padding-top: 30rem;

  .block-title {
    color: $color-dude-white;
    max-width: 35vw;
    margin: 0;
  }
}
