.block.block-process {
  background: $color-white;
  overflow: visible;

  .number svg {
    margin-bottom: $margin-between-text-elements;
  }

  h2,
  p,
  h3 {
    color: $color-midnight-blue;
  }

  h3 {
    @extend %general-heading-cta;
    margin-bottom: $margin-between-text-elements;
    font-weight: 400;
  }

  .cols {
    @include grid(3, $gutter_x: $margin-between-grid-columns, $gutter_y: 0rem);

    @media (max-width: 1100px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media (max-width: 1100px) {
    .col {
      width: 50%;
      padding-left: 5rem;
      padding-right: 5rem;
      margin-bottom: 5rem;
    }

    .col:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: 800px) {
    .col {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 5rem;
    }

    .col:last-of-type {
      margin-bottom: 0;
    }
  }

  .col p {
    @media (min-width: $container-ipad) {
      font-size: 16px;
    }
  }
}
