/* stylelint-disable selector-max-class, selector-max-specificity, no-descending-specificity, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class, selector-attribute-quotes, max-nesting-depth */
.floating-actions button:focus {
  outline: 0;
}

.block.block-references {
  padding-bottom: 24rem;

  @media (max-width: 1200px) {
    padding-bottom: $padding-blocks-medium;
  }

  @media (max-width: $container-ipad) {
    padding-bottom: $padding-blocks-medium;
  }

  &.block-references-related:not(.block-cta-with-phone-input) {
    padding-top: 0;

    // Adding offset amount to padding
    padding-bottom: $padding-blocks-medium + 4rem;

    .block-title {
      @extend %general-heading-cta;
      color: $color-white;
      margin-bottom: $margin-between-grid-columns-large;
      font-weight: $headings-weight;
    }

    .reference-wrapper .reference-content {
      > p,
      > h3 {
        color: $color-midnight-blue;
      }
    }
  }

  .floating-actions {
    width: 115px;
    position: relative;
    text-align: center;
    font-size: var(--font-size-general-small);

    @media (max-width: $grid-base-size + 150px) {
      margin-right: 2rem;
    }

    button {
      color: $color-midnight;
      transition: all $transition-duration;
    }

    .slick-disabled {
      opacity: .2;
    }

    button:hover {
      cursor: pointer;
      opacity: .2;
    }

    button:focus {
      opacity: 1;
    }

    .button-prev {
      position: absolute;
      left: 0;
    }

    .button-next {
      position: absolute;
      right: 0;
    }
  }

  .container {
    overflow: visible;
  }

  .container .block-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $padding-blocks-small;

    // Ensure space after arrows are 60px
    height: 76px;

    // We don't have title in this module so justifying content to right end
    justify-content: flex-end;

    .block-title {
      margin-bottom: 12rem;
    }

    .block-title::before {
      background: $color-white;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    min-width: 384px;
    margin-right: $margin-between-grid-columns-large;

    @media (max-width: 730px) {
      min-width: 320px;
    }
  }

  .reference-wrapper {
    &.reference-wrapper-cols {
      @include grid(3, $gutter_x: $margin-between-grid-columns-large, $gutter_y: 14rem);

      @media (max-width: 1100px) {
        @include grid(2, $gutter_x: $margin-between-grid-columns-large, $gutter_y: 14rem);
        width: calc(100% - 4rem);
      }

      @media (max-width: 730px) {
        @include grid(1, $gutter_x: $margin-between-grid-columns-large, $gutter_y: 14rem);
        width: 100%;
      }
    }

    .reference-title {
      font-size: 24px;
      margin-top: 0;
      font-weight: 400;
      line-height: 1.5;
    }

    .reference-title a {
      color: $color-midnight;
    }

    .reference {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      height: 536px;
      width: 100%;

      @media (min-width: 730px) {
        &:hover .reference-content {
          transform: translateX(3.5rem) translateY(3.5rem);
        }
      }

      @media (min-width: 730px) {
        max-width: 384px;
      }

      &::after {
        height: auto;
        content: '';
        display: block;

        // Aspect ratio
        padding-bottom: 133%;

        @media (max-width: 1200px) {
          padding-bottom: 120%;
        }
      }
    }
  }

  .reference-image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 536px;
    width: 100%;

    &::after {
      height: auto;
      content: '';
      display: block;

      // Aspect ratio
      padding-bottom: 133%;

      @media (max-width: 1200px) {
        padding-bottom: 120%;
      }
    }
  }

  .reference-image .image {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 536px;

    &::after {
      height: auto;
      content: '';
      display: block;

      // Aspect ratio
      padding-bottom: 133%;
    }
  }

  .reference-content {
    padding: 4.5rem;
    overflow: hidden;
    background: $color-white;
    box-shadow: 0 2px 28px 0 rgba($color-black, .07);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(4rem) translateY(4rem);
    z-index: 2;
    transition: all .33s ease-in-out;

    @media (max-width: 730px) {
      transform: translateX(2rem) translateY(4rem);
      padding: 5rem;
    }

    @media (max-width: 430px) {
      padding: 4rem;
    }

    h3 {
      margin: 0;
    }
  }
}

body:not(.page-id-9):not(.page-id-4485) .block.block-references .block-head .block-title {
  @extend .screen-reader-text;
}

body.page-id-4485 .block.block-references,
body.page-id-9 .block.block-references {
  padding-top: 0;

  .container .block-head {
    justify-content: space-between;
    height: auto;
    margin-bottom: 4.5rem;

    .block-title {
      @extend %general-heading-alt;
      color: $color-white;
      margin-bottom: 0;
    }
  }

  .reference-content {
    > p,
    > h3 {
      color: $color-midnight-blue;
    }
  }
}
