.block.block-reference-quote {
  background: $color-dude-deep-black;
  text-align: center;

  .container {
    padding-top: $padding-default-rows;
    padding-bottom: $padding-default-rows;
  }

  h2 {
    margin-top: 0;
  }

  h2,
  p {
    color: $color-dude-white;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote:before {
    content: '”';
    display: inline-block;
  }

  p {
    font-weight: 300;
  }
}
