.block.block-references-one {
  .content p:first-of-type {
    margin-top: 0;
  }

  .col.col-reference-image {
    display: flex;
    align-items: center;
  }

  .content p:last-of-type {
    margin-bottom: 0;
  }

  .button-wrapper {
    margin-top: $margin-between-text-elements;
  }

  .reference-image-skew {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 2;
    display: flex;
    justify-content: flex-end;

    img {
      backface-visibility: hidden;
      box-shadow: -12px 31px 38px 0 rgba(0, 0, 0, .02);
      background-color: #e9e9e9;
      max-height: 780px;
      width: auto;
    }
  }
}

.block.block-references-one + .block.block-references {
  padding-top: 0;
}
