.block.block-cta-text.block-cta-text-single-reference {
  background: $color-dude-whitegreyish;
}

.block .block-head.block-head-no-padding-top {
  padding-top: 0;
}

.block.block-references {
  &.block-references-related {
    padding-top: 0;
  }

  .container {
    overflow: visible;
  }

  .cols.cols-references {
    margin-top: $padding-default-rows;
  }

  .block-head {
    padding-bottom: 7rem;

    &.block-head-related {
      padding-bottom: 0;
    }
  }

  .cols {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: 0rem);
    position: relative;
    z-index: 2;

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: $padding-general-content-box-mobile, $gutter_y: 0rem);
    }

    @media (max-width: 640px) {
      display: block;
    }
  }

  .col.has-grey-bg {
    margin-top: $margin-general-offset;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: 0;
    }

    @supports (-ms-ime-align: auto) {
      margin-top: 0;
    }

    // Blog links
    a:not(.arrow-link) {
      background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:not(.arrow-link):hover,
    a:not(.arrow-link):focus,
    a:not(.arrow-link):active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }
  }

  .col {
    padding: $padding-general-content-box;
    position: relative;
    padding-left: 2rem;

    @media (max-width: 900px) {
      padding-right: $padding-general-content-box-mobile;
    }
  }

  blockquote {
    margin: 0;
    padding-top: $padding-general-content-box;
    padding-bottom: 3rem;
    color: $color-dude-grey-text;

    footer {
      color: $color-dude-grey-text;
    }
  }

  .reference-image {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:not(.reference-image-main) .background-image:after,
    &:not(.reference-image-main):after {
      height: auto;
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &.reference-image-main {
      height: 70rem;

      @media (max-width: 860px) {
        height: auto;

        &:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }
    }
  }

  .cols-references .content {
    padding: 2rem;
  }

  .cols-references {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);

    @media (min-width: 1300px) {
      @include grid(3, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    }

    @media (max-width: $container-ipad) {
      display: block;
    }

    .col {
      padding: 0;

      @media (max-width: $container-ipad) {
        margin-bottom: 5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.home .block.block-references .cols.cols-references {
  margin-top: $padding-default-rows;

  @media (max-width: $container-ipad) {
    margin-bottom: 0;
  }
}

.block.block-references-archive .cols.cols-references {
  margin-top: 0;
  margin-bottom: 0;
}
