.block.block-cta-text.block-cta-text-single-reference {
  background: $color-whitegreyish;
}

.block .block-head.block-head-no-padding-top {
  padding-top: 0;
}

.block.block-references {
  .col-image {
    position: relative;
  }

  .col-image:after {
    z-index: 3;
    width: 100%;
    height: 100%;
    background: transparent;
    bottom: -20px;
    right: -20px;
    border: 1px solid $color-mint;
    position: absolute;
    content: '';
    transition: all $transition-duration;
  }

  &.block-references-related {
    padding-top: 0;
  }

  .container {
    overflow: visible;
  }

  .cols.cols-references {
    margin-top: $padding-default-rows;
  }

  .col-featured-image {
    position: relative;
  }

  .block-head {
    padding-bottom: 0;
  }

  .cols {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: 0rem);
    position: relative;
    z-index: 2;

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: $padding-general-content-box-mobile, $gutter_y: 0rem);
    }

    @media (max-width: 640px) {
      display: block;
    }
  }

  .col.has-grey-bg {
    margin-top: $margin-general-offset;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: 0;
    }

    @supports (-ms-ime-align: auto) {
      margin-top: 0;
    }

    // Blog links
    a:not(.arrow-link) {
      background-image: linear-gradient(to top, $color-deep-black, $color-deep-black);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:not(.arrow-link):hover,
    a:not(.arrow-link):focus,
    a:not(.arrow-link):active {
      background-size: 100% 2.8rem;
      color: $color-white;
    }
  }

  .reference-image {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:not(.reference-image-main) .background-image:after,
    &:not(.reference-image-main):after {
      height: auto;
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  .cols-references .content {
    padding: 2rem;
  }

  .cols-references {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);

    @media (min-width: 1300px) {
      @include grid(3, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    }

    @media (max-width: $container-ipad) {
      display: block;
    }

    .col {
      padding: 0;

      @media (max-width: $container-ipad) {
        margin-bottom: 5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.home .block.block-references .cols.cols-references {
  margin-top: $padding-default-rows;

  @media (max-width: $container-ipad) {
    margin-bottom: 0;
  }
}

.block.block-references-archive .cols.cols-references {
  margin-top: 0;
  margin-bottom: 0;
}
