.block.block-references {
  .container {
    overflow: visible;
  }

  .block-head {
    padding-bottom: 7rem;
  }

  .cols {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: 0);
    margin-bottom: $padding-general-content-box * 2;
  }

  .col.has-grey-bg {
    margin-top: $margin-general-offset;
  }

  .col {
    padding: $padding-general-content-box;
    position: relative;
    padding-left: 2rem;

    * {
      position: relative;
      z-index: 2;
    }
  }

  blockquote {
    margin: 0;
    padding-top: $padding-general-content-box;
    padding-bottom: 3rem;
    color: $color-dude-grey-text;

    footer {
      color: $color-dude-grey-text;
    }
  }

  .col-featured-image .image {
    @include background-cover();
    width: 100%;
    height: 47rem;
  }

  .cols-references .content {
    padding: 2rem;
  }

  .cols-references {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    margin-top: $padding-default-rows;

    .col {
      padding: 0;
    }
  }
}
