.block.block-cta-text.block-cta-text-single-reference {
  background: $color-dude-whitegreyish;
}

.block.block-references {
  &.block-references-related {
    padding-top: 0;
  }

  .container {
    overflow: visible;
  }

  .block-head {
    padding-bottom: 7rem;

    &.block-head-related {
      padding-bottom: 0;
    }
  }

  .cols {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: 0);
    margin-bottom: $padding-general-content-box * 2;
    position: relative;
    z-index: 2;

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: $padding-general-content-box-mobile, $gutter_y: 0);
    }

    @media (max-width: 640px) {
      display: block;
    }
  }

  .col.has-grey-bg {
    margin-top: $margin-general-offset;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: 0;
    }

    @supports (-ms-ime-align: auto) {
      margin-top: 0;
    }
  }

  .col {
    padding: $padding-general-content-box;
    position: relative;
    padding-left: 2rem;

    @media (max-width: 900px) {
      padding-right: $padding-general-content-box-mobile;
    }
  }

  blockquote {
    margin: 0;
    padding-top: $padding-general-content-box;
    padding-bottom: 3rem;
    color: $color-dude-grey-text;

    footer {
      color: $color-dude-grey-text;
    }
  }

  .reference-image {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:not(.reference-image-main) .background-image:after,
    &:not(.reference-image-main):after {
      height: auto;
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &.reference-image-main {
      height: 70rem;
    }
  }

  .cols-references .content {
    padding: 2rem;
  }

  .cols-references {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    margin-top: $padding-default-rows;

    @media (min-width: 1600px) {
      @include grid(3, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    }

    @media (max-width: $container-ipad) {
      display: block;
    }

    .col {
      padding: 0;

      @media (max-width: $container-ipad) {
        margin-bottom: 5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
