.floating-actions button:focus {
  outline: 0;
}

.block.block-references {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24rem;

  .floating-actions {
    width: 115px;
    position: relative;
    text-align: center;
    font-size: $font-min-size;

    button {
      color: $color-midnight;
      transition: all $transition-duration;
    }

    .slick-disabled {
      opacity: .2;
    }

    button:hover {
      cursor: pointer;
      opacity: .2;
    }

    .button-prev {
      position: absolute;
      left: 0;
    }

    .button-next {
      position: absolute;
      right: 0;
    }
  }

  .container {
    overflow: visible;
  }

  .container .block-head {
    display: flex;
    flex-wrap: wrap;

    // Ensure space after arrows are 60px
    height: 76px;

    // We don't have title in this module so justifying content to right end
    justify-content: flex-end;

    .block-title {
      margin-bottom: 12rem;
    }

    .block-title:before {
      background: $color-white;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    min-width: 384px;
    margin-right: $margin-between-grid-columns-large;
  }

  .reference-wrapper {
    .reference-title {
      font-size: 24px;
      margin-top: 0;
      font-weight: 400;
      line-height: 1.5;
    }

    .reference-title a {
      color: $color-body;
    }

    .reference {
      display: flex;
      flex-wrap: wrap;
      max-width: 384px;
      position: relative;
      height: 536px;
      width: 100%;

      &:after {
        height: auto;
        content: '';
        display: block;

        // Aspect ratio
        padding-bottom: 133%;
      }
    }
  }

  .reference-image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 536px;
    width: 100%;

    &:after {
      height: auto;
      content: '';
      display: block;

      // Aspect ratio
      padding-bottom: 133%;
    }
  }

  .reference-image .image {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 536px;

    &:after {
      height: auto;
      content: '';
      display: block;

      // Aspect ratio
      padding-bottom: 133%;
    }
  }

  .reference-content {
    padding: 4.5rem;
    overflow: hidden;
    background: $color-white;
    box-shadow: 0 2px 28px 0 rgba($color-black, .07);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(4rem) translateY(4rem);
    z-index: 2;

    h3 {
      margin: 0;
    }
  }

  .reference-content p {
    // Temp:
    font-size: $font-size-general-small;
    height: 22px;
    overflow: hidden;
    padding-right: 85px;
  }
}

body:not(.page-id-9):not(.page-id-4485) .block.block-references .block-head .block-title {
  @extend .screen-reader-text;
}

body.page-id-4485 .block.block-references,
body.page-id-9 .block.block-references {
  padding-top: 0;

  .block-head {
    justify-content: space-between;
    height: auto;

    .block-title {
      @extend %general-heading-alt;
      color: $color-white;
      margin-bottom: $margin-between-grid-columns-large;
    }
  }

  .reference-content {
    > p,
    > h3 {
      color: $color-midnight-blue;
    }
  }
}
