.block.block-references {
  padding-left: 0;
  padding-right: 0;

  .floating-actions {
    width: 115px;
    position: relative;
    text-align: center;
    font-size: $font-min-size;

    button {
      color: $color-midnight-blue;
      transition: all $transition-duration;
    }

    .slick-disabled {
      opacity: .2;
    }

    button:hover {
      cursor: pointer;
      opacity: .2;
    }

    .button-prev {
      position: absolute;
      left: 0;
    }

    .button-next {
      position: absolute;
      right: 0;
    }
  }

  .container .block-head {
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .block-title {
      margin-bottom: 12rem;
    }

    .block-title:before {
      background: $color-white;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .slick-list {
    padding: 0 !important;
  }

  .slick-slide {
    width: 1184px;
  }

  @media (min-width: $grid-base-size) {
    .slick-track {
      left: -80px !important;
    }
  }

  .reference-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'main-reference small-reference' 'main-reference small-reference-2';
    grid-row-gap: 40px;
    grid-column-gap: 85px;

    .reference-title {
      font-size: 24px;
      margin-top: 0;
      font-weight: 400;
    }

    .reference-title a {
      color: $color-body;
    }

    .reference:nth-child(1) {
      grid-area: main-reference;

      .reference-image {
        height: 642px;
        width: 642px;
      }
    }

    .reference:nth-child(2) {
      grid-area: small-reference;

      .reference-image {
        height: 248px;
        width: 372px;
      }
    }

    .reference:nth-child(3) {
      grid-area: small-reference-2;

      .reference-image {
        height: 248px;
        width: 372px;
      }
    }
  }

  .reference-image {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:not(.reference-image-main) .background-image:after,
    &:not(.reference-image-main):after {
      height: auto;
      content: '';
      display: block;

      // 4:3 aspect ratio
      padding-bottom: 75%;
    }
  }

  .reference-content {
    margin-top: 3rem;
    overflow: hidden;
  }

  .reference-content p {
    // Temp:
    font-size: $font-size-general-small;
    height: 22px;
    overflow: hidden;
    padding-right: 85px;
  }
}
