.block.block-text-image {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  .cols {
    @include grid(2, $gutter_x: 10rem, $gutter_y: 0rem);

    @media (max-width: 1260px) {
      grid-template-columns: 60vw 40vw;
      grid-column-gap: 0;
    }

    @media (max-width: $container-ipad) {
      display: block;
    }
  }

  .col.col-content {
    padding-left: $padding-default-cols;
    padding-right: $padding-default-cols;
    padding-top: $padding-default-rows;
    padding-bottom: $padding-default-rows;

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
      padding-top: $padding-default-rows-ipad;
      padding-bottom: $padding-default-rows-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
      padding-top: $padding-default-rows-mobile;
      padding-bottom: $padding-default-rows-mobile;
    }
  }

  ul,
  li {
    margin: 0;
    list-style: none;
    padding: 0;

    br {
      display: none;
    }

    svg {
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
      min-width: 3rem;
      position: relative;
      top: 2px;
    }
  }

  li {
    margin-bottom: 3rem;
    display: flex;
  }

  li:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $container-ipad) {
    padding-right: 0;
  }
}

body.page-id-4485,
body.page-id-9 {
  .block.block-text-image {
    padding-bottom: 0;
  }

  .block.block-text-image .col.col-content {
    padding-bottom: 15rem;

    @media (max-width: $container-ipad) {
      padding-bottom: $padding-default-rows-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-bottom: $padding-default-rows-mobile;
    }
  }

  .block.block-gallery {
    padding-top: 0;
  }
}

body.page-id-9 {
  .col-image > div {
    background-position: left;
  }
}
