.block.block-timeline {
  .col {
    a {
      background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }
  }

  @media (max-width: 1200px) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;

    .columns {
      flex-wrap: wrap;
    }

    .columns .column.col {
      width: 100%;
    }

    .col-timeline {
      margin-bottom: 5rem;
    }
  }

  @media (max-width: 680px) {
    padding-left: 0;
    padding-right: 0;
  }

  .col-timeline .row {
    display: flex;
    padding: 4rem 7.5rem;

    @media (max-width: $container-ipad) {
      padding-top: $padding-default-rows-ipad;
      padding-bottom: $padding-default-rows-ipad;
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-top: $padding-default-rows-mobile;
      padding-bottom: $padding-default-rows-mobile;
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }

    .row,
    h2,
    p,
    .action {
      transition: all $transition-duration;
    }

    &:hover h2,
    &.active h2 {
      color: $color-dude-black;
    }

    &:hover p,
    &:hover .action,
    &.active .action,
    &.active * {
      opacity: 1;
      color: $color-dude-black;
    }

    p,
    .action,
    .action:focus {
      @extend %default;

      @include responsive-font(17px, 19px);
      cursor: pointer;
      opacity: .75;
      width: 80%;
      padding-left: 4rem;
      border: 0;
      border-radius: 0;
      background: transparent;
      text-align: left;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (max-width: $container-mobile) {
        width: 100%;
      }
    }

    &:first-child h2:after {
      content: '';
      width: 1px;
      background: rgba($color-dude-black, .2);
      height: 100%;
      position: absolute;
      margin-left: 4.5rem;
      top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      @extend %h1;
      padding-right: 5rem;
      margin: 0;
      color: rgba($color-dude-black, .2);
    }
  }

  .col-image .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65rem;
    max-height: 75rem;
    margin-top: -7.5rem;
    margin-left: -5rem;
    display: block;
    z-index: 0;

    .background-image {
      background-position: bottom;
      max-height: 75rem;
    }
  }

  .label {
    @extend %h4;
    background: $color-dude-black;
    color: $color-dude-white;
    padding: 4rem;
    font-weight: 300;
    max-width: 45rem;
    position: relative;
    z-index: 1;
  }
}
