.block.block-timeline {
  padding-top: 0;
  padding-bottom: 0;

  .col a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link),
  .active a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link) {
    @extend %textlink;
  }

  .block-title {
    font-weight: 400;
    margin-bottom: $margin-between-text-elements;
  }

  .row:hover h2,
  .row.active h2 {
    color: $color-cobalt-blue;
  }

  @media (max-width: 1200px) {
    .columns {
      flex-wrap: wrap;
    }

    .columns .column.col {
      width: 100%;
    }

    .col-timeline {
      margin-bottom: 5rem;
    }
  }

  .col-timeline .row {
    display: flex;
    padding: 4rem 7.5rem 4rem 0;

    @media (max-width: 1200px) {
      padding: 4rem 0;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 380px) {
      width: 100%;
      flex-wrap: wrap;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .row,
    h2,
    p,
    button.action {
      transition: all $transition-duration;
    }

    p,
    button.action,
    button.action:focus {
      @extend %default;
      cursor: pointer;
      width: 80%;
      padding-left: 4rem;
      border: 0;
      border-radius: 0;
      background: transparent;
      text-align: left;

      @media (max-width: 380px) {
        padding-left: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (max-width: $container-mobile) {
        width: 100%;
      }
    }

    &:first-child h2:after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      margin-left: 4.5rem;
      top: 0;

      @media (max-width: 380px) {
        display: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      @extend %h1;
      margin: 0;
      font-weight: 400;

      @media (min-width: 720px) {
        padding-right: 5rem;
      }

      @media (max-width: 380px) {
        margin-bottom: 3rem;
      }
    }

    .action:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $container-mobile) {
    .col-image {
      display: none;
    }
  }

  .col-image .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65rem;
    max-height: 75rem;
    margin-top: -7.5rem;
    margin-left: -5rem;
    display: block;
    z-index: 0;

    @media (max-width: 600px) {
      margin-left: 0;
      height: 45rem;
    }

    .background-image {
      background-position: bottom;
      max-height: 75rem;
    }
  }

  .label {
    @extend %h4;
    background: $color-white;
    box-shadow: 0 2px 39px 0 rgba($color-black, .07);
    color: $color-midnight-blue;
    padding: 4rem;
    font-weight: 400;
    max-width: 45rem;
    position: relative;
    z-index: 1;
  }
}
