.block.block-title-left-text-right {
  background: $color-white;
  padding-top: $padding-blocks-large;
  padding-bottom: $padding-blocks-large;

  h2 {
    @include responsive-font(32px, 54px);
    line-height: 1.24;
    font-weight: 400;
    margin: 0;
    padding-right: 70px;
  }

  .cols {
    display: flex;
  }

  .col.col-title {
    width: 600px;
    margin-right: 70px;
    margin-bottom: 0;
  }

  .col.col-text {
    width: calc(100% - (600px + 70px));
  }
}

// Pages with alternate module colors
body.page.page-id-9 {
  .block.block-title-left-text-right {
    background: $color-midnight;

    h2 {
      color: $color-mint;
    }

    p {
      color: $color-white;
    }
  }
}
