.block.block-title-left-text-right {
  background: $color-white;
  padding-top: 12rem;
  padding-bottom: 12rem;

  h2 {
    @include responsive-font(32px, 54px);
    line-height: 1.24;
    font-weight: 400;
    margin: 0;
    padding-right: 70px;
  }

  .cols {
    display: flex;
  }

  .col.col-title {
    width: 600px;
    margin-right: 70px;
  }

  .col.col-text {
    width: calc(100% - (600px + 70px));
  }
}
