.block.block-title-left-text-right {
  background: $color-white;

  h2 {
    @extend %general-heading-alt;
    margin: 0;
    padding-right: 70px;
  }

  .cols {
    @media (min-width: 900px) {
      display: flex;
    }
  }

  .col.col-title {
    margin-bottom: $margin-between-text-elements;

    @media (min-width: 900px) {
      margin-bottom: 0;
    }

    @media (min-width: 1500px) {
      width: 600px;
      margin-right: 70px;
    }
  }

  .col.col-text {
    @media (min-width: 1500px) {
      width: calc(100% - (600px + 70px));
    }
  }
}

.block.block-title-left-text-right + .block.block-title-left-text-right {
  padding-top: 0;
}
