body.page-id-4487 .block.block-wide-text {
  padding-top: 0;
}

body .block.block-wide-text-contact .container {
  display: flex;
  flex-wrap: wrap;

  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_page_footer input.button,
  .gform_wrapper .gform_footer input[type=submit],
  .gform_wrapper .gform_page_footer input[type=submit] {
    @extend %default;
  }

  .gform_wrapper .gform_footer {
    margin-top: 2rem;
    padding-top: 0;
  }

  @media (min-width: 1100px) {
    .gform_wrapper {
      padding-right: $padding-default-cols;
    }
  }

  .gform_wrapper,
  .col-image {
    width: 50%;
    position: relative;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  .image {
    width: 100%;
    height: 60rem;

    @media (max-width: 700px) {
      height: auto;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .col.col-image {
    margin-right: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: visible;
  }
}

@media (min-width: 1100px) {
  body .block.block-wide-text-contact {
    padding-right: 0;
  }
}

body .block.block-wide-text form {
  input[type=submit] {
    border-color: $color-deep-black;
  }

  textarea {
    @media (max-width: 1500px) {
      min-height: 200px;
    }

    @media (max-width: $container-mobile) {
      min-height: 250px;
    }
  }

  input,
  textarea,
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    max-width: 100%;
    width: 100%;
    border: 1px solid $color-superlightgrey;
    padding: 2rem;

    &:focus {
      outline: 0;
      border-color: $color-deep-black;
    }

    @media (max-width: 1300px) {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
    }

    &::placeholder {
      opacity: 1;
      color: $color-grey-text;
    }
  }

  ul {
    @media (max-width: 1300px) {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    #field_2_7 {
      width: 100% !important;
    }

    #field_2_1 {
      margin-bottom: 3rem;
    }

    > li {
      margin-top: 0;
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 0;
    }

    > li label,
    div:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker) {
      margin-top: 0;
    }
  }

  ul,
  li,
  span {
    margin: 0;
    padding: 0;
    border: 0;
  }

  li label,
  li h2 {
    @extend %h2;
    font-weight: 300;
    margin-top: 4rem;
    margin-bottom: 1rem;

    @media (max-width: 1300px) {
      margin-top: 4rem !important;
      margin-bottom: 1rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
