.block.block-wide-text .container {
  h2,
  h3,
  h4 {
    @extend %general-heading-small;
    font-weight: 500;
  }
}

body:not(.page-id-6357) .block.block-wide-text .container {
  @extend .gutenberg-content;
  max-width: $article-max-width;
}
