.block.block-blog {
  padding-top: 0;
  overflow: visible;

  .container {
    overflow: visible;
  }

  .cols {
    @include grid(2, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);

    @media (min-width: 1600px) {
      @include grid(3, $gutter_x: $padding-general-content-box, $gutter_y: $padding-general-content-box);
    }

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: 5rem, $gutter_y: 5rem);
    }

    .text-content {
      margin-bottom: $margin-between-text-elements;

      p {
        font-size: 16px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .image {
      margin-bottom: 4rem;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    h3 {
      @extend %general-heading-small;

      a {
        color: $color-midnight;
      }
    }
  }

  .date {
    color: $color-midnight;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
