.block.block-blog-archive {
  &.is-archive {
    padding-top: $padding-blocks-large;

    @media (max-width: $container-mobile) {
      padding-top: $padding-blocks-medium;
    }
  }

  &:not(.is-archive) .archive-head .block-title {
    @extend %general-heading-alt;
  }

  .archive-head {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $margin-between-text-elements;

    .filter-label {
      order: 1;
    }

    .filters {
      order: 2;
    }

    .block-title {
      order: 3;
    }
  }

  .filter-label:last-of-type:not(.button-wrapper) {
    @extend %general-heading-small;
    width: 100%;
  }

  .block-title {
    width: 100%;
  }

  .filters {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $margin-between-grid-columns;
    margin-top: 0;
    margin-left: 0;
    padding: 0;

    li {
      display: inline-flex;
      margin: 0;
      padding: 0;
      align-items: center;

      &::before {
        display: none;
      }

      &.current-cat a,
      a:hover {
        border-color: $color-midnight;
        background: $color-midnight;
        color: $color-mint;
      }
    }

    li a {
      margin: 0 13px 13px 0;
      font-size: $font-size-general-small;
      border: 1px solid $color-midnight;
      padding: 7px 17px;
      line-height: 1;
      color: $color-midnight;
      text-decoration: none;

      @media (max-width: 600px) {
        padding: 6px 8px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 760px) {
  .block.block-hero.block-hero-blog + .block-cta-with-image.block-latest-blog-post {
    padding-top: 0;
  }
}
