body.post-type-archive-merch {
  background-color: $color-midnight;

  // Merch hero
  .block.block-hero.block-hero-merch {
    > .container {
      padding-top: 0;
    }

    h1 {
      margin: 0 auto;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    h1 span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 18px;
      text-transform: uppercase;
      width: 100%;
    }

    svg {
      display: block;
      margin-top: 55px;
    }

    p {
      font-size: var(--font-size-18);
      line-height: 27px;
      margin-top: 7rem;
      margin-bottom: 7rem;
      color: $color-white;

      .is-external-link::after {
        background-image: url('../svg/external-link-white.svg') !important;
      }
    }
  }
}
