.content-area .block.block-merch {
  margin-top: 6rem;
  position: relative;
  z-index: 4;

  .cols {
    @include grid(3, $gutter_x: 4rem, $gutter_y: 4rem);

    @media (max-width: 1550px) {
      @include grid(2, $gutter_x: 4rem, $gutter_y: 4rem);
    }

    @media (max-width: 760px) {
      display: block;
    }

    .col-product {
      overflow: hidden;

      @media (max-width: 760px) {
        display: block;
        margin-bottom: 5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .sold-out {
    position: absolute;
    z-index: 33;
    transform: rotate(-45deg);
    background: #e64242;
    width: 500px;
    width: 69rem;
    padding-left: 0;
    left: -50px;
    left: -20rem;
    padding-right: 14rem;
    font-size: 31px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  .product-header {
    display: flex;
    justify-content: space-between;

    h2 {
      @extend %h4;
      margin-bottom: .5rem;
    }

    p {
      font-weight: 600;
    }
  }

  .product-image {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .image {
    width: 100%;
    height: 60rem;
    margin-bottom: 2rem;
  }

  .models {
    display: flex;
    margin-bottom: 1.5rem;

    @media (max-width: 1580px) {
      flex-wrap: wrap;
    }

    button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
      width: 50%;
      height: 5.5rem;
      background: $color-white;
      border: 1px solid $color-deep-black;
      color: $color-deep-black;
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
      justify-content: center;

      @media (max-width: 1580px) {
        width: 100%;
        margin-right: 0;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      &.active {
        background: $color-deep-black;
        border-color: $color-deep-black;
        color: $color-white;
      }

      &:first-child {
        width: calc(50% - 1rem);
        margin-right: 1rem;

        @media (max-width: 1580px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }

    &.models-1 button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button),
    &.models-1 button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button):first-child {
      width: 100%;
      margin-right: 0;

      @media (max-width: 1580px) {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .sizes {
    display: none;

    &.visible {
      display: block;
    }
  }

  .sizes button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: .5rem;
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: $color-white;
    border: 1px solid $color-deep-black;
    color: $color-deep-black;

    @media (max-width: 1580px) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &:hover {
      background-color: $color-superlightgrey;
    }

    &.active {
      background: $color-deep-black;
      border-color: $color-deep-black;
      color: $color-white;
    }
  }

  button.add-to-cart:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
    background: $color-white;
    border: 1px solid $color-deep-black;
    color: $color-deep-black;
    height: 5.5rem;
    display: inline-flex;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @media (max-width: 1580px) {
      height: auto;
      padding-top: .8rem;
      padding-bottom: .8rem;
      font-size: 17px;
      padding-left: 1.58rem;
      padding-right: 1.8rem;
    }
  }

  .choices {
    display: flex;
    justify-content: space-between;
  }

  .disabled,
  [disabled] {
    opacity: .25;
  }
}

// Simple pay stuff
// Test badge position fix
.simpay-test-mode-badge-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.simpay-modal,
.simpay-modal__body,
.simpay-modal__content {
  overflow: hidden !important;
}

.simpay-modal-control-open {
  display: none;
}

body .simpay-modal .simpay-field-wrap input,
body .simpay-modal .simpay-field-wrap select,
body .simpay-modal .simpay-card-wrap {
  border-radius: 0 !important;
  margin-top: 2px !important;
}

.simpay-address-city-container {
  margin-right: 15px !important;
  margin-bottom: 15px;
}

.simpay-form-control.simpay-checkout-btn-container {
  margin-top: 15px;
}

// Hide Simple pay form inputs that are not needed on the front-end
.simpay-form-control.simpay-same-address-toggle-container,
.simpay-custom-amount-wrap.simpay-field-wrap,
.simpay-address-state-container,
.simpay-address-country-container,
.simpay-address-billing-container-label,
label[for="simpay-4535-text-8"],
#simpay-4535-text-8 {
  position: absolute;
  left: -999999px;
}

.simpay-form-control.simpay-form-control--card.simpay-card-container {
  margin-top: -29px;

  @media (max-width: 480px) {
    margin-top: -14px;
  }
}

.simpay-form-control.simpay-address-container.simpay-billing-address-container,
.simpay-address-zip-wrap,
.simpay-address-city-wrap {
  margin-bottom: 0 !important;
}

.cart {
  position: fixed;
  z-index: 8;
  left: 0;
  bottom: 0;
  background: $color-black;
  padding: 3rem;
  transition: all $transition-duration;
  display: flex;
  box-shadow: 10px 10px 30px -5px rgba($color-black, .15);
  max-width: 100%;
  width: 100%;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .comma {
    font-weight: 300;

    // Hide last comma
    &:last-of-type {
      display: none;
    }
  }

  .cart-body {
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 760px) {
      flex-wrap: wrap;
      width: 100%;
    }

    > p {
      width: 75%;

      @media (max-width: 1600px) {
        width: 65%;
      }

      @media (max-width: 1400px) {
        width: 50%;
      }

      @media (max-width: 800px) {
        width: 60%;
      }

      @media (max-width: 760px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  .buttons {
    width: 25%;
    text-align: right;
    min-width: 41rem;
    white-space: nowrap;

    @media (max-width: 760px) {
      width: 100%;
      min-width: 0;
    }

    @media (max-width: 600px) {
      white-space: normal;
    }
  }

  button {
    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 1rem 2rem;
    transition: all $transition-duration;

    @media (max-width: 960px) {
      font-size: 15px;
      padding: 8px 15px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    &.empty-cart {
      margin-right: .5rem;

      @media (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    &:hover {
      background: $color-white;
      color: $color-black;
      border-color: 1px solid $color-white;
      cursor: pointer;
    }
  }

  p {
    @include responsive-font(14px, 18px);
    display: block;
    margin: 0;
    font-weight: 300;

    &.head {
      font-weight: 600;
      margin-bottom: .4rem;
    }
  }

  svg {
    stroke: $color-white;
    margin-right: 1.5rem;
    width: 24px;
    height: 24px;

    @media (max-width: 960px) {
      margin-right: 2.5rem;
    }
  }

  .full-cart {
    display: none;
  }

  i {
    font-style: normal;
  }

  span {
    font-weight: 700;

    &.size {
      text-transform: uppercase;
    }

    // Hide by default
    &.cart-text {
      display: none;
    }

    &.other-info,
    &.totals,
    &.products,
    &.cart-text,
    &.empty-cart-text {
      font-weight: 300;
      font-style: normal;

      &.qty {
        font-weight: 700;
      }
    }
  }

  * {
    color: $color-white;
  }

  @media (max-width: 600px) {
    padding: 2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

// Credit to Sara Soueidan
// @link https://github.com/SaraSoueidan/creative-list-effects/blob/master/css/styles-4.css

.removed-item {
  animation: removed-item-animation .4s cubic-bezier(.55, -.04, .91, .94) forwards;
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    transform: scale(.5);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .post-type-archive-merch .featured-image-side {
    display: none;
  }

  .post-type-archive-merch .block.block-hero .content {
    height: auto;
    min-height: 90rem;

    .hero-description {
      margin-bottom: 0;
    }
  }
}
