/* stylelint-disable selector-max-class, selector-max-specificity, no-descending-specificity, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class, selector-attribute-quotes, max-nesting-depth */
:root {
  --color-black: #161616;
  --color-white: #fff;
  --color-mint: #7effe1;
  --color-product-title: var(--color-white);
  --color-price: var(--color-white);
  --font-size-15: 15px;
  --font-size-19: 19px;
  --font-size-18: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

// Styles for merch 2021
body.post-type-archive-merch {
  .ouroboros {
    top: -77px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1680px;
    height: auto;

    path {
      fill: #1b1b1b;
    }
  }

  .site {
    background-color: var(--color-black);
  }

  .container,
  .block.block-merch.has-dark-bg,
  .block,
  .content-area {
    background-color: transparent;
  }

  // Merch hero
  .block.block-hero.block-hero-merch {
    padding: 0;
    margin-top: 18rem;

    > .container {
      padding-top: 0;
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      margin: 0 auto;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    h1 span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 18px;
      text-transform: uppercase;
      width: 100%;
      color: var(--color-white);
      transform: translate(15px, 4px);
    }

    svg {
      display: block;
      margin-top: 55px;
    }

    p {
      font-size: var(--font-size-18);
      line-height: 27px;
      margin-top: 6.2rem;
      margin-bottom: 6.2rem;
      color: var(--color-white);

      a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail),
      .block.block-title-left-text-right li a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail),
      .text-link {
        color: var(--color-white);
        box-shadow: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: border .22s;
        overflow: hidden;
        background: 0 0;

        &:hover,
        &:focus {
          border-color: var(--color-mint);
          background: 0 0;
          color: var(--color-white);
        }
      }

      .is-external-link::after {
        background-image: url('../svg/external-link-white.svg') !important;
      }
    }
  }

  // Products area
  .content-area .block.block-merch {
    margin-top: 1.8rem;

    .product-header {
      margin-bottom: 1.3rem;
      margin-top: 0;
    }

    // Product title
    .product-header > .product-title {
      font-size: $font-size-general-large;
      line-height: 1;
      color: var(--color-product-title);
      font-weight: var(--font-weight-regular);
    }

    // Price
    .product-header > .product-price {
      color: var(--color-price);
      font-size: var(--font-size-19);
      line-height: 1;
      font-weight: var(--font-weight-bold);
      margin: 0;
    }

    // Product description
    .product-description > p {
      font-size: var(--font-size-15);
      line-height: 1.4;
      margin: 0;
    }

    .product-description {
      margin-bottom: 3.2rem;
    }

    .image {
      height: unset;
    }

    .image .lazy {
      @include aspect-ratio(385, 537);
    }
  }
}
