.content-area .block.block-merch {
  margin-top: 6rem;

  .cols {
    @include grid(3, $gutter_x: 4rem, $gutter_y: 4rem);

    .col-product {
      overflow: hidden;
    }
  }

  .sold-out {
    position: absolute;
    z-index: 33;
    transform: rotate(-45deg);
    background: #e64242;
    width: 500px;
    width: 69rem;
    padding-left: 0;
    left: -50px;
    left: -20rem;
    padding-right: 14rem;
    font-size: 31px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  .product-header {
    display: flex;
    justify-content: space-between;

    h2 {
      @extend %h4;
      margin-bottom: .5rem;
    }

    p {
      font-weight: 600;
    }
  }

  .product-image {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .image {
    width: 100%;
    height: 60rem;
    margin-bottom: 2rem;
  }

  .models {
    display: flex;
    margin-bottom: 1.5rem;

    button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
      width: 50%;
      height: 5.5rem;
      background: $color-dude-white;
      border: 1px solid $color-dude-deep-black;
      color: $color-dude-deep-black;
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
      justify-content: center;

      &.active {
        background: $color-dude-deep-black;
        border-color: $color-dude-deep-black;
        color: $color-dude-white;
      }

      &:first-child {
        width: calc(50% - 1rem);
        margin-right: 1rem;
      }
    }

    &.models-1 button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button),
    &.models-1 button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button):first-child {
      width: 100%;
      margin-right: 0;
    }
  }

  .sizes {
    display: none;

    &.visible {
      display: block;
    }
  }

  .sizes button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: .5rem;
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: $color-dude-white;
    border: 1px solid $color-dude-deep-black;
    color: $color-dude-deep-black;

    &:hover {
      background-color: $color-superlightgrey;
    }

    &.active {
      background: $color-dude-deep-black;
      border-color: $color-dude-deep-black;
      color: $color-dude-white;
    }
  }

  button.add-to-cart:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button) {
    background: $color-dude-white;
    border: 1px solid $color-dude-deep-black;
    color: $color-dude-deep-black;
    height: 5.5rem;
    display: inline-flex;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
  }

  .choices {
    display: flex;
    justify-content: space-between;
  }

  .disabled,
  [disabled] {
    opacity: .25;
  }
}

.simpay-modal-control-open {
  // display: none;
}

.cart {
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: 0;
  background: $color-dude-black;
  padding: 3rem;
  transition: all $transition-duration;
  display: flex;
  box-shadow: 10px 10px 30px -5px rgba($color-dude-black, .15);
  max-width: 100%;
  width: 100%;
  align-items: center;

  .comma {
    font-weight: 300;

    // Hide last comma
    &:last-of-type {
      display: none;
    }
  }

  .cart-body {
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p {
      width: 75%;
    }
  }

  button {
    background: transparent;
    color: $color-dude-white;
    border: 1px solid $color-dude-white;
    padding: 1rem 2rem;
    transition: all $transition-duration;

    &.empty-cart {
      margin-right: .5rem;
    }

    &:hover {
      background: $color-dude-white;
      color: $color-dude-black;
      border-color: 1px solid $color-dude-white;
      cursor: pointer;
    }
  }

  p {
    @include responsive-font(14px, 18px);
    display: block;
    margin: 0;
    font-weight: 300;

    &.head {
      font-weight: 600;
      margin-bottom: .4rem;
    }
  }

  svg {
    stroke: $color-dude-white;
    margin-right: 1.5rem;
    width: 24px;
    height: 24px;
  }

  i {
    font-style: normal;
  }

  span {
    font-weight: 700;

    &.size {
      text-transform: uppercase;
    }

    // Hide by default
    &.cart-text {
      display: none;
    }

    &.other-info,
    &.totals,
    &.products,
    &.cart-text,
    &.empty-cart {
      font-weight: 300;
      font-style: normal;

      &.qty {
        font-weight: 700;
      }
    }
  }

  * {
    color: $color-dude-white;
  }

  .message {
    position: relative;
    z-index: 0;
  }

  .close-chat {
    fill: $color-dude-white;
    background: none;
    border: 0;
    position: absolute;
    padding: 2rem;
    top: 0;
    right: 0;
    z-index: 3;

    svg {
      transition: all $transition-duration;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @media (max-width: 600px) {
    left: 0;
    bottom: 0;
    padding: 2rem;
    margin: 2rem;
    max-width: 100%;
    width: calc(100% - 4rem);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

// Credit to Sara Soueidan
// @link https://github.com/SaraSoueidan/creative-list-effects/blob/master/css/styles-4.css

.removed-item {
  animation: removed-item-animation .4s cubic-bezier(.55, -.04, .91, .94) forwards;
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    transform: scale(.5);
    opacity: 0;
  }
}
