.single:after {
  display: none;
}

.single .block.block-hero.block-hero-single {
  height: 70vh;
  min-height: 55rem;
  background: $color-dude-white;

  .container,
  .featured-image {
    background: $color-dude-white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.block.block-single {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  z-index: 2;
  margin-top: -15rem;
  background: transparent;

  .block-head .block-title {
    width: 100%;
    max-width: 100%;
  }

  &:not(.block-single-reference) {
    .blocks-gallery-item figcaption {
      background: none;
      color: $color-dude-white;
    }

    .wp-block-gallery {
      margin-top: 5rem;
    }
  }

  &.block-single-reference {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    .entry-content {
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;
      padding-left: 0;
      padding-right: 0;

      @media (max-width: 1100px) {
        p,
        h1,
        h2,
        h3,
        h4 {
          padding-left: $padding-default-cols-ipad;
          padding-right: $padding-default-cols-ipad;
        }
      }

      @media (max-width: $container-ipad) {
        p,
        h1,
        h2,
        h3,
        h4 {
          padding-left: $padding-default-rows-ipad;
          padding-right: $padding-default-rows-ipad;
        }
      }

      @media (max-width: $container-mobile) {
        padding-top: $padding-default-rows-mobile;
        padding-bottom: $padding-default-rows-mobile;
        padding-left: 0;
        padding-right: 0;

        p,
        h1,
        h2,
        h3,
        h4 {
          padding-left: $padding-default-cols-mobile;
          padding-right: $padding-default-cols-mobile;
        }
      }
    }
  }

  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wp-block-image {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  @media (max-width: 500px) {
    iframe[width="1140"] {
      max-height: 300px !important;
    }
  }

  .entry-content > *,
  .entry-content figcaption,
  .block-head,
  .entry-footer,
  .entry-author {
    width: 100%;
    max-width: $article-max-width;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-dude-white;

    &.alignwide {
      max-width: 1300px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      @media (max-width: 1200px) {
        max-width: $article-max-width;

        .wp-block-media-text__content {
          padding: 0;
        }
      }
    }

    &.alignfull {
      max-width: 100%;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-content ol li,
  .entry-content ul li {
    margin-left: 3rem;

    @media (max-width: 1000px) {
      margin-left: 2rem;
    }
  }

  .entry-content > *,
  .entry-author {
    padding-left: $padding-general-content-box;
    padding-right: $padding-general-content-box;

    @media (max-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-footer {
    margin-top: 5rem;
    padding-left: $padding-general-content-box;
    padding-right: $padding-general-content-box;

    @media (max-width: $container-ipad) {
      padding-left: $padding-general-content-box-ipad;
      padding-right: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  .entry-author {
    text-align: center;
    padding-top: 8rem;
    margin-top: 2rem;
    border-top: 1px solid $color-superlightgrey;
    padding-left: $padding-general-content-box;
    padding-right: $padding-general-content-box;

    @media (max-width: $container-ipad) {
      padding-left: $padding-general-content-box-ipad;
      padding-right: $padding-general-content-box-ipad;
      padding-bottom: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
      padding-bottom: $padding-general-content-box-mobile;
    }

    .avatar {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }

    h3 {
      @extend %h4;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    .job-title {
      @extend %h5;
      margin-top: 0;
    }

    .person-description {
      @include responsive-font(17px, 19px);
      max-width: 50rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .block-head {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;

    @media (max-width: 1000px) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-top: $padding-general-content-box-mobile;
      padding-bottom: $padding-general-content-box-mobile;
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  .block-head .block-title {
    @extend %h2;
  }

  &.block-single-reference .entry-content .wp-block-gallery,
  &.block-single-reference .entry-content .wp-block-image {
    margin-top: 8rem;
    margin-bottom: 8rem;

    @media (max-width: $container-mobile) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  &.block-single-reference .entry-content .wp-block-gallery {
    @extend .columns;
    @extend .alignwide;
    margin-left: auto;
    margin-right: auto;

    > * {
      @extend .column;
    }

    > .blocks-gallery-item {
      padding: 0;
      border: 1px solid rgba($color-dude-whitegreyish, 1);
      box-shadow: 10px 10px 30px -5px rgba($color-dude-whitegreyish, 1);
    }
  }

  .entry-content {
    padding-top: $padding-general-content-box;
    padding-left: $padding-general-content-box;
    padding-right: $padding-general-content-box;
    padding-bottom: 0;

    .wp-block-gallery {
      @extend .columns;
      width: 100%;
      max-width: 100%;

      > * {
        @extend .column;
      }
    }

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-top: $padding-general-content-box-mobile;
      padding-bottom: $padding-general-content-box-mobile;
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }

    p {
      @include responsive-font($font-min-size, 23px);
      font-weight: 300;
    }

    // Blog links
    a {
      background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }

    blockquote {
      margin-left: auto;
      margin-right: auto;
      border-left: 2px solid $color-dude-deep-black;
      margin-top: 4rem;
      margin-bottom: 4rem;
      padding: 4rem 8rem;

      @media (max-width: $container-ipad) {
        padding: $padding-general-content-box-ipad;
      }

      @media (max-width: $container-mobile) {
        padding: $padding-general-content-box-mobile;
      }

      p {
        @include responsive-font($font-min-size, 30px);
      }
    }

    figure figcaption,
    cite {
      @include responsive-font(15px, 17px);
      max-width: 1100px;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-weight: 300;
    }

    .wp-block-quote cite {
      padding-left: 0;
      padding-top: 2rem;
      padding-bottom: 0;
    }

    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input[type=submit] {
      @extend %default;
    }

    .gform_wrapper .gform_footer {
      margin-top: 2rem;
      padding-top: 0;
    }

    @media (min-width: 1100px) {
      .gform_wrapper {
        padding-right: $padding-default-cols;
      }
    }

    ul.gform_fields input,
    ul.gform_fields textarea,
    ul.gform_fields input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
      max-width: 100%;
      width: 100%;
      border: 1px solid $color-superlightgrey;
      padding: 2rem;

      &#input_3_1 {
        margin-bottom: 3rem;
      }

      &:focus {
        outline: 0;
        border-color: $color-dude-deep-black;
      }

      @media (max-width: 1300px) {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
      }

      &::placeholder {
        opacity: 1;
        color: $color-dude-grey-text;
      }
    }

    ul.gform_fields {
      @media (max-width: 1300px) {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      #field_2_7 {
        width: 100% !important;
      }

      #field_2_1 {
        margin-bottom: 3rem;
      }

      > li {
        margin-top: 0;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
      }

      > li label,
      div:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker) {
        margin-top: 0;
      }
    }

    ul.gform_fields,
    ul.gform_fields li,
    ul.gform_fields span {
      margin: 0;
      padding: 0;
      border: 0;
    }

    ul.gform_fields li label,
    ul.gform_fields li h2 {
      @extend %h4;
      font-weight: 300;
      margin-top: 4rem;
      margin-bottom: 1rem;

      @media (max-width: 1300px) {
        margin-top: 4rem !important;
        margin-bottom: 1rem;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.block.block-hero-person {
  .container {
    padding-bottom: 0;
  }

  .block-head {
    padding-top: 0;
    padding-bottom: 0;

    .block-title {
      @extend %h2;
    }
  }

  .image {
    height: 90%;
    max-height: 100%;

    @media (max-width: 860px) {
      height: auto;
      min-height: 0;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .content a:not(.has-arrow):not(.contact-detail) {
    background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: .3s all;
    text-decoration: none;
    overflow: visible;
  }

  .content a:not(.has-arrow):not(.contact-detail):hover,
  .content a:not(.has-arrow):not(.contact-detail):focus,
  .content a:not(.has-arrow):not(.contact-detail):active {
    background-size: 100% 2.8rem;
    color: $color-dude-white;
  }

  .contact a {
    background: none;
    opacity: .5;

    a:hover,
    a:focus,
    a:active {
      color: $color-dude-deep-black;
      opacity: 1;
    }
  }

  .social a,
  .social a:hover,
  .social a:focus,
  .social a:active {
    background: none;
  }

  .social {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin-right: .5rem;
    }
  }

  .social svg {
    fill: $color-dude-deep-black;
    width: 2rem;
    height: 2rem;
  }

  .arrow-link-wrapper {
    margin-top: 4rem;
  }
}
