.single:after {
  display: none;
}

.single .block.block-hero.block-hero-single {
  height: 70vh;
  min-height: 55rem;
  background: $color-dude-white;

  .container,
  .featured-image {
    background: $color-dude-white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.block.block-single {
  padding-top: 0;
  z-index: 2;
  margin-top: -15rem;
  background: transparent;

  .container {
    padding-top: 0;
  }

  article > * {
    width: 100%;
    max-width: $article-max-width;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-dude-white;
  }

  .block-head {
    padding: $padding-general-content-box;
    background: $color-dude-whitegreyish;

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-mobile;
    }
  }

  .block-head .block-title {
    @extend %h2;
  }

  .entry-content {
    padding: $padding-general-content-box;

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-mobile;
    }

    p {
      @include responsive-font($font-min-size, 23px);
      font-weight: 300;
    }

    a {
      background-image: linear-gradient(to top, rgba(#0572b6, .6), rgba(#0572b6, .6));
      background-size: 100% .3rem;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
      padding-bottom: .3rem;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }
  }
}
