.single:after {
  display: none;
}

.single .block.block-hero.block-hero-single {
  height: 70vh;
  min-height: 55rem;
  background: $color-dude-white;

  .container,
  .featured-image {
    background: $color-dude-white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.block.block-single {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  margin-top: -15rem;
  background: transparent;

  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wp-block-image {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .entry-content > *,
  .entry-content figcaption,
  .block-head {
    width: 100%;
    max-width: $article-max-width;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-dude-white;

    &.alignwide {
      max-width: 1300px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &.alignfull {
      max-width: 100%;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .entry-content > * {
    padding-left: $padding-general-content-box;
    padding-right: $padding-general-content-box;

    @media (max-width: $container-ipad) {
      padding-left: $padding-general-content-box-ipad;
      padding-right: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-general-content-box-mobile;
      padding-right: $padding-general-content-box-mobile;
    }
  }

  .block-head {
    background: $color-dude-whitegreyish;
    padding: $padding-general-content-box;

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-mobile;
    }
  }

  .block-head .block-title {
    @extend %h2;
  }

  &.block-single-reference .entry-content .wp-block-gallery,
  &.block-single-reference .entry-content .wp-block-image {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  &.block-single-reference {
    margin-bottom: 0;
    padding-bottom: 0;

    .container {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .entry-content {
    padding: $padding-general-content-box;

    .wp-block-gallery {
      @extend .columns;
      width: 100%;
      max-width: 100%;

      > * {
        @extend .column;
      }
    }

    @media (max-width: $container-ipad) {
      padding: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding: $padding-general-content-box-mobile;
    }

    p {
      @include responsive-font($font-min-size, 23px);
      font-weight: 300;
    }

    a {
      background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
      background-size: 100% .1rem;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    blockquote {
      margin-left: auto;
      margin-right: auto;
      border-left: 2px solid $color-dude-deep-black;
      padding: $padding-general-content-box-ipad $padding-general-content-box;

      @media (max-width: $container-ipad) {
        padding: $padding-general-content-box-ipad;
      }

      @media (max-width: $container-mobile) {
        padding: $padding-general-content-box-mobile;
      }

      p {
        @include responsive-font($font-min-size, 30px);
      }
    }

    figure figcaption,
    cite {
      max-width: 1100px;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 4rem;
      font-weight: 300;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }
  }
}

.block.block-hero-person {
  padding-bottom: 0;

  .container {
    padding-bottom: 0;
  }

  .block-head {
    padding-top: 0;
    padding-bottom: 0;

    .block-title {
      @extend %h2;
    }
  }

  .image {
    height: 90%;
    max-height: 100%;
  }

  a:not(.has-arrow) {
    background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
    background-size: 100% .1rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: .3s all;
    text-decoration: none;
    overflow: visible;
  }

  a:not(.has-arrow):hover,
  a:not(.has-arrow):focus,
  a:not(.has-arrow):active {
    background-size: 100% 2.8rem;
    color: $color-dude-white;
  }

  .contact a {
    background: none;
    opacity: .5;

    a:hover,
    a:focus,
    a:active {
      color: $color-dude-deep-black;
      opacity: 1;
    }
  }

  .social a,
  .social a:hover,
  .social a:focus,
  .social a:active {
    background: none;
  }

  .social {
    margin-left: 0;
    margin-top: 0;
    margin-right: .5rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .social svg {
    fill: $color-dude-deep-black;
    width: 2rem;
    height: 2rem;
  }

  .arrow-link-wrapper {
    margin-top: 4rem;
  }
}
