.single:after {
  display: none;
}

.block.block-single:not(.block-single-reference),
body.single .block.block-single:not(.block-single-reference) {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  z-index: 2;
  background: transparent;

  .gutenberg-content {
    padding-top: $margin-between-grid-columns;
    padding-bottom: 0;

    @media (max-width: $container-mobile) {
      padding-top: $padding-blocks-small;
    }
  }

  // Golden ratio
  // @link https://grtcalculator.com/
  .post > .gutenberg-content p {
    @include responsive-font($font-min-size, 20px);
    font-weight: 400;
    line-height: 1.75;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
  }

  .post > .gutenberg-content blockquote p {
    @include responsive-font(20px, 28px);
    font-weight: 500;

    &:first-child {
      margin-top: 0;
    }
  }

  // Blog links
  .post {
    a {
      color: $color-midnight-blue;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      > a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link) {
        color: $color-midnight-blue;
      }
    }
  }

  .post > .gutenberg-content blockquote cite {
    color: $color-cobalt-blue;
  }

  &.is-old {
    margin-top: 45px;
  }

  h2,
  h3 {
    @extend %general-heading-small;
    margin-bottom: $margin-between-text-elements;
    margin-top: $margin-between-text-elements * 1.5;
    font-weight: 500;
  }

  .block-head .block-title {
    width: 100%;
    max-width: 100%;
  }

  &:not(.block-single-reference) {
    .blocks-gallery-item figcaption {
      background: none;
      color: $color-white;
    }

    .wp-block-gallery {
      margin-top: 5rem;
    }
  }

  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wp-block-image {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  @media (max-width: 500px) {
    iframe[width="1140"] {
      max-height: 300px !important;
    }
  }

  .cat a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link) {
    margin: 0 13px 13px 0;
    font-size: 16px;
    border: 1px solid $color-midnight-blue;
    padding: 7px 17px;
    line-height: 1;
    color: $color-midnight-blue;
    text-decoration: none;
    box-shadow: none;
    font-weight: 400;

    &:hover {
      border-color: $color-midnight;
      background: $color-midnight;
      color: $color-mint;
    }

    &::after {
      display: none;
    }
  }

  ul.tags {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 0;

    li {
      margin-left: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-left: 0;
      display: inline-block;
      margin-top: 0;

      a {
        font-size: 13px;
        display: inline-block;
        border: solid rgba(6, 22, 41, .2);
        color: rgba($color-midnight, .6);
        border-width: 1px;
        border-radius: 2px;
        padding: .2em .6em;
        font-weight: 400;
      }

      a:after {
        display: none;
      }

      a:hover {
        background: transparent;
        border-color: $color-midnight-blue;
      }
    }

    .entry-content ol li,
    .entry-content ul li {
      margin-left: 3rem;

      @media (max-width: 1000px) {
        margin-left: 2rem;
      }
    }

    figure figcaption,
    cite {
      @include responsive-font(15px, 17px);
      max-width: 1100px;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-weight: 400;
    }

    .wp-block-quote cite {
      padding-left: 0;
      padding-top: 2rem;
      padding-bottom: 0;
    }

    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input[type=submit] {
      @extend %default;
    }

    .gform_wrapper .gform_footer {
      margin-top: 2rem;
      padding-top: 0;
    }

    @media (min-width: 1100px) {
      .gform_wrapper {
        padding-right: $padding-default-cols;
      }
    }

    ul.gform_fields input,
    ul.gform_fields textarea,
    ul.gform_fields input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
      max-width: 100%;
      width: 100%;
      // border: 1px solid $color-superlightgrey;
      padding: 2rem;

      &#input_3_1 {
        margin-bottom: 3rem;
      }

      &:focus {
        outline: 0;
        border-color: $color-deep-black;
      }

      @media (max-width: 1300px) {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
      }

      &::placeholder {
        opacity: 1;
        color: $color-grey-text;
      }
    }

    ul.gform_fields {
      @media (max-width: 1300px) {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      #field_2_7 {
        width: 100% !important;
      }

      #field_2_1 {
        margin-bottom: 3rem;
      }

      > li {
        margin-top: 0;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
      }

      > li label,
      div:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker) {
        margin-top: 0;
      }
    }

    ul.gform_fields,
    ul.gform_fields li,
    ul.gform_fields span {
      margin: 0;
      padding: 0;
      border: 0;
    }

    ul.gform_fields li label,
    ul.gform_fields li h2 {
      @extend %h4;
      font-weight: 400;
      margin-top: 4rem;
      margin-bottom: 1rem;

      @media (max-width: 1300px) {
        margin-top: 4rem !important;
        margin-bottom: 1rem;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.block.block-single:not(.block-single-reference) > .post > .entry-author,
.entry-author {
  padding-top: $padding-blocks-medium;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;

  @media (max-width: 1400px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .author-image {
    margin-right: 5rem;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 760px) {
      margin-right: 2rem;
      width: 38%;
    }

    @media (max-width: $container-mobile) {
      margin: 0;
    }
  }

  img {
    max-width: 48rem;
    height: auto;
    width: 100%;
    min-width: 35rem;

    @media (max-width: 760px) {
      min-width: 40rem;
    }
  }

  .author-info {
    display: flex;
    align-items: center;
    height: 100%;
    align-self: center;
    padding-bottom: $padding-blocks-small;
    padding-top: $padding-blocks-small;

    @media (max-width: 760px) {
      width: 62%;
    }

    h3 {
      @extend %general-heading-small;
      font-weight: 500;
      margin: 0 0 .5rem;
    }

    p {
      max-width: 760px;
    }

    p.job-title {
      opacity: .5;
      margin-top: 0;
      margin-bottom: $margin-between-text-elements;
      font-size: 16px;

      @media (min-width: 850px) {
        font-size: 20px;
      }
    }

    .cta-link {
      @media (max-width: 850px) {
        font-size: 16px;
      }
    }

    p.person-description {
      margin: 0;
      font-size: 16px;

      @media (min-width: 850px) {
        font-size: 20px;
      }
    }
  }
}
