.block-hero.block-hero-light.block-hero-start-project {
  h1,
  h2,
  p {
    color: $color-white;
  }
}

body.page-id-6357 .block.block-wide-text {
  padding-top: 0;

  .container {
    max-width: $grid-base-size;

    h2 {
      @extend %general-heading-large;
    }
  }

  // Gravity forms
  .gform_wrapper .gfield_required {
    display: none;
  }

  .gform_wrapper ul.gform_fields li.gfield {
    padding: 0;
    margin: 0 0 $margin-between-grid-columns;
  }

  .gform_wrapper ul.gform_fields {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5rem !important;
    margin-right: -5rem !important;
    overflow: hidden;
  }

  .gform_wrapper form li.gfmc-column {
    width: 50%;

    &.gfmc-row-1-column,
    &.gfmc-row-2-column {
      width: calc(50% - 10rem) !important;
      margin-left: 5rem !important;
      margin-right: 5rem !important;
    }

    &.gfmc-row-3-column {
      width: 100% !important;
      margin-left: 5rem !important;
      margin-right: 5rem !important;
    }
  }

  .gform_wrapper legend.gfield_label,
  .gform_wrapper .top_label .gfield_label {
    font-size: 22px;
    font-weight: 500;
  }

  .gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 2rem 0;
    background: transparent;
    border-right: 2px solid $color-midnight-blue;
    border-bottom: 2px solid $color-midnight-blue;
    border-top: 0;
    border-left: 0;
  }

  // Range
  .gform_wrapper form #field_6_11,
  .gform_wrapper .top_label div.ginput_container,
  .gform_wrapper form #field_6_11 li {
    overflow: visible;
  }

  .gform_wrapper form #field_6_11 .gfield_label {
    margin-bottom: $margin-between-text-elements;
  }

  .gform_wrapper .gfield_radio li label {
    margin: 0;

    @media (min-width: $container-ipad) {
      font-size: 19px;
    }
  }

  .gform_wrapper form #field_6_11 ul {
    display: flex;
    width: 100%;
    position: relative;
    overflow: visible;

    .checkbox + label::before,
    .gform_wrapper ul.gfield_checkbox li input[type=checkbox]+br+label::before,
    .gform_wrapper ul.gfield_radio li input[type=radio]+br+label::before,
    .radio + label::before,
    input[type=radio]+label::before {
      background: $color-white;
      display: block;
      margin: 0 auto 3rem;
    }

    .gform_wrapper ul.gfield_radio li input[type=radio]:checked + br + label::before,
    input[type=radio]:checked + label::before {
      background-image: url('../svg/budget-check.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-midnight-blue;
      width: 4rem;
      height: 4rem;
      margin-top: -16px;
      transform: translateY(8px);
    }

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background: $color-midnight-blue;
      top: 15px;
      left: 0;
    }

    > li {
      width: 20%;
      text-align: center;
    }
  }
}

