// Vars
$max-width: 100rem;
$color-ama-background: $color-white;
$color-ama-body-text: $color-midnight;
$color-borders: #e8e8e8;
$color-faded: rgba($color-midnight, .5);
$color-amount: #68d4ab;

body {
  color: $color-ama-body-text;
}

/* stylelint-disable selector-max-specificity, selector-max-pseudo-class, no-descending-specificity */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
}

// Header
.ama-header .container {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media (min-width: 720px) {
    @include grid(2, $gutter_x: 50px, $gutter_y: 50px);
  }

  .ama-header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ama-header-text {
    h1 {
      font-size: 26px;
      color: $color-white;
      margin-top: 0;
      margin-bottom: 1.5rem;

      @media (max-width: 500px) {
        text-align: center;
      }
    }

    p {
      color: $color-white;
      margin: 0;

      @media (max-width: 500px) {
        text-align: center;
      }
    }
  }

  .ama-header-logo svg {
    width: 300px;
    height: auto;

    @media (max-width: 500px) {
      max-width: 200px;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 720px) {
      margin-bottom: 2rem;
    }

    // Offset for "Ama" word in logo so it would appear more centered

    @media (min-width: 720px) {
      margin-bottom: -45px;
    }
  }
}

// Select drop downs
select {
  border-radius: 0;
  background-image: url('../svg/select.svg');
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 40px auto;
  transition: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border: 2px solid $color-paragraphs;
  color: $color-paragraphs;
  padding: 10px 15px;
  line-height: 24px;
  font-size: 16px;
  max-width: 140px;

  &:focus {
    border-radius: 0;
    background-image: url('../svg/select.svg');
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 40px auto;
  }

  &::-ms-expand {
    display: none;
  }
}

.ama-updating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
  transition: all .22s;
  opacity: .6;

  &:hover {
    opacity: 1;
  }

  label {
    font-weight: 500;
    font-size: 18px;
    color: $color-paragraphs;
  }
}

.info-area {
  border-bottom: 1px solid $color-borders;
  margin-bottom: 3rem;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.infobox {
  padding: 3rem;
  background: rgba(#eee, .5);

  .info-content {
    display: none;
    margin-top: 3rem;

    &.toggled {
      display: block;
    }
  }

  a:hover,
  a:focus {
    color: $color-cobalt-blue;
  }

  button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-midnight;
    font-size: 20px;
    font-weight: 500;

    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: pointer;
      color: $color-cobalt-blue;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-right: 1.5rem;
    }
  }

  p {
    font-size: 15px;
    color: $color-paragraphs;
  }

  h1,
  h2,
  h3 {
    font-size: 20px;
    color: $color-headings;
    margin: 0;
  }
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  .button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    @extend %default;
    background: $color-midnight;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 1.4rem 2.8rem;
    margin-bottom: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: 150ms linear background;
    font-family: $font-base;
    white-space: nowrap;

    &.button-mint {
      background: $color-mint;
      color: $color-midnight;

      &:hover,
      &:focus {
        background: $color-white-two;
        color: $color-midnight;
      }

      &:hover svg,
      &:focus svg {
        color: $color-midnight;
      }
    }

    &.button-white {
      background: $color-white-two;
      color: $color-midnight-blue;

      &:hover,
      &:focus {
        background: $color-button-white-hover;
        color: $color-midnight-blue;
      }
    }

    span,
    svg {
      position: relative;
      transition: all $transition-duration;
      transform: translate(0, 0);
      display: inline-block;
    }

    @media (max-width: 420px) {
      font-size: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &:hover,
    &:focus {
      color: $color-mint;
      background: $color-midnight-blue;

      span,
      svg {
        transform: translate(2px, 0);
      }
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  > * {
    margin-left: 3rem;
    margin-right: 3rem;

    @media (max-width: $container-mobile) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @media (max-width: 420px) {
      margin-left: 1.7rem;
      margin-right: 1.7rem;
    }
  }
}

// Form
.form {
  margin-bottom: 0;
  margin-top: 6rem;
  padding-bottom: 0;

  .disclaimer {
    font-size: 15px;
    color: $color-faded;
    position: absolute;
    margin-top: -37px;
    margin-left: 170px;

    @media (max-width: 500px) {
      margin-top: -45px;
    }
  }

  label {
    @extend .screen-reader-text;
    font-weight: 500;
    margin-bottom: 1rem;
    display: block;
  }

  textarea {
    font-size: 18px;
    border: 2px solid $color-midnight;
    padding: 1.8rem 2rem;
    color: $color-midnight;
    width: 100%;
    height: 150px;
    margin-bottom: 1rem;

    &::placeholder {
      opacity: 1;
      color: $color-midnight;
      font-weight: 500;
    }
  }
}

.ama-header {
  background-image: url('../images/ama-desktop-hero.jpg');

  @media (max-width: 720px) {
    background-image: url('../images/ama-mobile-hero.jpg');
  }
}

.ama-drafts {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  margin-top: 0;
  border-bottom: 1px solid rgba($color-borders, .7);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  position: relative;

  p {
    margin: 0;
    font-size: 20px;
  }

  .drafts-count {
    background: $color-mint;
    font-weight: 700;
    width: 52px;
    min-width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px $color-mint;
    animation: pulse-animation 2s infinite;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.ama-item {
  border-bottom: 1px solid $color-borders;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0 0 1px 1px transparent;

  &.loaded {
    animation: pulse-animation 1s infinite;
    padding: 2rem;
  }

  &:last-child {
    border-bottom: 0;
  }

  h2,
  h3 {
    font-size: 26px;
    margin: 0 4rem 0 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Animations
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(3, 6, 28, .2);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(3, 6, 28, 0);
  }
}

#dude-ama:not([data-v-app]) .hide-until-vue-loaded {
  display: none;
}

// Spinner
.checking-for-updates {
  position: absolute;
  right: 160px;
}

.spinner svg {
  width: 50px;
  height: 50px;
}

.container.ama {
  padding-top: 0;
  margin-bottom: 6rem;
  overflow: visible;
}
