// Vars
$max-width: 100rem;
$color-survey-background: $color-white;
$color-survey-body-text: $color-midnight;
$color-border-main-header: #e8e8e8;

body {
  color: $color-survey-body-text;
}

.survey-header,
.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  > * {
    margin-left: 3rem;
    margin-right: 3rem;

    @media (max-width: $container-mobile) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @media (max-width: 420px) {
      margin-left: 1.7rem;
      margin-right: 1.7rem;
    }
  }
}

h1,
h2,
h3,
h4 {
  &[style="color: #fff !important;"] {
    color: $color-survey-body-text !important;
  }
}

.survey-header {
  padding-top: 6rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;

  .survey-header--logo-tagline,
  .survey-header--logo {
    text-align: right;
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: calc(100% - 6rem);
    border-bottom: 1px solid $color-border-main-header;
    position: absolute;
    bottom: 3.5rem;
    left: 3rem;

    @media (max-width: 500px) {
      left: 3rem;
      width: calc(100% - 6rem);
      bottom: 2rem;
    }

    @media (max-width: 400px) {
      left: 2rem;
      width: calc(100% - 4rem);
    }
  }

  svg {
    fill: $color-survey-body-text;
    width: 100px;
    height: 26px;
    margin-top: 8px;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
      width: 70px;
      height: 16.14px;
    }
  }

  @media (max-width: $container-ipad) {
    padding-top: 4rem;
  }

  img {
    max-width: 189px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    @media (max-height: 880px) {
      max-width: 140px;
    }

    @media (max-height: 760px) {
      max-width: 100px;
    }

    @media (max-height: 670px) {
      max-width: 70px;
    }
  }

  h1 {
    @extend %h3;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (max-width: 400px) {
      font-size: 17px;
    }
  }

  p {
    margin-top: 0;
    padding-bottom: 4rem;
    margin-bottom: 9rem;
    font-size: 17px;

    @media (max-width: 600px) {
      font-size: 15px;
      padding-bottom: 2rem;
    }

    @media (max-width: 500px) {
      padding-bottom: 5px;
    }
  }

  .survey-header-description {
    opacity: .7;
  }

  a {
    color: $color-survey-body-text;
    opacity: .7;
    transition: all .6s;
  }

  a:hover {
    opacity: 1;
  }
}
