body.page-template-template-faq .block.block-hero.block-hero-light.block-hero-faq {
  h1,
  p {
    color: $color-white;
  }

  .faq-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -6px 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    li a {
      border-radius: 25px;
      background: rgba($color-white, .2);
      color: $color-white;
      padding: 10px 22px;
      transition: background $transition-duration;
      margin-right: 18px;
      font-size: 20px;
      display: block;

      @media (max-width: 700px) {
        font-size: 16px;
        margin-right: 6px;
        padding: 5px 16px;
      }
    }

    li a:hover,
    li a:focus {
      background: rgba($color-white, .35);
    }
  }
}

body.page-template-template-faq .block-faq {
  padding-top: $padding-blocks-medium - 4rem;
  padding-bottom: $padding-blocks-medium;

  &.has-no-padding-bottom {
    padding-bottom: 0;
  }

  .cols-two {
    .col {
      margin-bottom: $margin-between-text-elements;
    }

    @media (min-width: 760px) {
      grid-column-gap: 15rem;
    }

    h3 {
      @extend %general-heading-small;
    }
  }
}
