// --------------------------------------------------------------
// Quick and dirty modern survey template
// --------------------------------------------------------------

// Vars
$max-width: 100rem;
$color-checked: $color-mint;
$color-borders: #898888;

body.template-surveys-modern {
  // background-image: url('../images/survey-bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: $color-midnight;
  background-attachment: fixed;
  color: $color-white;

  .gsurvey-likert * {
    border-radius: 0 !important;
  }

  table.gsurvey-likert th.gsurvey-likert-choice-label {
    background-color: transparent;
  }

  .gform_wrapper table.gsurvey-likert {
    margin-bottom: 36px;
  }

  .gform_wrapper table.gsurvey-likert,
  table.gsurvey-likert th.gsurvey-likert-choice-label,
  table.gsurvey-likert tr td,
  table.gsurvey-likert .gsurvey-likert-choice,
  table.gsurvey-likert .gsurvey-likert-row-label {
    border: 0;
    box-shadow: none;
  }

  @media (max-width: 1000px) {
    background-size: cover;
  }

  .gform_wrapper .gfield_checkbox li label,
  .gform_wrapper .gfield_radio li label {
    max-width: 100% !important;
    width: 100%;
  }

  .gform_wrapper ul.gfield_checkbox,
  .gform_wrapper ul.gfield_radio {
    margin: 0;
  }

  .gform_wrapper .description_above .gfield_description {
    font-size: var(--font-size-general-small);
    padding: 0 0 30px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  form li.gfield .validation_message {
    margin-top: -1rem !important;
    margin-bottom: 5rem !important;
    text-align: center !important;
    font-weight: 500 !important;
  }

  span.gfield_required {
    display: none !important;
  }

  p {
    @include responsive-font(17px, 20px);
    font-weight: 400;
  }

  .container,
  .survey-header,
  .gform_wrapper,
  .gform_confirmation_wrapper {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    > * {
      margin-left: 3rem;
      margin-right: 3rem;

      @media (max-width: $container-mobile) {
        margin-left: 2rem;
        margin-right: 2rem;
      }

      @media (max-width: 420px) {
        margin-left: 1.7rem;
        margin-right: 1.7rem;
      }
    }
  }

  ul,
  li {
    padding: 0;
    margin-left: 0;
    list-style: none;
  }

  * {
    font-family: $font-base;
    color: $color-white;
  }

  .site {
    overflow: visible;
    position: static;
  }

  &:after,
  .chat-greeting {
    display: none;
  }

  .gform_confirmation_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;

    .thanks {
      font-weight: 700;
      font-size: 70px;
      line-height: 1.1;
      max-width: 560px;
      margin: 0 auto;

      @media (max-width: 600px) {
        font-size: 30px;
      }
    }

    p {
      color: #fff !important;
      max-width: 500px;
      margin: 5rem auto;
      font-size: 17px;
      line-height: 1.5;
    }

    br {
      display: none !important;
    }

    .gform_confirmation_message {
      @include responsive-font(18px, 30px);
      line-height: 1.5;
      color: $color-white;
    }
  }

  .gform_wrapper {
    max-width: $max-width;
    padding-top: 43px;

    @media (max-width: 870px) {
      padding-top: 3px;
    }

    table.gsurvey-likert th.gsurvey-likert-choice-label {
      font-size: 14px !important;
      font-weight: 300 !important;
    }

    .description_above .gfield_description {
      margin-top: 1rem;
    }

    table.gsurvey-likert {
      width: 100%;
      table-layout: fixed;
      border: 0;
      border-collapse: collapse;
      border-style: hidden;
      box-shadow: none;
      border-radius: 4px;
      overflow: hidden;
    }

    table.gsurvey-likert td.gsurvey-likert-choice {
      transition: all 1s;
    }

    table.gsurvey-likert td.gsurvey-likert-choice:not(.gsurvey-likert-selected):hover,
    table.gsurvey-likert td.gsurvey-likert-choice:not(.gsurvey-likert-selected):focus {
      background-color: transparent !important;
    }

    table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-selected {
      background-color: #263d2e;
      color: $color-checked;
      font-weight: 700;
    }

    table.gsurvey-likert .gsurvey-likert-choice {
      padding: 2rem;

      @media (max-width: 1100px) {
        padding: .5rem 1rem;
        background-position: 1rem center !important;

        input {
          margin-left: 1rem !important;
        }

        &:after {
          margin-left: 3rem !important;
        }
      }
    }

    ul li.field_description_below div.ginput_container_radio,
    ul li.field_description_below div.ginput_container_checkbox,
    ul li.field_description_above div.ginput_container_radio,
    ul li.field_description_above div.ginput_container_checkbox {
      margin: 2rem 0 4rem;

      @media (max-width: 500px) {
        margin: 2rem 0 4rem;
      }

      @media (max-width: 400px) {
        margin: 2rem 0;
      }

      > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      > #input_5_12 li {
        min-width: 220px !important;
      }

      > ul li {
        width: auto;
        min-width: 123px;
        margin-right: 1rem;
        border: 1px solid $color-borders;
        background: transparent;
        border-radius: 0;
        padding: 0 !important;
        text-align: center;
        margin-bottom: 1rem;
        transition: all .6s;

        @media (max-width: 710px) {
          width: 100% !important;
          margin-right: 0 !important;
          margin-bottom: -1px;
        }
      }

      > ul li:hover,
      > ul li:focus {
        background: #222;
        opacity: 1;
      }
    }

    // Checkboxes
    input[type="checkbox"] {
      display: none !important;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      @include responsive-font(17px, 20px);
      line-height: 1 !important;
      margin: 0 !important;
      font-weight: 300;
      display: block;
      position: relative;
      margin-bottom: 20px;
      color: $color-white;
      cursor: pointer;
      user-select: none;
      padding: 12px !important;
    }

    input[type="checkbox"] + label:last-child {
      margin-bottom: 0;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      color: $color-checked;
      opacity: 1;
      font-weight: 700;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: rgba($color-checked, .2);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 1s;
      // border: 1px solid $color-checked;
      margin: -1px;
      border-radius: 0;
      border: 0;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
      opacity: 1;
    }

    // Radio buttons
    input[type="radio"] {
      display: none !important;
    }

    .gfield_label {
      @include responsive-font(18px, 26px);
      font-weight: 700;
      text-align: center;
      width: 100%;
      display: block;
      margin-bottom: 4rem;
      margin-top: 0;

      @media (max-width: 500px) {
        font-size: 18px;
        margin-bottom: 3rem;
      }

      @media (max-width: 400px) {
        font-size: var(--font-size-general-small);
        margin-bottom: 2rem;
      }
    }

    ul.gform_fields li.gfield {
      margin-bottom: 10rem;
      border: 1px solid $color-borders;
      padding: 4rem 5rem 0;
      overflow: hidden;

      @media (max-width: 500px) {
        padding: 3rem 3rem 0;
        margin-bottom: 5rem;
      }

      @media (max-width: 400px) {
        padding: 2rem 2rem 0;
      }
    }

    textarea,
    input,
    input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
      @include responsive-font(17px, 20px);
      width: calc(100% + 10rem);
      border: 0;
      border-top: 1px solid #4f4e4d;
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
      padding-left: 5rem !important;
      padding-right: 5rem !important;
      margin-left: -5rem;
      margin-right: -5rem;
      margin-bottom: 0 !important;

      @media (max-width: 500px) {
        margin-left: -3rem;
        margin-right: -3rem;
        width: calc(100% + 6rem);
      }

      @media (max-width: 400px) {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
      }

      &::placeholder {
        text-align: center;
        line-height: 150px;
        white-space: pre-line;

        @media (max-width: 1000px) {
          line-height: 1.5;
          padding-top: 5rem;
        }

        @media (max-width: 600px) {
          padding-top: 4rem;
        }

        @media (max-width: 500px) {
          padding-top: 2rem;
        }
      }
    }

    textarea {
      height: 240px;
    }
  }

  .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .gform_wrapper li.gfield_error textarea {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  .gform_wrapper li.gfield_error textarea {
    border-top: 1px solid #4f4e4d !important;
  }

  .survey-header {
    padding-top: 6rem;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    position: relative;

    .survey-header--logo-tagline,
    .survey-header--logo {
      text-align: right;
    }

    &:after {
      content: '';
      display: block;
      height: 1px;
      width: calc(100% - 6rem);
      border-bottom: 1px solid #303030;
      position: absolute;
      bottom: 3.5rem;
      left: 3rem;

      @media (max-width: 500px) {
        left: 3rem;
        width: calc(100% - 6rem);
        bottom: 2rem;
      }

      @media (max-width: 400px) {
        left: 2rem;
        width: calc(100% - 4rem);
      }
    }

    svg {
      fill: $color-white;
      width: 100px;
      height: 26px;
      margin-top: 8px;
      margin-bottom: 1rem;

      @media (max-width: 600px) {
        width: 70px;
        height: 16.14px;
      }
    }

    @media (max-width: $container-ipad) {
      padding-top: 4rem;
    }

    img {
      max-width: 189px;
      width: 100%;
      height: auto;
      margin-bottom: 1rem;

      @media (max-height: 880px) {
        max-width: 140px;
      }

      @media (max-height: 760px) {
        max-width: 100px;
      }

      @media (max-height: 670px) {
        max-width: 70px;
      }
    }

    h1 {
      @extend %h3;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-top: 0;

      @media (max-width: 600px) {
        font-size: 20px;
      }

      @media (max-width: 400px) {
        font-size: 17px;
      }
    }

    p {
      margin-top: 0;
      padding-bottom: 4rem;
      margin-bottom: 9rem;
      font-size: 17px;

      @media (max-width: 600px) {
        font-size: 15px;
        padding-bottom: 2rem;
      }

      @media (max-width: 500px) {
        padding-bottom: 5px;
      }
    }

    .survey-header-description {
      opacity: .7;
    }

    a {
      opacity: .7;
      transition: all .6s;
    }

    a:hover {
      opacity: 1;
    }
  }

  .survey-start-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 70px;
    background-color: rgba(#000, .05);
    box-shadow: rgba(#000, .1) 0px -1px;

    @media (max-width: $container-mobile) {
      background: #f2f2f2;
      position: static;
      margin-top: 3rem;
    }

    button.survey-start-button {
      @include responsive-font(19px, 22px);
      position: relative;
      font-family: inherit;
      font-weight: 700;
      cursor: pointer;
      white-space: nowrap;
      box-shadow: rgba(0, 0, 0, .1) 0px 3px 12px 0px;
      min-height: 48px;
      background-color: rgb(35, 37, 39);
      color: rgb(227, 228, 230);
      transition: background-color .2s ease 0s, color .2s ease 0s, border-color .2s ease 0s, opacity .2s ease 0s;
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-image: initial;
      padding: 2px 18px;
      border-color: transparent;
      border-radius: 4px;
      margin: 0;
    }
  }

  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_page_footer input.button,
  .gform_wrapper .gform_footer input[type=submit],
  .gform_wrapper .gform_page_footer input[type=submit] {
    @include responsive-font(20px, 26px);
    position: relative !important;
    font-family: inherit !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    margin: 0 !important;
    white-space: nowrap !important;
    min-height: 48px !important;
    background-color: $color-checked !important;
    color: $color-white !important;
    transition: background-color .2s ease 0s, color .2s ease 0s, border-color .2s ease 0s, opacity .2s ease 0s !important;
    outline: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-image: initial !important;
    padding: 2px 18px !important;
    border-color: transparent !important;
    border-radius: 0 !important;
  }

  input[type="hidden"]+br {
    display: none !important;
  }

  .gform_wrapper .gform_footer {
    padding: 0 !important;
    margin: 0 !important;

    > input[type="submit"] {
      width: 100% !important;
      margin-bottom: 12rem !important;
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
      border: 0 !important;
      background: $color-mint !important;
      color: $color-midnight-blue !important;

      &:hover {
        background: $color-white-two !important;
      }
    }
  }


  // Multiple answers
  .gform_wrapper .ginput_container.ginput_container_checkbox,
  .gform_wrapper ul li.field_description_above div.ginput_container_checkbox {
    margin-left: -5rem !important;
    margin-right: -5rem !important;
    margin-bottom: 0 !important;

    @media (max-width: 500px) {
      margin-left: -3rem !important;
      margin-right: -3rem !important;
      width: calc(100% + 6rem) !important;
    }

    @media (max-width: 400px) {
      margin-left: -2rem !important;
      margin-right: -2rem !important;
      width: calc(100% + 4rem) !important;
    }

    ul.gfield_checkbox {
      width: calc(100% + 5px) !important;
      margin-left: -3px !important;

      @media (max-width: 710px) {
        width: calc(100% + 3px) !important;
        margin-left: -2px !important;
      }

      @media (max-width: 550px) {
        width: calc(100% + 2px) !important;
        margin-left: -2px !important;
      }

      > li {
        min-width: 33.3% !important;
        margin-right: 0 !important;
        margin-bottom: -1px !important;
        overflow: hidden !important;
        flex: 1;

        @media (max-width: 710px) {
          width: 50% !important;
        }

        @media (max-width: 550px) {
          width: 100% !important;
        }
      }

      li label {
        padding-top: 18px !important;
        padding-bottom: 18px !important;

        @media (max-width: 900px) {
          font-size: var(--font-size-general-small) !important;
        }
      }
    }
  }
}
