// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Brand colors
$color-dude-black: #222;
$color-dude-deep-black: #050505;
$color-dark-blueish: #16202a;
$color-dude-grey-text: #5a5a5a;
$color-dude-white: #fff;
$color-dude-whitegreyish: #f0f0f0;
$color-dude-darkgrey: #272727;
$color-superlightgrey: #e7e7e7;
$color-lightgrey: #808080;

// Default colors
$color-links: $color-dude-deep-black;
$color-hover: rgba($color-dude-black, .8);
$color-body: $color-dude-black;
$color-headings: $color-dude-black;
$color-darkgrey: #4f5964;
$color-placeholder: #ababab;

// Fonts
$font-base: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 18px;
$font-max-size: 22px;
$font-base-line-height: 1.55;
$font-base-line-height-elements: 1.55;
$headings-weight: 300;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container widths
$grid-base-size: 100%; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)

// Breakpoints
$container-mobile: 480px;
$container-ipad: 870px;
$container-ipad-landscape: 1024px;
$container-desktop: 1662px;

// Margins
$margin-default-cols: 7.5rem;
$margin-default-rows: 7.5rem;
$margin-reasonable-space: 3.5rem;

// Paddings
$padding-default-cols: 8rem;
$padding-default-rows: 10rem;
$padding-default-cols-ipad: 5rem;
$padding-default-rows-ipad: 4rem;
$padding-default-rows-mobile: 2rem;
$padding-default-cols-mobile: 2rem;
$padding-general-content-box: 8rem;
$padding-general-content-box-ipad: 6rem;
$padding-general-content-box-mobile: 4rem;
$margin-general-offset: -8rem;
$padding-accordion-content: 2.5rem;
$padding-accordion-content-mobile: 2rem;

// Transition duration and animations
$transition-duration: .6s;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 750px;
