// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Colors
$color-links: #000;
$color-hover: #111;
$color-body: #222;
$color-headings: #222;
$color-darkgrey: #4f5964;

// Font settings
// You can use these font stacks normally with `font-family: $font-sans;` for instance.`
// Please set up fonts in sass/layout/_typography.scss
$font-base: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 16px;
$font-max-size: 22px;
$font-base-line-height: 1.55;
$font-base-line-height-elements: 1.55;
$headings-weight: 300;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container widths
$grid-base-size: 100%; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)

// Breakpoints
$container-mobile: 480px;
$container-ipad: 800px;
$container-ipad-landscape: 1024px;
$container-desktop: 1662px;

// Margins
$margin-default-cols: 9rem;
$margin-default-rows: 7.5rem;

// Paddings
$padding-default-cols: 5rem;
$padding-default-rows: 5rem;
$padding-default-cols-ipad: 4rem;
$padding-default-rows-ipad: 4rem;
$padding-default-rows-mobile: 2rem;
$padding-default-cols-mobile: 2rem;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 800px;
