// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Brand 2020
$color-cobalt-blue: #4d4aff;
$color-midnight-blue: #131a50;
$color-midnight: #03061b;
$color-mint: #7effe1;

// Brand colors
$color-black: #222;
$color-deep-black: $color-midnight;
$color-dark-blueish: #16202a;
$color-grey-text: #5a5a5a;
$color-white: #fff;
$color-whitegreyish: #f0f0f0;
$color-darkgrey: #272727;
$color-superlightgrey: #e7e7e7;
$color-lightgrey: #808080;
$color-default-background: #f0f0f0;
$color-white-two: #f8f8f8;
$color-button-white-hover: #f2f2f2;

// Default colors
$color-links: $color-cobalt-blue;
$color-hover: $color-mint;
$color-body: $color-midnight-blue;
$color-headings: $color-midnight-blue;
$color-darkgrey: #4f5964;
$color-placeholder: #ababab;

// Fonts
$font-base: 'Circular', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Circular', 'Helvetica Neue', Helvetica, sans-serif;
$font-alt: 'TT Interphases', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-size-general-small: 16px;
$font-size-general-large: 22px;
$font-size-general-headings-mobile: 32px;
$font-size-general-headings-medium-ctas: 40px;
$font-size-general-headings-desktop: 64px;
$font-min-size: 18px;
$font-max-size: 18px;
$font-base-line-height: 1.5;
$font-headigns-line-height: 1.23;
$headings-weight: 500;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Element sizes, widths and heights
$grid-base-size: 1345px; // Layout container max width on desktop. This is default .container size
$site-header-max-width: 1480px;
$article-max-width: 1000px; // Max width for articles (see also $content_width in functions.php!)
$nav-height: 160px;

// Breakpoints
$container-mobile: 480px;
$container-ipad: 870px;
$container-ipad-landscape: 1024px;
$container-desktop: 1662px;

// Margins
$margin-default-cols: 7.5rem;
$margin-default-rows: 7.5rem;
$margin-reasonable-space: 3.5rem;
$margin-between-grid-columns: 6rem;
$margin-between-grid-columns-large: 9rem;
$margin-between-text-elements: 4rem;

// Paddings
$padding-default-cols-ipad: 5rem;
$padding-default-rows-ipad: 8rem;
$padding-default-rows-mobile: 5rem;
$padding-default-cols-mobile: 2rem;
$padding-general-content-box: 8rem;
$padding-general-content-box-ipad: 6rem;
$padding-general-content-box-mobile: 4rem;
$margin-general-offset: -8rem;
$padding-accordion-content: 2.5rem;
$padding-accordion-content-mobile: 2rem;
$padding-blocks-huge: 22rem;
$padding-blocks-large: 18rem;
$padding-blocks-medium: 12rem;
$padding-default-cols: 8rem;
$padding-default-rows: $padding-blocks-medium;
$padding-cta-box-y: 7.5rem;
$padding-cta-box-x: 10rem;
$padding-blog-content-box-y: 7.5rem;
$padding-blog-content-box-x: 8.5rem;

// Transition duration and animations
$transition-duration: .22s;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 800px;
