@charset 'utf-8';

// Reset & grid
@import 'normalize';
@import 'jeet/scss/index';

// Theme options
@import 'config';

// Helpers
@import 'helpers';
@import 'accessibility';

// Structure
@import '../layout/general';
@import '../layout/typography';
@import '../layout/site-header';
@import '../layout/site-footer';
@import '../layout/forms';
@import '../layout/hero';
@import '../layout/hero-service';
@import '../layout/lazyload';
@import '../layout/columns';

// Global features
@import '../features/top';
@import '../features/animations';
@import 'magnific-popup/dist/magnific-popup';
@import '../features/magnific-popup';

// Modules
@import '../modules/our-services';
@import '../modules/references';
@import '../modules/cta-left-image';
@import '../modules/latest-selected-mustread';
@import '../modules/cta-process';
@import '../modules/text-image';
@import '../modules/big-reference-quote';
@import '../modules/content-side-switch';
@import '../modules/left-image-text';
@import '../modules/process';
@import '../modules/gallery';
@import '../modules/accordion';
@import '../modules/blog-articles-upsell';
@import '../modules/contact-list';
@import '../modules/text-numbers';
@import '../modules/timeline';
@import '../modules/dudes';
@import '../modules/cta-text';
@import '../modules/blog-big';
@import '../modules/blog';

// Navigation
@import '../navigation/nav-core';
@import '../navigation/nav-desktop';
@import '../navigation/nav-mobile';

// Views
@import '../views/page';
@import '../views/single';
@import '../views/blog';
