@charset 'utf-8';

// Reset & grid
@import 'normalize';

// Variables
@import '../variables/breakpoints';
@import '../variables/colors';
@import '../variables/fonts';
@import '../variables/spacings';

// Global features
@import '../features/top';
@import '../features/effects';
@import '../features/swup';
@import '../features/simplepay';

// Helpers
@import '../helpers/aspect-ratio';
@import 'helpers';
@import 'accessibility';

// Components (2021)
@import '../components/link';

// Structure
@import '../layout/general';
@import '../layout/typography';
@import '../layout/site-header';
@import '../layout/site-footer';
@import '../layout/forms';
@import '../layout/hero-contact-thanks';
@import '../layout/lazyload';
@import '../layout/chat';

// Navigation
@import '../navigation/nav-core';
@import '../navigation/nav-desktop';
@import '../navigation/nav-mobile';

// Merch views
@import '../views/merch';
@import '../views/merch-dude-kvlt-2021';

// Jobs in menu
@import '../modules/jobs';
