@charset 'utf-8';

// Reset & grid
@import 'normalize'; // 0.65 kB

// Variables
@import '../variables/breakpoints';
@import '../variables/colors';
@import '../variables/fonts';
@import '../variables/spacings';

// Global features
@import '../features/top'; // 132.352 kB
@import '../features/effects'; // 154.283 kB
@import '../features/swup'; // 157.541 kB
@import '../features/simplepay'; // 219.115 kB
@import '../features/slick'; // 222.661 kB
@import '../features/custom-pagination'; // 223.422 kB

// Helpers
@import 'helpers'; // 35.038 kB
@import 'accessibility'; // 35.038 kB

// Structure
@import '../layout/general'; // 19.019 kB
@import '../layout/typography'; // 35.038 kB
@import '../layout/forms'; // 35.038 kB

@import '../views/template-surveys-modern'; // 552.313 kB
@import '../views/template-company'; // 552.456 kB
