.chat-greeting {
  position: fixed;
  z-index: 9;
  right: 3rem;
  bottom: 3rem;
  background: $color-dude-white;
  padding: 3rem;
  cursor: pointer;
  transition: all $transition-duration;
  display: flex;
  box-shadow: 10px 10px 30px -5px rgba($color-dude-black, .15);
  max-width: 50rem;
  width: 100%;
  align-items: center;

  .message {
    position: relative;
    z-index: 0;
  }

  .open-chat {
    background: none;
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    top: 0;

    @media (max-width: 500px) {
      width: 80%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .close-chat {
    fill: $color-body;
    background: none;
    border: 0;
    position: absolute;
    padding: 2rem;
    top: 0;
    right: 0;
    z-index: 3;

    &:hover {
      cursor: pointer;

      svg {
        fill: rgba($color-body, .5);
        transform: scale(1.3);
      }
    }

    svg {
      transition: all $transition-duration;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @media (max-width: 600px) {
    left: 0;
    bottom: 0;
    padding: 2rem;
    margin: 2rem;
    max-width: 100%;
    width: calc(100% - 4rem);
  }

  p {
    @include responsive-font(14px, 18px);
    margin: 0;
    font-weight: 300;

    &.head {
      font-weight: 600;
      margin-bottom: .4rem;
    }
  }

  .avatar {
    @include background-cover();
    border-radius: 50%;
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    min-height: 8rem;
    margin-right: 2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.crisp-client .emoji {
  width: auto !important;
  height: auto !important;
}

// Credit to Sara Soueidan
// @link https://github.com/SaraSoueidan/creative-list-effects/blob/master/css/styles-4.css

.removed-item {
  animation: removed-item-animation .4s cubic-bezier(.55, -.04, .91, .94) forwards;
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    transform: scale(.5);
    opacity: 0;
  }
}

// Definitely do not pop up chat on merch page
.post-type-archive-merch .chat-greeting {
  display: none !important;
}
