.chat-greeting {
  position: fixed;
  z-index: 9;
  right: 3rem;
  bottom: 3rem;
  background: $color-dude-white;
  padding: 3rem;
  cursor: pointer;
  transition: all $transition-duration;
  display: flex;
  box-shadow: 10px 10px 30px -5px rgba($color-dude-black, .15);
  max-width: 50rem;
  width: 100%;
  align-items: center;

  @media (max-width: 600px) {
    left: 0;
    bottom: 0;
    padding: 2rem;
    margin: 2rem;
    max-width: 100%;
    width: calc(100% - 4rem);
  }

  p {
    @include responsive-font(14px, 18px);
    margin: 0;
    font-weight: 300;

    &.head {
      font-weight: 600;
      margin-bottom: .4rem;
    }
  }

  .avatar {
    @include background-cover();
    border-radius: 50%;
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    min-height: 8rem;
    margin-right: 2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.crisp-client .emoji {
  width: auto !important;
  height: auto !important;
}
