// ------------------------------------------------------------
// Forms and input fields
//
// All the forms on the site. General styles. Supports most of
// the Gravity Forms styles out of the box.
// ------------------------------------------------------------

// Buttons
.button-reset {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.content-area,
.content-area .block.block-hero.block-hero-frontpage {
  button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button):not(.slick-arrow):not(.button-reset),
  .button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    @extend %default;
    background: $color-midnight;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 1.4rem 2.8rem;
    margin-bottom: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: 150ms linear background;
    font-family: $font-base;
    white-space: nowrap;

    &.button-mint {
      background: $color-mint;
      color: $color-midnight;

      &:hover,
      &:focus {
        background: $color-white-two;
        color: $color-midnight;
      }

      &:hover svg,
      &:focus svg {
        color: $color-midnight;
      }
    }

    &.button-white {
      background: $color-white-two;
      color: $color-midnight-blue;

      &:hover,
      &:focus {
        background: $color-button-white-hover;
        color: $color-midnight-blue;
      }
    }

    span,
    svg {
      position: relative;
      transition: all $transition-duration;
      transform: translate(0, 0);
      display: inline-block;
    }

    @media (max-width: 420px) {
      font-size: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &:hover,
    &:focus {
      color: $color-mint;
      background: $color-midnight-blue;

      span,
      svg {
        transform: translate(2px, 0);
      }
    }
  }
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

// Gravity Forms clean ups
.gform_wrapper,
.gform_header,
.gform_footer {
  margin: 0;
  padding: 0;
}

.gform_body {
  li,
  div {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

textarea,
select,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"] {
  @extend %default;
  font-family: $font-base;
  background: transparent;
  border: 0;
  padding: 15px 20px;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  appearance: none;
  margin-bottom: 0;
  transition: all $transition-duration;

  &::placeholder {
    color: $color-placeholder;
    opacity: 1;
    transition: all $transition-duration;
  }

  &:focus {
    background: transparent;
    border-color: rgba(#222, 1);
    outline: 0;

    &::placeholder {
      opacity: .3;
    }
  }
}

select {
  border: 0;
  border-radius: 0;
  background-image: url('../svg/select.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 40px;
  transition: none;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: #222;
  }
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent;
  border-top: 0;
  border-bottom: 0;
}

body .gform_confirmation_wrapper .gform_confirmation_message {
  @extend %default;
  color: #59c450;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

.gform_wrapper li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid $color-error !important;
}

// Gravity forms overrides
.gform_wrapper form ol.validation_list {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    list-style-type: none !important;
  }

  a {
    color: $color-error;
    font-weight: 700;
  }
}

.gfmc-column > ul,
.gfmc-column > ol {
  padding-left: 0 !important;
}

// Validation and errors
body .gform_wrapper div.validation_error {
  font-weight: bold;
  padding-bottom: 15px;
  background: $color-error;
  color: $color-white;
  border: 0;
  padding: 2rem;
  margin-top: -8rem;
  margin-bottom: 4rem;
}

body .gform_wrapper .gfield_error .gfield_label {
  color: $color-error;
}

// General
form {
  li.gfield {
    &.gfield_error {
      background: transparent;
      margin-bottom: 15px;
      padding-top: 15px;
      border: 0;
      font-weight: 400;
      color: $color-error;

      * {
        color: $color-error;
        font-weight: 400;
      }
    }

    .validation_message {
      font-weight: 400;
      margin-top: 10px;
    }
  }

  p {
    margin-bottom: 20px;

    &.form-submit {
      margin-bottom: 0;
    }
  }

  // Search form
  &.search-form {
    .search-field {
      float: left;
      margin-right: 5px;
    }

    .search-submit {
      padding: 19px 1.75em;
      line-height: 1;
    }
  }
}

.arrow-right {
  margin-left: 2.5rem;
}

// Modern checkboxes
// Source: https://codyhouse.co/ds/components/app/radio-checkbox-buttons

/* --------------------------------

File#: _1_radios-checkboxes
Title: Radios and Checkboxes
Descr: Custom radio and checkbox buttons
Usage: codyhouse.co/license

-------------------------------- */

:root {
  // radios and checkboxes
  --checkbox-radio-size: 24px;
  --checkbox-radio-translate-y: 1px; // edit to align buttons with labels
  --checkbox-radio-gap: var(--space-xxxs); // gap between button and label
  --checkbox-radio-border-width: 2px;

  // radio buttons
  --radio-marker-size: 12px;

  // checkboxes
  --checkbox-marker-size: 12px;
  --checkbox-radius: 0;
}

.gform_wrapper br {
  display: none !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio],
.radio,
.checkbox {
  // hide native buttons
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  visibility: hidden;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox] + br + label,
.gform_wrapper ul.gfield_radio li input[type=radio] + br + label,
.radio + label,
.checkbox + label { // label style
  display: inline-flex;
  align-items: baseline;
  line-height: var(--body-line-height);
  user-select: none;
  cursor: pointer;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox] + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio] + br + label::before,
input[type=radio] + label::before,
.radio + label::before,
.checkbox + label::before { // custom buttons - basic style
  content: '';
  display: inline-block;
  vertical-align: middle; // fallback
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--color-bg);
  border-width: var(--checkbox-radio-border-width);
  border-color: var(--color-contrast-low);
  border-style: solid;
  // margin-right: var(--checkbox-radio-gap);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .2s, border .2s;
  margin-right: 16px;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:not(:checked):not(:focus) + br + label:hover::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:not(:checked):not(:focus) + br + label:hover::before,
input[type=radio]:not(:checked):not(:focus) + label:hover::before,
.radio:not(:checked):not(:focus) + label:hover::before,
.checkbox:not(:checked):not(:focus) + label:hover::before { // :hover
  border-color: var(--color-contrast-medium);
}

@supports (grid-area: auto) {
  .gform_wrapper ul.gfield_checkbox li input[type=checkbox] + br + label::before,
  .gform_wrapper ul.gfield_radio li input[type=radio] + br + label::before,
  input[type=radio] + label::before,
  .radio + label::before,
  .checkbox + label::before {
    position: relative;
    top: var(--checkbox-radio-translate-y);
  }
}

.gform_wrapper ul.gfield_radio li input[type=radio] + br + label::before,
input[type=radio] + label::before,
.radio + label::before {
  border-radius: 50%; // radio button radius
}

.gform_wrapper ul.gfield_radio li input[type=checkbox] + br + label::before,
.checkbox + label::before {
  border-radius: var(--checkbox-radius); // checkbox button radius
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked + br + label::before,
input[type=radio]:checked + label::before,
.radio:checked + label::before,
.checkbox:checked + label::before {
  // checked state
  background-color: var(--color-primary);
  box-shadow: none;
  border-color: var(--color-primary);
  transition: transform .2s;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:active + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:active + br + label::before,
input[type=radio]:active + label::before,
.radio:active + label::before,
.checkbox:active + label::before {
  // active state
  transform: scale(.8);
  transition: transform .2s;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked:active + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked:active + br + label::before,
input[type=radio]:checked:active + label::before,
.radio:checked:active + label::before,
.checkbox:checked:active + label::before {
  transform: none;
  transition: none;
}

.gform_wrapper ul.gfield_radio li input[type=radio]:checked + br + label::before,
input[type=radio]:checked + label::before,
.radio:checked + label::before {
  // radio button icon
  // background-image: url('../svg/radio-check.svg');
  background-color: $color-midnight-blue;
  border-color: $color-midnight-blue !important;
  background-size: var(--radio-marker-size);
}

input[type=checkbox]:checked + br + label::before,
.checkbox:checked + label::before {
  // checkbox button icon
  background-image: url('../svg/checkbox.svg') !important;
  background-color: $color-midnight-blue !important;
  background-size: var(--checkbox-marker-size) !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked:active + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked:active + br + label::before,
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:focus + br + label::before,
.gform_wrapper ul.gfield_radio li input[type=radio]:focus + br + label::before,
input[type=radio]:focus + label::before,
.radio:checked:active + label::before,
.checkbox:checked:active + label::before,
.radio:focus + label::before,
.checkbox:focus + label::before {
  // focus state
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(var(--color-primary), .2);
}

// --radio--bg, --checkbox--bg
.radio--bg + label,
.checkbox--bg + label {
  padding: var(--space-xxxxs) var(--space-xxxs);
  border-radius: var(--radius-md);
  transition: background .2s;
}

.radio--bg + label:hover,
.checkbox--bg + label:hover {
  background-color: var(--color-contrast-lower);
}

.radio--bg:active + label,
.checkbox--bg:active + label,
.radio--bg:focus + label,
.checkbox--bg:focus + label {
  background-color: rgba(var(--color-primary), .1);
}
