// ------------------------------------------------------------
// Forms and input fields
//
// All the forms on the site. General styles. Supports most of
// the Gravity Forms styles out of the box.
// ------------------------------------------------------------

// Buttons
.button-reset {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.content-area,
.content-area .block.block-hero.block-hero-frontpage {
  button:not(.accordion):not(.action):not(.arrow-link-wrapper):not(.open-chat-contact):not(.service-switcher-button):not(.slick-arrow):not(.button-reset),
  .button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    @extend %default;
    background: $color-cobalt-blue;
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    width: auto;
    display: inline-block;
    padding: 1.1rem 2.8rem;
    margin-bottom: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: 150ms linear background;
    font-family: $font-base;

    &:after {
      width: 100%;
      height: 100%;
      background: transparent;
      bottom: 0;
      right: 0;
      border: 1px solid $color-mint;
      position: absolute;
      content: '';
      transition: all $transition-duration;
      opacity: 0;
    }

    span,
    svg {
      position: relative;
      transition: all $transition-duration;
      transform: translate(0, 0);
      display: inline-block;
    }

    .arrow-right {
      margin-left: 2.5rem;
    }

    @media (max-width: 400px) {
      // Wrap long buttons on mobile
      display: block;
      text-align: center;
    }

    &:hover,
    &:focus {
      color: $color-mint;
      background: $color-midnight-blue;

      span,
      svg {
        transform: translate(2px, 2px);
      }

      &:after {
        opacity: 1;
        bottom: -4px;
        right: -4px;
      }
    }

    &.button-ghost {
      background-color: transparent;
      border: 1px solid $color-links;
      color: $color-links;
    }

    &.button-ghost:hover {
      background-color: $color-links;
      color: $color-white;
    }
  }
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

// Gravity Forms clean ups
.gform_wrapper,
.gform_header,
.gform_footer {
  margin: 0;
  padding: 0;
}

.gform_body {
  li,
  div {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

textarea,
select,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"] {
  @extend %default;
  font-family: $font-base;
  background: transparent;
  border: 0;
  padding: 15px 20px;
  line-height: 24px;
  text-decoration: none;
  position: relative;
  appearance: none;
  margin-bottom: 0;
  transition: all $transition-duration;

  &::placeholder {
    color: $color-placeholder;
    opacity: 1;
    transition: all $transition-duration;
  }

  &:focus {
    background: transparent;
    border-color: rgba(#222, 1);
    outline: 0;

    &::placeholder {
      opacity: .3;
    }
  }
}

select {
  border: 0;
  border-radius: 0;
  background-image: url('../svg/select.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 40px;
  transition: none;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: #222;
  }
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent;
  border-top: 0;
  border-bottom: 0;
}

body .gform_confirmation_wrapper .gform_confirmation_message {
  @extend %default;
  color: #59c450;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

.gform_wrapper li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid #ef5f5b !important;
}

// General
form {

  // Hide validation header
  > .validation_error {
    display: none;
  }

  // Validation and errors
  .validation_error {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 15px;
  }

  li.gfield {
    &.gfield_error {
      background: transparent;
      margin-bottom: 15px;
      padding-top: 15px;
      border: 0;
      font-weight: 300;
      color: #ef5f5b;

      * {
        color: #ef5f5b;
        font-weight: 400;
      }
    }

    .validation_message {
      font-weight: 400;
      margin-top: 10px;
    }
  }

  p {
    margin-bottom: 20px;

    &.form-submit {
      margin-bottom: 0;
    }
  }

  // Search form
  &.search-form {
    .search-field {
      float: left;
      margin-right: 5px;
    }

    .search-submit {
      padding: 19px 1.75em;
      line-height: 1;
    }
  }
}

// Comment form
.comment-respond {
  margin-bottom: 0;
  overflow: visible;

  .comment-form-author {
    @include column(1/3);
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: $container-mobile) {
      @include stack();
    }

    input {
      padding: 15px;
      border-width: 1px;
      width: 100%;
    }
  }

  .comment-form-email {
    @include column(2/3);
    margin-right: 0;
    clear: right;
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: $container-mobile) {
      @include stack();
    }

    input {
      padding: 15px;
      border-width: 1px;
      width: 100%;
    }
  }

  .comment-form-url {
    @include stack();
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;

    input {
      padding: 15px;
      border-width: 1px;
      width: 100%;
    }
  }

  .form-submit {
    display: block;
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
  }

  .comment-form-comment {
    margin-bottom: 20px;
  }

  input {
    @media (max-width: $container-mobile) {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
  }
}
