// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

// Default structural element
.block {
  @include background-cover();
  background-color: #fff;
  position: relative;
  min-height: 100px;
  max-width: $layout-max-width;
  padding-left: $padding-default-cols;
  padding-right: $padding-default-cols;
  padding-top: $padding-default-rows;
  padding-bottom: $padding-default-rows;

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
    padding-top: $padding-default-rows-ipad;
    padding-bottom: $padding-default-rows-ipad;
  }

  @media (max-width: $container-mobile) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
    padding-top: $padding-default-rows-mobile;
    padding-bottom: $padding-default-rows-mobile;
  }
}

// Default shade on top of blocks
.shade {
  background: #333;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .15;
}

// Site wrapper
.site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

// Containers
.container {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: $grid-base-size;
  margin-left: auto;
  margin-right: auto;
}

// Clear block containers by default
.site-main .container {
  overflow: hidden;
  clear: both;
}

// Meta actions
.entry-footer {
  overflow: hidden;
  clear: both;
  display: block;
}

// Edit
.edit-link {
  text-align: left;
  width: 100%;
  display: block;
  clear: both;
  max-width: 100%;
  min-width: 0;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;

  a {
    clear: both;
    display: block;
    margin-top: 40px;
    padding: 0;
  }
}

// Global link helper
// This is useful in services -type of areas where the whole block is a link
// Remember to define aria-label or screen-reader-text for accessibility
a.global-link {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

// Dude specific general typography related styles
.block-title {
  max-width: 35vw;
  margin: 0;
  line-height: 1.33;

  @media (max-width: 1200px) {
    max-width: 60%;
  }

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.block-head {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.block-title-pre {
  @extend %h4;
  opacity: .5;
  margin-bottom: 2rem;
  margin-top: 0;
}

// Text styles
.text-smaller,
%text-smaller {
  @include responsive-font(16px, 18px);
}

// Special links
.cta-link {
  display: inline-block;

  &:hover:after {
    width: 100%;
    opacity: 1;
  }
}

.cta-link:after {
  width: 50%;
  height: .1rem;
  background: $color-body;
  position: relative;
  content: '';
  display: block;
  bottom: -1rem;
  transition: all $transition-duration;
  opacity: .5;
}

.cta-link.cta-link-white {
  color: $color-dude-white;

  &:after {
    background: $color-dude-white;
  }
}

.arrow-link-wrapper {
  margin: 0;
}

.arrow-link {
  display: flex;
  align-items: center;
}

.block-dudes .col:hover .arrow,
.arrow-link:hover .arrow {
  width: 15rem;
}

.block.block-cta-left-image form button:hover .arrow {
  width: 10rem;
}

.arrow-link .arrow,
.long-arrow,
.block.block-cta-left-image form button .arrow {
  width: 6rem;
  height: 1px;
  background: $color-body;
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  transition: all 1s;
  bottom: -1px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: $color-body;
    width: 7px;
    height: 1px;
    right: 0;
  }

  &:before {
    transform: rotate(45deg);
    bottom: 2px;
    right: -3px;
  }

  &:after {
    transform: rotate(-45deg);
    bottom: -2px;
    right: -3px;
  }
}

.arrow-wrapper {
  display: flex;
  align-items: center;
}

.button:hover .long-arrow {
  width: 15rem;
}

.button .long-arrow,
.button .long-arrow:after,
.button .long-arrow:before,
.block.block-cta-left-image form button .arrow,
.block.block-cta-left-image form button .arrow:before,
.block.block-cta-left-image form button .arrow:after {
  background: $color-dude-white;
}

// Descriptions and notes
.col-description {
  opacity: .5;
}

// Positions
.is-centered {
  text-align: center;
}

// General backgrounds of cols and boxes
.has-grey-bg {
  background: $color-dude-whitegreyish;
  position: relative;

  &.has-grey-bg-extend-left:before {
    background: $color-dude-whitegreyish;
    position: absolute;
    height: 100%;
    width: 50vw;
    content: '';
    display: block;
    z-index: 0;
    top: 0;
    left: -50vw;
  }

  &.has-grey-bg-extend-right:after {
    background: $color-dude-whitegreyish;
    position: absolute;
    height: 100%;
    width: 50vw;
    content: '';
    display: block;
    z-index: 0;
    top: 0;
    right: -50vw;
  }
}
