.block.block-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  color: $color-white;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-white;
  height: 80vh;

  .block-pre-title {
    @extend %default;
    margin: 0 0 4rem;
    font-size: 20px;
  }

  .content {
    max-width: 870px;
    // max-width: 60rem;
  }

  @media (min-width: $container-ipad-landscape) {
    min-height: 90rem;
  }

  .featured-image {
    z-index: 0;
  }

  @media (max-width: 1160px) {
    flex-wrap: wrap;
  }

  .button-wrapper {
    margin-top: $margin-between-grid-columns;
    margin-bottom: 0;
  }

  .button-wrapper .button {
    @media (min-width: $container-ipad) {
      margin-right: 2.8rem;
    }
  }

  .hero-title {
    @extend %general-heading-large;
  }

  h1 {
    color: $color-white;
    margin-top: 0;

    @media (min-width: $container-ipad-landscape) {
      font-size: $font-size-general-headings-desktop;
    }
  }

  p {
    &:not(.button-wrapper) {
      color: $color-white;
    }

    @media (min-width: $container-ipad-landscape) {
      font-size: $font-size-general-large;
    }
  }

  .container {
    overflow: visible;
    position: relative;
    z-index: 2;
    transform: translateY(65px);
  }

  .hero-description {
    margin-bottom: 5rem;
    width: 100%;

    p {
      font-weight: 300;
      max-width: 80rem;
    }
  }

  .shade {
    background-color: rgba(3, 6, 27, .25);
    opacity: 1;
    z-index: 3;
  }

  // Merch hero
  &.block-hero-merch {
    a {
      background-image: linear-gradient(to top, $color-white, $color-white);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-deep-black;
    }

    .details {
      opacity: .7;
      font-size: 19px;
      line-height: 1.6;
      transition: all 1s;
    }

    .details:hover {
      opacity: 1;
    }
  }

  // Animation stuff
  .animate {
    @media (min-width: $container-mobile) {
      animation-name: fade-in-down;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
}

.is-centered {
  text-align: center;

  .hero-description,
  .hero-description p {
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
}

.block.block-hero.block-hero-light {
  p {
    @extend %general-heading-small;
  }

  h1,
  h2,
  p {
    color: $color-midnight-blue;
  }
}
