.block.block-hero {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  padding: 0;
  align-items: center;
  z-index: 1;
  background: $color-dude-deep-black;
  color: $color-dude-white;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media (max-width: 870px) {
      height: auto;
    }
  }

  @supports (-ms-ime-align: auto) {
    @media (max-width: 870px) {
      height: auto;
    }
  }

  h1 {
    color: $color-dude-white;
    margin-top: 0;
  }

  .container {
    overflow: visible;
  }

  .hero-description {
    margin-bottom: 5rem;
    max-width: 80rem;
    width: 100%;

    p {
      font-weight: 300;
    }
  }

  .shade {
    background: linear-gradient(to bottom, #28392a 0%, transparent 50%);
    opacity: .5;
    z-index: 3;
  }

  @media (max-width: 600px) {
    &:not(.block-hero-single) {
      height: auto;
      padding-top: 20rem;
      padding-bottom: 20rem;
    }
  }

  // Contact thanks
  &.block-hero-contact-thanks {
    margin-bottom: 8rem;
    min-height: 100rem;

    .container {
      width: 100%;
      max-width: 80rem;
      margin-bottom: -6rem;
    }

    .content {
      margin-bottom: 0;
    }
  }

  // Jobs hero
  .side-content-box {
    @media (max-width: 800px) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  &.block-hero-jobs .jobs {
    list-style: none;
    margin: 0;
    padding: 0;

    li,
    a {
      color: $color-dude-white;
      font-weight: 300;
    }

    a {
      display: inline-block;
      padding-bottom: 1rem;
      padding-top: 1rem;

      &:hover:after {
        width: 0;
      }

      &:hover .label {
        background-color: lighten($color-dude-darkgrey, 10%);
      }
    }

    a:after {
      width: 100%;
      height: 1px;
      background: #fff;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
      bottom: -1rem;
      opacity: .5;
    }

    li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:last-child {
      margin-bottom: 0;
    }

    .label {
      font-size: 1.4rem;
      padding: .5rem 1rem;
      background: $color-dude-darkgrey;
      color: #fff;
      font-weight: 300;
      margin-left: 2rem;
      transition: all $transition-duration;
    }
  }

  // Hero for contact page
  &.block-hero-contact {
    position: relative;

    h1,
    .contact-details {
      width: 100%;
      font-weight: 300;
    }

    svg {
      fill: $color-dude-white;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: .8rem;
      position: relative;
      top: 3px;
    }

    .open-chat {
      background: transparent;
      border: 0;
      padding: 0;
      color: $color-dude-white;
      font-weight: 300;
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }

      &:after {
        display: none;
      }

      svg {
        fill: transparent;
        stroke: $color-dude-white;
      }
    }

    a:after,
    button:after {
      width: 100%;
      height: 1px;
      background: #fff;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
      bottom: .2rem;
      opacity: .5;
    }

    a {
      display: inline-block;
      width: auto;
    }

    a:hover:after,
    button:hover:after {
      width: 0;
    }

    .form-box {
      background: $color-dude-white;
      color: $color-body;
      padding: 6rem;
      max-width: 45rem;
      overflow: visible;
      position: absolute;
      left: calc(50% - 8rem);
      bottom: 8rem;
      z-index: 6;

      button:after {
        display: none;
      }

      @media (max-width: 700px) {
        position: static;
      }

      .arrow-link-wrapper {
        @extend %h4;
        font-weight: 600;
        margin-bottom: 3rem;
        width: 50vw;
        background: transparent;
        border: 0;
        color: $color-dude-deep-black;
        text-align: left;
        padding: 0;
      }

      .arrow-link-wrapper:hover,
      .arrow-link-wrapper:focus {
        cursor: pointer;
      }

      .arrow-link-wrapper .arrow-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      p {
        @extend .text-smaller;
        margin: 0;
        font-weight: 300;
      }

      p,
      a {
        color: $color-body;
      }

      a:after {
        display: none;
      }
    }
  }

  // Animation stuff
  .animate {
    animation-name: fade-in-down;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  li:nth-child(1),
  .animate-1 {
    animation-duration: 1s;
    animation-delay: 1s;
  }

  li:nth-child(2),
  .animate-2 {
    animation-duration: 1s;
    animation-delay: 1.5s;
  }

  li:nth-child(3),
  .animate-3 {
    animation-duration: 1s;
    animation-delay: 2s;
  }

  // Hero for front page and side columns
  &.block-hero-frontpage,
  &.block-hero-side-columns {
    background: $color-dude-deep-black;
    color: $color-dude-white;

    // Let's reset the padding from the hero container, no need in full width hero
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .cta-link {
      opacity: 0;
      animation-name: fade-in-down;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 2.5s;
    }

    .cta-link:after {
      background: $color-dude-white;
    }

    @media (max-width: 600px) {
      overflow: hidden;
      height: auto;
      display: block;
    }

    .container {
      @include grid(2, $gutter_x: 0, $gutter_y: 0);
      width: 100%;
      margin: 0;
      text-align: left;

      @media (max-width: 1400px) {
        grid-template-columns: 60vw 40vw;
      }

      @media (max-width: 1020px) {
        grid-template-columns: 70vw 30vw;
      }

      @media (max-width: 600px) {
        display: block;
      }

      // Let's show overlapping featured-image
      overflow: visible;

      // Let's reset the padding from the hero container, no need in full width hero
      padding: 0;

      @media (max-width: 600px) {
        overflow: hidden;
      }
    }

    .featured-image.featured-image-side {
      width: 50vw;
      height: 110vh;
      position: relative;
      z-index: 2;
      transition: all $transition-duration;
      top: 0;
      right: 0;
      overflow: hidden;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 50%;

        @media (max-width: 870px) {
          width: 100%;
          height: 50rem;
        }
      }

      @supports (-ms-ime-align: auto) {
        width: 50%;

        @media (max-width: 870px) {
          width: 100%;
          height: 50rem;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
        height: 50rem;
      }
    }

    .side-content-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      // Nav offset
      margin-bottom: -6rem;

      // These are the same values than in general containers
      padding-left: $padding-default-cols;
      padding-right: $padding-default-cols;
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;

      @media (max-width: $container-ipad) {
        padding-left: $padding-default-cols-ipad;
        padding-right: $padding-default-cols-ipad;
        padding-top: $padding-default-rows-ipad;
        padding-bottom: $padding-default-rows-ipad;
      }

      @media (max-width: 600px) {
        height: auto;
        padding-top: 20rem;
        padding-bottom: 20rem;
      }

      @media (max-width: $container-mobile) {
        padding-left: $padding-default-cols-mobile;
        padding-right: $padding-default-cols-mobile;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media (max-width: 870px) {
          padding-top: 20rem;
          padding-bottom: 20rem;
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }

      @supports (-ms-ime-align: auto) {
        @media (max-width: 870px) {
          padding-top: 20rem;
          padding-bottom: 20rem;
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }
    }

    h1,
    h2,
    a {
      color: $color-dude-white;
    }

    .content {
      display: flex;
      align-items: center;
      opacity: 0;
      transition: all $transition-duration;
      z-index: 4;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media (max-width: 870px) {
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }

      @supports (-ms-ime-align: auto) {
        @media (max-width: 870px) {
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }

      &.has-loaded {
        opacity: 1;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 50%;
      }

      @supports (-ms-ime-align: auto) {
        width: 50%;
      }

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        transition: all $transition-duration;
      }

      ul {
        margin-bottom: 6rem;
        width: 100%;
      }

      li {
        margin-bottom: $margin-reasonable-space;
        line-height: 1.22;
        animation-name: fade-in-down;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      li:last-of-type {
        margin-bottom: 0;
      }

      li a {
        @extend %h2;
        font-weight: 300;
        line-height: 1.2;
        display: inline-block;
        transition: all $transition-duration;
      }

      // Fade all out except hovered one
      ul:hover li a {
        opacity: .2;
      }

      ul:hover a:hover,
      ul:hover li:hover a {
        opacity: 1;
      }

      li a:hover:after {
        width: 100%;
      }

      li a:after {
        width: 0;
        height: .2rem;
        background: $color-dude-white;
        position: relative;
        content: '';
        display: block;
        transition: all $transition-duration;
      }

      .init:after {
        width: 100%;
      }

      .init:hover:after {
        width: 0;
      }
    }
  }
}
