.block.block-hero {
  margin-left: 0;
  margin-right: 0;

  &.block-hero-frontpage {
    height: 100vh;
    background: $color-dude-deep-black;
    color: $color-dude-white;
    display: flex;
    align-items: center;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
    }

    h1,
    h2,
    a {
      color: $color-dude-white;
    }

    a {
      text-decoration: none;
    }
  }

  .content.content-select-service {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 3rem;
    }

    li:last-of-type {
      margin-bottom: 0;
    }

    li a {
      @extend %h1;
      font-weight: 300;
    }

    li a:hover:after,
    .animate.animate-underline-idle:hover:after {
      animation-name: none;
      width: 30rem;
    }

    li a:after {
      width: 0;
      height: .2rem;
      background: $color-dude-white;
      position: relative;
      content: '';
      display: block;
      margin-top: -1.2rem;
    }

    .animate.animate-underline-idle:after {
      animation-name: underline-idle;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}
