.block.block-hero {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  padding: 0;
  align-items: center;

  &.block-hero-enable-transition {
    transition: all $transition-duration;
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
  }

  @media (min-width: $container-ipad-landscape) {
    min-height: 70rem;
  }

  .shade {
    background: linear-gradient(to bottom, #28392a 0%, transparent 50%);
    opacity: .6;
  }

  @media (max-width: 600px) {
    height: auto;
    display: block;
    clear: both;
    overflow: hidden;
  }

  .content {
    @media (max-width: 600px) {
      height: 100vh;
    }
  }

  // Hero for contact page
  &.block-hero-contact {
    position: relative;

    h1,
    .contact-details {
      width: 100%;
      font-weight: 300;
    }

    svg {
      fill: $color-dude-white;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: .8rem;
      position: relative;
      top: 3px;
    }

    a:after {
      width: 100%;
      height: .1rem;
      background: #fff;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
      bottom: .2rem;
      opacity: .5;
    }

    a {
      display: inline-block;
      width: auto;
    }

    a:hover:after {
      width: 0;
      opacity: 0;
    }

    .form-box {
      background: $color-dude-white;
      color: $color-body;
      padding: 6rem;
      max-width: 45rem;
      overflow: visible;
      position: absolute;
      left: calc(50% - 8rem);
      bottom: 8rem;
      z-index: 4;

      @media (max-width: 700px) {
        position: static;
      }

      h3 {
        @extend %h4;
        font-weight: 600;
        margin-bottom: 3rem;
        width: 50vw;
      }

      h3 a {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      p {
        @extend .text-smaller;
        margin: 0;
        font-weight: 300;
      }

      p,
      a {
        color: $color-body;
      }

      a:after {
        display: none;
      }
    }
  }

  // Hero for front page and side columns
  &.block-hero-frontpage,
  &.block-hero-side-columns {
    background: $color-dude-deep-black;
    color: $color-dude-white;

    // Let's reset the padding from the hero container, no need in full width hero
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .cta-link {
      opacity: 0;
      animation-name: fade-in-down;
      animation-timing-function: ease-in both;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 2.5s;
    }

    .cta-link:after {
      background: $color-dude-white;
    }

    @media (max-width: 600px) {
      overflow: hidden;
      height: auto;
      display: block;
    }

    .container {
      @include grid(2, $gutter_x: 0, $gutter_y: 0);
      width: 100%;
      margin: 0;
      text-align: left;

      @media (max-width: 1400px) {
        grid-template-columns: 60vw 40vw;
      }

      @media (max-width: 1020px) {
        grid-template-columns: 70vw 30vw;
      }

      @media (max-width: 600px) {
        display: block;
      }

      // Let's show overlapping featured-image
      overflow: visible;

      // Let's reset the padding from the hero container, no need in full width hero
      padding: 0;

      @media (max-width: 600px) {
        overflow: hidden;
      }
    }

    .featured-image.featured-image-side {
      @include background-cover();
      width: 50vw;
      height: 110vh;
      position: relative;
      z-index: 2;
      transition: all $transition-duration;
      top: 0;

      @media (max-width: 600px) {
        width: 100%;
        height: 50rem;
      }
    }

    .side-content-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      // Nav offset
      margin-bottom: -6rem;

      // These are the same values than in general containers
      padding-left: $padding-default-cols;
      padding-right: $padding-default-cols;
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;

      @media (max-width: $container-ipad) {
        padding-left: $padding-default-cols-ipad;
        padding-right: $padding-default-cols-ipad;
        padding-top: $padding-default-rows-ipad;
        padding-bottom: $padding-default-rows-ipad;
      }

      @media (max-width: $container-mobile) {
        padding-left: $padding-default-cols-mobile;
        padding-right: $padding-default-cols-mobile;
        padding-top: $padding-default-rows-mobile;
        padding-bottom: $padding-default-rows-mobile;
      }
    }

    h1,
    h2,
    a {
      color: $color-dude-white;
    }

    .content {
      display: flex;
      align-items: center;

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        transition: all $transition-duration;
      }

      ul {
        margin-bottom: 6rem;
        width: 100%;
      }

      li {
        margin-bottom: $margin-reasonable-space;
        line-height: 1.22;
        animation-name: fade-in-down;
        animation-timing-function: ease-in both;
        animation-fill-mode: forwards;
        opacity: 0;
      }

      li:nth-child(1) {
        animation-duration: 1s;
        animation-delay: 1s;
      }

      li:nth-child(2) {
        animation-duration: 1s;
        animation-delay: 1.5s;
      }

      li:nth-child(3) {
        animation-duration: 1s;
        animation-delay: 2s;
      }

      li:last-of-type {
        margin-bottom: 0;
      }

      li a {
        @extend %h2;
        font-weight: 300;
        line-height: 1.2;
        display: inline-block;
        transition: all $transition-duration;
      }

      // Fade all out except hovered one
      ul:hover li a {
        opacity: .2;
      }

      ul:hover a:hover,
      ul:hover li:hover a {
        opacity: 1;
      }

      li a:hover:after {
        width: 100%;
      }

      li a:after {
        width: 0;
        height: .2rem;
        background: $color-dude-white;
        position: relative;
        content: '';
        display: block;
        transition: all $transition-duration;
      }

      .init:after {
        width: 100%;
      }

      .init:hover:after {
        width: 0;
      }
    }
  }
}
