.block.block-hero-person {
  padding-bottom: $margin-between-text-elements;

  .block-head {
    padding-top: 8rem;
  }

  .col.col-person-image > .image {
    overflow: visible;
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    top: 14rem;
  }

  .block-title {
    @extend %general-heading-large;
    font-weight: 500;
    margin-bottom: $margin-between-text-elements;
  }

  .block-title-pre {
    line-height: 2.06;
    letter-spacing: 1.51px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  .cols {
    @include grid(2, $gutter_x: $margin-between-grid-columns-large, $gutter_y: 0rem);
  }

  .contact .contact-detail {
    color: $color-midnight-blue;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border .22s;
    overflow: hidden;

    &:hover {
      border-bottom: 1px solid $color-mint;
    }
  }
}

.block:not(.block-footer) {
  .social a,
  .social a:hover,
  .social a:focus,
  .social a:active {
    background: none;
  }

  .social {
    margin-left: 0;
    margin-top: $margin-between-text-elements;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;

    a {
      color: $color-midnight-blue;

      &:hover {
        color: darken($color-mint, 32%);
      }
    }

    li {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        display: none;
      }
    }
  }

  .social svg {
    width: 25px;
    height: 25px;
  }
}
