.block.block-hero.block-hero-fp {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;

  .container {
    padding-top: 28rem;
    padding-bottom: 213px;
  }

  .content {
    text-align: center;

    .content-non-statement {
      margin-top: 0;
      margin-bottom: 42px;
      color: $color-white;
      font-weight: 400;
      font-style: normal;

      .strike {
        font-style: normal;
        text-decoration: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
      }

      .strike:after {
        position: absolute;
        display: inline-flex;
        left: 0;
        margin-top: 8px;
        z-index: 2;
        content: ' ';
        background: $color-white;
        height: 4px;
        width: 100%;
      }
    }

    p,
    h1 {
      text-transform: lowercase;

      .capital-p-dangit {
        text-transform: none;
      }
    }

    .content-non-statement,
    h1 {
      font-size: 90px;
    }

    h1 {
      color: $color-midnight-blue;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 146px;
    }

    .content-sub-statement {
      color: $color-midnight-blue;
      font-size: 16px;
    }
  }
}
