.block.block-hero {
  display: flex;
  align-items: center;
  z-index: 1;
  color: $color-white;
  padding-top: 19rem;
  padding-bottom: 19rem;

  h1 {
    color: $color-white;
    margin-top: 0;
  }

  p {
    color: $color-body;
  }

  .container {
    overflow: visible;
  }

  .hero-description {
    margin-bottom: 5rem;
    width: 100%;

    p {
      font-weight: 300;
      max-width: 80rem;
    }
  }

  .shade {
    background: linear-gradient(to bottom, #28392a 0%, transparent 50%);
    opacity: .5;
    z-index: 3;
  }

  // Merch hero
  &.block-hero-merch {
    a {
      background-image: linear-gradient(to top, $color-white, $color-white);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:hover,
    a:focus,
    a:active {
      background-size: 100% 2.8rem;
      color: $color-deep-black;
    }

    .details {
      opacity: .7;
      font-size: 19px;
      line-height: 1.6;
      transition: all 1s;
    }

    .details:hover {
      opacity: 1;
    }
  }

  // Contact thanks
  &.block-hero-contact-thanks {
    margin-bottom: 8rem;
    min-height: 100rem;

    .container {
      width: 100%;
      max-width: 80rem;
      margin-bottom: -6rem;
    }

    .content {
      margin-bottom: 0;

      p {
        max-width: 80rem;
      }
    }

    h1 {
      margin-bottom: 2rem;
    }
  }

  // Jobs hero
  .side-content-box {
    @media (max-width: 800px) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  &.block-hero-jobs .jobs {
    list-style: none;
    margin: 0;
    padding: 0;

    li,
    a {
      color: $color-white;
      font-weight: 300;
    }

    a {
      display: inline-block;
      padding-bottom: 1rem;
      padding-top: 1rem;

      @media (max-width: 570px) {
        width: 100%;
      }

      &:hover:after {
        width: 0;
      }

      &:hover .label {
        background-color: lighten($color-cobalt-blue, 10%);
      }
    }

    a:after {
      width: 100%;
      height: 1px;
      background: #fff;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
      bottom: -1rem;
      opacity: .5;
    }

    li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:last-child {
      margin-bottom: 0;
    }

    .label {
      font-size: 1.4rem;
      padding: .5rem 1rem;
      background: $color-cobalt-blue;
      color: #fff;
      font-weight: 300;
      margin-left: 2rem;
      transition: all $transition-duration;

      @media (max-width: 570px) {
        display: block;
        margin-left: 0;
        margin-top: .8rem;
      }
    }
  }

  // Hero for contact page
  &.block-hero-contact {
    position: relative;

    @media (max-width: 600px) {
      height: auto;
    }

    h1,
    .contact-details {
      width: 100%;
      font-weight: 300;
    }

    @media (max-width: 600px) {
      .side-content-box.contact-information {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .textual-content {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    svg {
      fill: $color-white;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: .8rem;
      position: relative;
      top: 3px;
    }

    .open-chat {
      background: transparent;
      border: 0;
      padding: 0;
      color: $color-white;
      font-weight: 300;
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }

      &:after {
        display: none;
      }

      svg {
        fill: transparent;
        stroke: $color-white;
      }
    }

    a:after,
    button:after {
      width: 100%;
      height: 1px;
      background: #fff;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
      bottom: .2rem;
      opacity: .5;
    }

    a {
      display: inline-block;
      width: auto;
    }

    a:hover:after,
    button:hover:after {
      width: 0;
    }

    .form-box {
      background: $color-white;
      color: $color-body;
      padding: 6rem;
      max-width: 45rem;
      overflow: visible;
      position: absolute;
      left: calc(50% - 8rem);
      bottom: 8rem;
      z-index: 6;

      @media (max-width: 700px) {
        width: 100%;
        max-width: 100%;
        left: 0;
        margin-top: 6rem;
        margin-bottom: 0;
        display: none;
      }

      @media (max-width: 500px) {
        position: static;
        padding: 4rem 2rem;
      }

      button:after {
        display: none;
      }

      @media (max-width: 700px) {
        position: static;
      }

      .arrow-link-wrapper {
        @extend %h4;
        font-weight: 600;
        margin-bottom: 3rem;
        width: 50vw;
        background: transparent;
        border: 0;
        color: $color-deep-black;
        text-align: left;
        padding: 0;

        @media (max-width: 700px) {
          width: 100vw;
        }
      }

      .arrow-link-wrapper:hover,
      .arrow-link-wrapper:focus {
        cursor: pointer;
      }

      .arrow-link-wrapper .arrow-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      p {
        @extend .text-smaller;
        margin: 0;
        font-weight: 300;
      }

      p,
      a {
        color: $color-body;
      }

      a:after {
        display: none;
      }
    }
  }

  // Animation stuff
  .animate {
    @media (min-width: $container-mobile) {
      animation-name: fade-in-down;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }

  li:nth-child(1),
  .animate-1 {
    @media (min-width: $container-mobile) {
      animation-duration: 1s;
      animation-delay: 1s;
      opacity: 0;
    }
  }

  li:nth-child(2),
  .animate-2 {
    @media (min-width: $container-mobile) {
      animation-duration: 1s;
      animation-delay: 1.5s;
      opacity: 0;
    }
  }

  li:nth-child(3),
  .animate-3 {
    @media (min-width: $container-mobile) {
      animation-duration: 1s;
      animation-delay: 2s;
      opacity: 0;
    }
  }

  // Hero for front page and side columns
  &.block-hero-frontpage,
  &.block-hero-side-columns {
    background: $color-white;
    color: $color-cobalt-blue;

    .featured-image.featured-image-side {
      width: 40vw;
      position: absolute;
      z-index: 2;
      transition: all .6s;
      overflow: hidden;
      height: 100vh;
      right: 0;
      top: 0;
    }

    .side-content-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      // Nav offset
      margin-bottom: -6rem;

      // These are the same values than in general containers
      padding-left: $padding-default-cols;
      padding-right: $padding-default-cols;
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;

      @media (max-width: $container-ipad) {
        padding-left: $padding-default-cols-ipad;
        padding-right: $padding-default-cols-ipad;
        padding-top: $padding-default-rows-ipad;
        padding-bottom: $padding-default-rows-ipad;
      }

      @media (max-width: 600px) {
        height: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      @media (max-width: $container-mobile) {
        padding-left: $padding-default-cols-mobile;
        padding-right: $padding-default-cols-mobile;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @media (max-width: 870px) {
          padding-top: 20rem;
          padding-bottom: 20rem;
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }

      @supports (-ms-ime-align: auto) {
        @media (max-width: 870px) {
          padding-top: 20rem;
          padding-bottom: 20rem;
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
          width: 100%;
          display: block;
        }
      }
    }

    h1 {
      font-family: $font-headings-alt;
      line-height: 1.25;
    }

    h1,
    h2,
    a {
      color: $color-cobalt-blue;
    }

    .content {
      padding: 8rem;
      max-width: 670px;

      @media (min-width: $container-mobile) {
        &.has-loaded {
          opacity: 1;
        }
      }

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        transition: all $transition-duration;
      }

      ul {
        margin-bottom: 6rem;
        width: 100%;

        @media (max-height: 600px) {
          margin-bottom: 3rem;
        }
      }

      li {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.22;

        @media (min-width: $container-mobile) {
          animation-name: fade-in-down;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
          opacity: 0;
        }
      }

      li:last-of-type {
        margin-bottom: 0;
      }

      li a {
        @extend %h2;
        font-weight: 300;
        line-height: 1.2;
        display: inline-block;
        transition: all $transition-duration;
        padding-bottom: $margin-reasonable-space;
        margin-bottom: 0;
        margin-top: 0;

        @media (max-width: $container-ipad) {
          padding-bottom: 2rem;
        }
      }

      // Fade all out except hovered one
      ul:hover li a {
        opacity: .2;
      }

      ul:hover a:hover,
      ul:hover li:hover a {
        opacity: 1;
      }

      li a:hover:after {
        width: 100%;
      }

      li a:after {
        width: 0;
        height: .2rem;
        background: $color-white;
        position: relative;
        content: '';
        display: block;
        transition: all $transition-duration;
      }

      .init:after {
        width: 100%;
      }

      .init:hover:after {
        width: 0;
      }
    }
  }
}
