body .block.block-hero-reference,
body .block-hero-person {
  // Padding here is navigation height plus regular padding which is exactly 100px in total
  padding-top: calc(15rem + 113px);

  .cols {
    @include grid(2, $gutter_x: 0, $gutter_y: 0);
    grid-template-columns: 6fr 4fr;

    @media (max-width: $container-ipad) {
      display: flex;
      flex-wrap: wrap;

      .col.has-grey-bg {
        order: 1;
      }

      .col:not(.has-grey-bg) {
        width: 100%;
        height: 100%;
        order: 2;
      }
    }
  }

  .col.has-grey-bg {
    background: transparent;
  }

  .breadcrumb {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: -4rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    font-weight: 300;

    a {
      font-weight: 400;
    }

    svg {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 12px;
      height: 12px;
    }
  }

  .content h1 {
    @extend %h2;
  }
}

body .block.block-hero-reference {
  padding-bottom: 0;

  @media (max-width: $container-mobile) {
    .image {
      height: 40rem;
    }
  }

  .content {
    a:not(.arrow-link) {
      background-image: linear-gradient(to top, $color-dude-deep-black, $color-dude-deep-black);
      background-size: 100% 1px;
      background-position: left bottom;
      background-repeat: no-repeat;
      transition: .3s all;
      text-decoration: none;
      overflow: visible;
    }

    a:not(.arrow-link):hover,
    a:not(.arrow-link):focus,
    a:not(.arrow-link):active {
      background-size: 100% 2.8rem;
      color: $color-dude-white;
    }
  }
}
