/* stylelint-disable selector-max-class, selector-max-specificity, no-descending-specificity, selector-max-pseudo-class */
.block.block-hero.block-hero-reference {
  background: $color-midnight;
  color: $color-white;
  padding-top: 18rem;
  padding-bottom: 8rem;
  height: auto;
  min-height: 0;

  @media (max-width: 800px) {
    padding-bottom: 8rem;
    padding-top: 12rem;
  }

  @media (max-width: 600px) {
    padding-bottom: 4rem;
  }

  .hero-description a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail) {
    color: $color-white;
    box-shadow: none;
    border-bottom: 1px solid rgba($color-white, .3);
    transition: border .22s;
    overflow: hidden;
    background: none;

    &:hover {
      border-bottom: 1px solid $color-mint;
      background: none;
      color: $color-white;
    }
  }

  h2,
  p {
    color: $color-white;
  }

  h1 {
    margin-bottom: $margin-between-text-elements;
  }

  @media (max-width: 420px) {
    h1 {
      font-size: 26px;
    }
  }
}
