.block.block-hero.block-hero-service {
  background: $color-dude-deep-black;
  color: $color-dude-white;
  padding-top: 18rem;
  padding-bottom: 18rem;
  text-align: center;

  h1 {
    color: $color-dude-white;
  }
}
