// Recruiting 2021 vars
:root {
  --height-visual-site-header: 82px;

  @media (max-width: $responsivenav) {
    --height-visual-site-header: 34px;
  }
}

.block.block-hero.block-hero-jobs {
  height: unset;
  padding: 0;
  min-height: unset;
  max-height: unset;
  overflow: hidden;

  .shade {
    background: var(--color-midnight);
    opacity: .6;
  }

  .container,
  .content {
    transform: none;
    height: unset;
    padding: 0;
    min-height: unset;
    max-height: unset;
  }

  .container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
    width: 100%;
  }

  .logo-big-white {
    width: calc(100vw + 140px);
    margin-bottom: -115px;
  }

  .content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: calc(100vw + 140px);
    padding-top: calc(14.8rem + var(--height-visual-site-header));
    padding-bottom: 12.4rem;

    > * {
      width: 100%;
    }
  }

  .featured-image > div {
    background-position: bottom;

    @media (max-width: 1800px) {
      background-position: center;
    }
  }

  h1,
  .hero-description,
  .button-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-description > p {
    font-size: var(--font-size-24);
  }

  // Anchor link
  .button-wrapper > a {
    color: var(--color-mint);
    border-radius: 22px;
    border: 1px solid var(--color-mint);
    padding: 6px 25px 8px 16px;
    font-size: var(--font-size-16);
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-weight: var(--font-weight-bold);
    transition: all .18s cubic-bezier(.19, 1, .22, 1);

    &::before {
      transition: all .18s cubic-bezier(.19, 1, .22, 1);
      animation: 1s cubic-bezier(.5, 0, 1, 1) infinite alternate blinker;
      content: '';
      background-color: var(--color-mint);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      display: block;
    }

    &:focus,
    &:hover {
      box-shadow: none;
      background-color: var(--color-mint);
      color: var(--color-midnight);

      &::before {
        background-color: var(--color-midnight);
      }
    }
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: .1;
  }
}
