.block.block-hero {
  margin-left: 0;
  margin-right: 0;

  .featured-image.featured-image-side {
    @include background-cover();
    width: 50vw;
  }

  &.block-hero-frontpage {
    height: 100vh;
    background: $color-dude-deep-black;
    color: $color-dude-white;
    display: flex;

    // Let's reset the padding from the hero container, no need in full width hero
    padding-left: 0;
    padding-right: 0;

    .container {
      @include grid(2, $gutter_x: 0, $gutter_y: 0);

      // Let's reset the padding from the hero container, no need in full width hero
      padding: 0;
    }

    .selection {
      display: flex;
      align-items: center;

      // These are the same values than in general containers
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;
      padding-left: $padding-default-cols;
      padding-right: $padding-default-cols;
    }

    h1,
    h2,
    a {
      color: $color-dude-white;
    }

    a {
      text-decoration: none;
    }
  }

  .content.content-select-service {
    display: flex;
    align-items: center;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      transition: all $transition-duration;
    }

    li {
      margin-bottom: $margin-reasonable-space;
      line-height: 1.22;
    }

    li:last-of-type {
      margin-bottom: 0;
    }

    li a {
      @extend %h2;
      font-weight: 300;
      line-height: 1.2;
      display: inline-block;
      transition: all $transition-duration;
    }

    // Fade all out except hovered one
    ul:hover li a {
      opacity: .2;
    }

    ul:hover a:hover {
      opacity: 1;
    }

    li a:hover:after {
      width: 100%;
    }

    li a:after {
      width: 0;
      height: .2rem;
      background: $color-dude-white;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
    }

    .init:after {
      width: 100%;
    }

    .init:hover:after {
      width: 0;
    }
  }
}
