.block.block-hero.block-hero-contact-thanks {
  .shade {
    z-index: 7;
  }

  .container {
    z-index: 9;
  }

  .hero-description a {
    border-bottom: 1px solid rgba($color-white, .3);
    transition: border .22s;
    color: $color-white;

    &:hover {
      border-bottom: 1px solid $color-mint;
    }
  }

  .content {
    text-align: center;
    margin: 0 auto;

    p {
      width: 100%;
      max-width: 100%;
    }

    > div,
    iframe {
      border-radius: 4px;
    }
  }

  h1,
  p {
    color: $color-white;
    text-align: center;
  }
}
