/* stylelint-disable selector-max-class, selector-max-specificity */
.block.block-hero.block-company {
  display: block;
  height: auto;
  padding-top: 30rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  .content {
    margin-bottom: $padding-blocks-medium;

    @media (max-width: $grid-base-size + 150px) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
    }

    @media (min-width: 760px) {
      margin-bottom: 20rem;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  @media (max-width: 760px) {
    padding-top: $padding-blocks-large;
  }

  .hero-description {
    margin-bottom: 0;
  }

  .visual {
    @include aspect-ratio(1680, 398);
    overflow: hidden;
    width: 100%;

    // Some browsers render incorrectly
    .background-image.preview,
    .lazy {
      filter: none;
    }
  }

  .container {
    display: block;
    transform: none;
  }
}
