.block.block-hero-person {
  padding-bottom: $margin-between-text-elements;

  .col.col-person-image > .image {
    overflow: visible;
    position: absolute;
    right: 0;
    width: 50vw;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    top: 14rem;
  }

  .block-title {
    @extend %general-heading-large;
    font-weight: 500;
    margin-bottom: $margin-between-text-elements;
  }

  .block-title-pre {
    line-height: 2.06;
    letter-spacing: 1.51px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  .social a,
  .social a:hover,
  .social a:focus,
  .social a:active {
    background: none;
  }

  .social {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin-right: .5rem;
    }
  }

  .social svg {
    fill: $color-midnight;
    width: 25px;
    height: 25px;
  }

  .cols {
    @include grid(2, $gutter_x: $margin-between-grid-columns-large, $gutter_y: 0rem);
  }
}
