.block.block-hero {
  margin-left: 0;
  margin-right: 0;

  @media (max-width: 600px) {
    height: auto;
    display: block;
    clear: both;
    overflow: hidden;
  }

  .content {
    @media (max-width: 600px) {
      height: 100vh;
    }
  }

  .featured-image.featured-image-side {
    @include background-cover();
    width: 50vw;
    height: 110vh;
    position: relative;
    z-index: 2;
    transition: all $transition-duration;
    top: 0;

    @media (max-width: 600px) {
      width: 100%;
      height: 50rem;
    }
  }

  &.block-hero-frontpage {
    height: 100vh;
    background: $color-dude-deep-black;
    color: $color-dude-white;
    display: flex;

    // Let's reset the padding from the hero container, no need in full width hero
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .cta-link:after {
      background: $color-dude-white;
    }

    @media (max-width: 600px) {
      overflow: hidden;
      height: auto;
      display: block;
    }

    .container {
      @include grid(2, $gutter_x: 0, $gutter_y: 0);
      width: 100%;
      margin: 0;

      @media (max-width: 1400px) {
        grid-template-columns: 60vw 40vw;
      }

      @media (max-width: 1020px) {
        grid-template-columns: 70vw 30vw;
      }

      @media (max-width: 600px) {
        display: block;
      }

      // Let's show overlapping featured-image
      overflow: visible;

      // Let's reset the padding from the hero container, no need in full width hero
      padding: 0;

      @media (max-width: 600px) {
        overflow: hidden;
      }
    }

    .selection {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      // These are the same values than in general containers
      padding-left: $padding-default-cols;
      padding-right: $padding-default-cols;
      padding-top: $padding-default-rows;
      padding-bottom: $padding-default-rows;

      @media (max-width: $container-ipad) {
        padding-left: $padding-default-cols-ipad;
        padding-right: $padding-default-cols-ipad;
        padding-top: $padding-default-rows-ipad;
        padding-bottom: $padding-default-rows-ipad;
      }

      @media (max-width: $container-mobile) {
        padding-left: $padding-default-cols-mobile;
        padding-right: $padding-default-cols-mobile;
        padding-top: $padding-default-rows-mobile;
        padding-bottom: $padding-default-rows-mobile;
      }
    }

    h1,
    h2,
    a {
      color: $color-dude-white;
    }
  }

  .content.content-select-service {
    display: flex;
    align-items: center;
    margin-bottom: -6rem;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      transition: all $transition-duration;
    }

    ul {
      margin-bottom: 6rem;
      width: 100%;
    }

    li {
      margin-bottom: $margin-reasonable-space;
      line-height: 1.22;
    }

    li:last-of-type {
      margin-bottom: 0;
    }

    li a {
      @extend %h2;
      font-weight: 300;
      line-height: 1.2;
      display: inline-block;
      transition: all $transition-duration;
    }

    // Fade all out except hovered one
    ul:hover li a {
      opacity: .2;
    }

    ul:hover a:hover,
    ul:hover li:hover a {
      opacity: 1;
    }

    li a:hover:after {
      width: 100%;
    }

    li a:after {
      width: 0;
      height: .2rem;
      background: $color-dude-white;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
    }

    .init:after {
      width: 100%;
    }

    .init:hover:after {
      width: 0;
    }
  }
}
