.block.block-hero.block-hero-service {
  background: $color-dude-deep-black;
  color: $color-dude-white;

  h1 {
    color: $color-dude-white;
  }

  .content {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;

    @media (max-width: 600px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .customer-logos svg {
    display: block;
    max-width: 100px;

    @media (max-width: 600px) {
      max-width: 60px;
    }
  }

  .customer-logos svg,
  .customer-logos path {
    fill: #fff;
  }

  .customer-logos-list {
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }

    > * {
      margin: 0 2.5rem;
    }
  }
}
