.block.block-hero-reference {
  background: $color-midnight;
  color: $color-white;

  a,
  h2,
  p {
    color: $color-white;
  }

  h1 {
    margin-bottom: $margin-between-text-elements;
  }

  @media (max-width: 420px) {
    h1 {
      font-size: 26px;
    }
  }

  .hero-description {
    a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail) {
      color: $color-white;
      box-shadow: none;
      border-bottom: 1px solid rgba($color-white, .3);
      transition: border .22s;
      overflow: hidden;
      background: none;

      &:hover {
        border-bottom: 1px solid $color-mint;
        background: none;
      }
    }
  }
}
