.single .block.block-hero.block-hero-single {
  height: auto;
  background: $color-white;
  overflow: visible;
  padding-top: $padding-blocks-medium;
  padding-bottom: $padding-blocks-medium;

  @media (max-width: $container-ipad-landscape) {
    // Let's make space for old notification
    &.is-old {
      padding-bottom: $padding-blocks-huge;
    }
  }

  @media (min-width: $container-ipad-landscape) {
    min-height: 90rem;
    padding-top: $padding-blocks-huge;
    padding-bottom: $padding-blocks-huge;
  }

  .notification-box {
    position: absolute;
    bottom: 0;
    z-index: 6;
    transform: translateY(45px);
    overflow: visible;
    width: 100%;

    .container {
      transform: none;
      overflow: visible;
    }

    @media (max-width: $grid-base-size + 150px) {
      width: calc(100% - 10rem);
    }

    @media (max-width: $container-ipad) {
      width: calc(100% - 4rem);
    }

    .box {
      background: $color-white;
      box-shadow: 0 2px 26px 0 rgba($color-black, .07);
      text-align: center;
      padding: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: $color-midnight;
      font-weight: 700;
      margin: 0;
      padding: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width: $container-mobile) {
        font-size: 20px;
      }
    }

    svg {
      fill: $color-cobalt-blue;
      margin-right: 1.6rem;
      min-width: 22px;
      width: 22px;
      height: 22px;

      @media (max-width: 1030px) {
        margin-bottom: 1rem;
      }
    }
  }

  h1 {
    @extend %general-heading-large;
    font-weight: 500;
    margin-bottom: $margin-between-text-elements;
    line-height: 1.23;
  }

  .block-title-pre {
    font-size: $font-size-general-small;
    margin-top: 0;
  }

  .container {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;

    // Offset nav height
    transform: translateY(65px);

    @media (max-width: $container-mobile) {
      transform: translateY(46px);
    }
  }

  .featured-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  .shade {
    background-color: rgba(3, 6, 27, .5);
    opacity: 1;
    z-index: 2;
  }
}
