// Block specific variables

.block.block-hero.block-hero-fp {
  height: 80vh;
  max-height: 90rem;
  min-height: 40rem;
  padding-top: 0;
  padding-bottom: 0;

  // Fix rendering bug
  overflow: visible;

  @media (max-width: 500px) {
    max-height: 60rem;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content {
    text-align: center;
    max-width: 100%;
    transform: translateY(2rem);

    @media (min-width: 760px) {
      transform: translateY(calc(#{$nav-height} / 2));
    }

    .content-non-statement {
      margin-top: 0;
      margin-bottom: 42px;
      color: $color-white;
      font-weight: 400;
      font-style: normal;

      .strike {
        font-style: normal;
        text-decoration: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
      }

      .strike:after {
        position: absolute;
        display: inline-flex;
        left: 0;
        margin-top: 8px;
        z-index: 2;
        content: ' ';
        background: $color-white;
        height: 4px;
        width: 100%;
      }
    }

    p,
    h1 {
      .capital-p-dangit {
        text-transform: none;
      }
    }

    h1 {
      @include responsive-font(80px, 142px);
      color: $color-midnight-blue;
      font-weight: $headings-weight;
      line-height: 1;
      white-space: nowrap;

      @media (max-width: 700px) {
        font-size: 62px;
      }

      @media (max-width: $container-mobile) {
        font-size: 42px;
      }

      // iPhones
      @media (max-width: 360px) {
        font-size: 32px;
      }
    }

    .content-sub-statement {
      @include responsive-font($font-size-general-small, 20px);
      color: $color-midnight-blue;
      font-size: var(--font-size-general-small);

      @media (max-width: 600px) {
        font-size: var(--font-size-general-small);
      }

      // iPhones
      @media (max-width: 360px) {
        font-size: 14px;
      }
    }
  }
}
