.background-image {
  @include background-cover();
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  &.reveal {
    filter: none;
    animation: progressive-reveal .88s ease-out;
  }

  &.preview {
    filter: blur(1vw);
    transform: scale(1.05);
  }

  &.full-image {
    z-index: 1;
    transition: all .88s;
  }
}

.block.block-hero .featured-image .background-image {
  transition: .0001s;
  animation: progressive-reveal .0001s ease-out;
}

@keyframes progressive-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// General class for any lazy load container
.has-lazyload {
  overflow: hidden;
  position: relative;
}
