.site-header {
  @extend .container;
  max-width: $site-header-max-width;
  position: relative;
  z-index: 15;

  // Easier flex way to align logo and navigation
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  padding-top: 62px;
  padding-bottom: 62px;

  @media (max-width: $grid-base-size + 150px) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
  }

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
  }

  @media (max-width: 760px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.site-branding {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 10;
}

.site-title {
  margin: 0;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 10;

  @media (max-width: 680px) {
    svg {
      width: 70px;
      height: 13.98px;
    }
  }

  a {
    color: $color-midnight-blue;
    display: flex;
    align-items: center;
  }
}

// If dark hero, fix colors according to the situation
nav ul li a,
nav ul li button {
  color: $color-white;
}

.call-me-maybe {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 5rem;

  svg {
    width: 17px;
    height: 17px;
    margin-right: 1rem;
  }

  @media (max-width: 600px) {
    display: flex;
  }

  a {
    color: #2ecc71;
    display: flex;
    align-items: center;
  }

  a:hover {
    color: lighten(#2ecc71, 15%);

    svg {
      stroke: lighten(#2ecc71, 15%);
    }
  }
}

// Pages with alternate invert header colors
body.page-id-4485,
body.page.page-id-9,
body.page.page-id-4491,
body.post-type-archive-reference,
body.js-nav-active,
body.single-reference,
body.single-post,
body.post-type-archive-merch,
body.page.page-id-6357,
body.page-template-template-community-code,
body.error404,
body.page-id-6117 {
  .site-branding .site-title a,
  .nav-primary-desktop .menu-items .menu-item button:not(.nav-toggle),
  .nav-primary-desktop .menu-items .menu-item a {
    color: $color-white;
  }

  .nav-primary-desktop .menu-items .menu-item a:after {
    background-color: $color-white;
  }

  .nav-toggle,
  .nav-toggle:focus {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    &:focus .hamburger-inner:focus::before,
    &:focus .hamburger-inner:focus::after {
      background-color: $color-white;
      color: $color-white;
    }
  }
}
