/* stylelint-disable selector-max-class, selector-max-specificity, no-descending-specificity, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class, selector-attribute-quotes, max-nesting-depth */
.site-header {
  @extend .container;
  max-width: $site-header-max-width;
  width: 100%;
  position: relative;
  z-index: 15;

  // Easier flex way to align logo and navigation
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  padding-top: 62px;
  padding-bottom: 62px;

  @media (max-width: $grid-base-size + 150px) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
  }

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
  }

  @media (max-width: 760px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 760px) {
  .js-nav-active .site-header {
    max-width: calc(#{$site-header-max-width} + 15px);

    .nav-toggle.nav-toggle-desktop {
      right: 15px;
    }
  }
}

.site-branding {
  position: relative;
  display: block;
  z-index: 10;
}

.site-title {
  margin: 0;

  a {
    color: $color-midnight-blue;
    display: flex;
    align-items: center;
  }

  @media (max-width: 680px) {
    svg {
      width: 70px;
      height: 13.98px;
    }
  }
}

// If dark hero, fix colors according to the situation
nav ul li a,
nav ul li button {
  color: $color-white;
}

.call-me-maybe {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 5rem;

  svg {
    width: 17px;
    height: 17px;
    margin-right: 1rem;
  }

  a {
    color: $color-mint-alternative;
    display: flex;
    align-items: center;
  }

  a:hover,
  a:focus {
    color: $color-mint-alternative-hover;

    svg {
      stroke: $color-mint-alternative-hover;
    }
  }

  @media (max-width: 600px) {
    display: flex;
  }
}

// Pages with alternate invert header colors
body.page-id-4485,
body.page.page-id-9,
body.page.page-id-4491,
body.post-type-archive-reference,
body.js-nav-active,
body.single-reference,
body.single-post,
body.post-type-archive-merch,
body.page-template-template-community-code,
body.error404,
body.page-id-6117,
body.page-id-4737,
body.page-template-template-faq,
body.page-id-5973,
body.page-id-5975 {
  .site-branding .site-title a,
  .nav-primary-desktop .menu-items .menu-item button:not(.nav-toggle),
  .nav-primary-desktop .menu-items .menu-item a {
    color: $color-white;
  }

  .hero-description a:not(.button):not(.url):not(.no-text-link):not(.cta-link):not(.wp-block-button__link):not(.post-edit-link):not(.contact-detail) {
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-midnight;
    }
  }

  .nav-primary-desktop .menu-items .menu-item a::after {
    background-color: $color-white;
  }

  .nav-toggle,
  .nav-toggle:focus {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    &:focus .hamburger-inner:focus::before,
    &:focus .hamburger-inner:focus::after {
      background-color: $color-white;
      color: $color-white;
    }
  }
}
