.site-header {
  position: relative;
  z-index: 15;
  max-width: $grid-base-size;
  margin-left: auto;
  margin-right: auto;

  // Easier flex way to align logo and navigation
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $padding-default-cols;
  padding-right: $padding-default-cols;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
  }

  @media (max-width: $container-mobile) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
  }
}

.site-title {
  margin: 0;
  font-weight: 700;

  a {
    color: #111;
  }
}

// If dark hero, fix colors according to the situation
.has-dark-hero {
  nav ul li a,
  nav ul li button {
    color: #fff;
  }

  .site-title svg,
  .site-title g,
  .site-title path {
    fill: #fff;
  }
}
