.logo-square {
  width: 18rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-dude-deep-black;
  margin-left: -3.8rem;

  @media (max-width: 640px) {
    margin-left: auto;
    margin-top: -3.8rem;
    margin-bottom: 0;
    margin-right: auto;
    width: 11rem;
    height: 11rem;
  }

  svg {
    fill: $color-dude-white;
    width: 100px;
    height: 26px;

    @media (max-width: 640px) {
      width: 80px;
      height: 15px;
    }
  }
}

.site-footer {
  margin-top: $padding-default-cols;

  .block-head {
    padding-top: 10rem;
    padding-bottom: 10rem;

    @media (max-width: 1000px) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    @media (max-width: 640px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $color-dude-whitegreyish;

    @media (max-width: 640px) {
      flex-wrap: wrap;
    }
  }

  .contact-details {
    width: 50%;
    padding: $padding-general-content-box;
    max-width: 80rem;

    @media (max-width: 640px) {
      padding: $padding-general-content-box-mobile;
    }

    @media (max-width: 1700px) {
      width: 70%;
    }

    @media (max-width: 800px) {
      width: 80%;
    }

    @media (max-width: 640px) {
      width: 100%;
    }

    .block-title {
      display: inline-block;
      padding-bottom: 0;
      line-height: 1;
    }

    .block-title a:after,
    .foot-note a:after {
      width: 100%;
      height: .2rem;
      background: $color-links;
      position: relative;
      content: '';
      display: block;
      transition: all $transition-duration;
    }

    .block-title a:hover:after,
    .foot-note a:hover:after {
      width: 0;
    }

    .foot-note a {
      position: relative;
      display: inline-block;
      line-height: 1;

      &:hover {
        opacity: 1;
      }

      &.hashtag {
        font-weight: bold;
        opacity: .7;
      }

      &.hashtag:after {
        display: none;
      }
    }

    .foot-note a:after {
      height: .1rem;
    }
  }

  .foot-note a:after {
    opacity: .5;
  }
}
