/* stylelint-disable selector-max-class, selector-max-specificity, no-descending-specificity, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class, selector-attribute-quotes, max-nesting-depth */
.block.block-footer.site-footer {
  background-color: $color-midnight;
  color: $color-white;
  overflow: hidden;
  z-index: 3;
  position: relative;
  padding-top: $padding-blocks-medium;
  padding-bottom: 0;

  .infos-and-certs {
    margin-bottom: 8rem;

    @media (min-width: 950px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 0;
    }

    .certs {
      display: flex;
      align-items: center;
      height: 120px;

      @media (min-width: 950px) {
        justify-content: space-between;
      }
    }

    svg {
      max-width: 150px;

      @media (max-width: 530px) {
        max-width: 100px;
      }

      @media (max-width: 440px) {
        max-width: 80px;
      }
    }

    a {
      margin-right: 5rem;

      @media (max-width: 480px) {
        margin-right: 4rem;
      }

      @media (max-width: 450px) {
        margin-right: 3rem;
      }
    }

    a:last-child {
      margin-right: 0;
    }

    path:not(.hole) {
      fill: $color-white;
      transition: all .22s;
    }

    .c-vierityspalkki {
      position: relative;
      top: 2px;
    }

    .c-vierityspalkki path.hole {
      fill: #343649;
    }

    .c-itewiki path.hole {
      fill: #303148;

      @media (max-width: 950px) {
        fill: #263745;
      }
    }

    a:not(.top),
    a:not(.top):hover,
    a:not(.top):focus {
      border: 0;
    }

    a:hover {
      color: $color-mint;

      path:not(.hole) {
        fill: $color-mint;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  // Sometimes browsers render the white behind blocks
  margin-top: -1px;

  @media (max-width: 600px) {
    padding-top: $padding-blocks-small;
  }
}

.block.block-footer.site-footer .cols {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    @include grid(2, $gutter_x: 4rem, $gutter_y: 6rem);
  }

  @media (max-width: $container-mobile) {
    p,
    li {
      font-size: var(--font-size-general-small);
    }
  }

  ul li {
    line-height: 2.06;

    @media (max-width: $container-mobile) {
      line-height: 1.8;

      a {
        font-size: 15px;
      }
    }
  }
}

.block.block-footer.site-footer h3 {
  @extend %default;
  font-weight: 700;
}

.block.block-footer.site-footer button.chat {
  @extend %default;
  color: $color-white;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;

  &:hover {
    cursor: pointer;
  }
}

.block.block-footer.site-footer h3,
.block.block-footer.site-footer p {
  color: $color-white;
}

.block.block-footer.site-footer .large-text {
  margin-bottom: 10rem;
  margin-right: 5rem;
  margin-top: 0;
  max-width: 60rem;

  @media (max-width: 1200px) {
    font-size: 20px;
  }

  @media (max-width: 950px) {
    margin-bottom: 0;
  }

  @media (max-width: 500px) {
    margin-bottom: $margin-between-text-elements;
    font-size: 18px;
  }
}

.block.block-footer.site-footer .shade {
  z-index: 0;
  background: $color-midnight;
  opacity: .2;
}

.block.block-footer.site-footer ul,
.block.block-footer.site-footer li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.block.block-footer.site-footer a:not(.top),
.block.block-footer.site-footer button.chat {
  color: $color-white;
  border-bottom: 1px solid rgba($color-white, .3);
  transition: border .22s;
  overflow: hidden;
  display: inline-flex;

  &:hover {
    border-bottom: 1px solid $color-mint;
  }
}

.block.block-footer.site-footer a,
.block.block-footer.site-footer p,
.block.block-footer.site-footer li {
  line-height: 1.7;
}

.block.block-footer.site-footer .main-links {
  margin-top: 10rem;
}

.block.block-footer.site-footer .main-links ul {
  @include grid(4, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);
  margin: 0;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  border-top: 1px solid rgba($color-white, .2);
  border-bottom: 1px solid rgba($color-white, .2);

  @media (max-width: 900px) {
    @include grid(2, $gutter_x: 0, $gutter_y: 1rem);
  }

  li,
  a {
    margin: 0;
    padding: 0;
  }

  a {
    @extend %general-heading-small;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid rgba($color-white, 0);
    transition: border .22s;

    @media (min-width: 1400px) {
      font-size: 34px;
    }
  }
}

.disclaimer {
  padding-top: 5rem;
  padding-bottom: 5rem;

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    opacity: .5;
  }
}
