.block.block-footer.site-footer {
  background-color: $color-midnight;
  color: $color-white;
  overflow: hidden;
  z-index: 3;
  position: relative;
  padding-top: $padding-blocks-medium;
  padding-bottom: 0;

  .container {
    position: relative;
    z-index: 1;
  }

  // Sometimes browsers render the white behind blocks
  margin-top: -1px;

  @media (max-width: 600px) {
    padding-top: $padding-blocks-small;
  }
}

.block.block-footer.site-footer .cols {
  @include grid(4, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);

  @media (max-width: 900px) {
    @include grid(2, $gutter_x: 4remrem, $gutter_y: 6rem);
  }

  @media (max-width: $container-mobile) {
    // @include grid(1, $gutter_x: 0rem, $gutter_y: 6rem);
    p,
    li {
      font-size: var(--font-size-general-small);
    }
  }

  ul li {
    line-height: 2.06;

    @media (max-width: $container-mobile) {
      line-height: 1.8;

      a {
        font-size: 15px;
      }
    }
  }
}

.block.block-footer.site-footer h3 {
  @extend %default;
  font-weight: 700;
}

.block.block-footer.site-footer button.chat {
  @extend %default;
  color: $color-white;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;

  &:hover {
    cursor: pointer;
  }
}

.block.block-footer.site-footer h3,
.block.block-footer.site-footer p {
  color: $color-white;
}

.block.block-footer.site-footer .large-text {
  margin-bottom: 10rem;
  margin-top: 0;
  max-width: 60rem;

  @media (max-width: 500px) {
    margin-bottom: $margin-between-text-elements;
    font-size: 18px;
  }
}

.block.block-footer.site-footer .shade {
  z-index: 0;
  background: $color-midnight;
  opacity: .2;
}

.block.block-footer.site-footer ul,
.block.block-footer.site-footer li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.block.block-footer.site-footer a:not(.top),
.block.block-footer.site-footer button.chat {
  color: $color-white;
  border-bottom: 1px solid rgba($color-white, .3);
  transition: border .22s;
  overflow: hidden;
  display: inline-flex;

  &:hover {
    border-bottom: 1px solid $color-mint;
  }
}

.block.block-footer.site-footer a,
.block.block-footer.site-footer p,
.block.block-footer.site-footer li {
  line-height: 1.7;
}

.block.block-footer.site-footer .main-links {
  margin-top: 10rem;
}

.block.block-footer.site-footer .main-links ul {
  @include grid(4, $gutter_x: $margin-between-grid-columns, $gutter_y: $margin-between-grid-columns);
  margin: 0;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  border-top: 1px solid rgba($color-white, .2);
  border-bottom: 1px solid rgba($color-white, .2);

  @media (max-width: 900px) {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 1rem);
  }

  li,
  a {
    margin: 0;
    padding: 0;
  }

  a {
    @extend %general-heading-small;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid rgba($color-white, 0);
    transition: border .22s;

    @media (min-width: 1400px) {
      font-size: 34px;
    }
  }
}

.disclaimer {
  padding-top: 5rem;
  padding-bottom: 5rem;

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    opacity: .5;
  }
}


