// -----------------------------------------------------------
// Typography
//
// Everything around fonts, font size definitions and typeset
// presets. No modular scale, but a sophisticated viewport
// based responsive mixin can be found in _helpers.scss
// -----------------------------------------------------------

// Set up self-hosted fonts here
@include fontFace('Circular', '../fonts/CircularStd-Regular', 400);
@include fontFace('Circular', '../fonts/CircularStd-BookItalic', 400, italic);
@include fontFace('Circular', '../fonts/CircularStd-Medium', 500);
@include fontFace('Circular', '../fonts/CircularStd-MediumItalic', 500, italic);
@include fontFace('Circular', '../fonts/CircularStd-Bold', 700);
@include fontFace('Riforma', '../fonts/RiformaLL-Bold', 700);

// Set root size for rems
:root {
  font-size: 62.5%;
}

%textlink {
  position: relative;
  overflow: visible;
  font-weight: 700;
  z-index: 1;
  text-decoration: none;
  transition: all $transition-duration;
  display: inline-flex;
  color: $color-body;

  &:after {
    content: '';
    background: $color-mint;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
    transition: all $transition-duration;
  }

  &:hover {
    color: $color-white;
  }

  &:hover:after {
    background: $color-body;
    height: 25px;
    width: calc(100% + 8px);
    left: -4px;
  }
}

.block p a:not(.button):not(.url):not(.no-text-link) {
  @extend %textlink;
}

// Start typography settings
body {
  font-size: 1.7rem;
  font-family: $font-base;
  color: $color-body;

  // Font smoothing options
  text-size-adjust: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links
a {
  color: $color-links;
  text-decoration: none;
  transition: all $transition-duration;

  &:hover {
    color: $color-hover;
  }
}

// Preset for small fonts
%small {
  @include responsive-font(14px, 17px);
}

%extrasmall {
  @include responsive-font(12px, 14px);
}

// Defaults
p,
dd,
dt,
figcaption,
hr,
small,
ol,
ul,
li,
blockquote,
kbd,
pre,
samp,
code,
th,
td,
table,
tr,
%default {
  @include responsive-font($font-min-size, $font-max-size);
  letter-spacing: -.003em;
  line-height: $font-base-line-height-elements;
  font-weight: 300;
}

p {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  line-height: $font-base-line-height;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Heading defaults
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-headings;
  font-family: $font-headings;
  font-weight: $headings-weight;
}

// Based on type-scale with 14.255 base size where h1 is max 60px.
// See model that these are based on: https://www.dude.fi/type-scale.png
// And Versett.com: https://versett.com/
// Define your type scale here: https://type-scale.com/
h1,
%h1 {
  @include responsive-font(32px, 55px);
}

h2,
%h2 {
  @include responsive-font(27px, 45px);
  margin-bottom: 2rem;
}

h3,
%h3 {
  @include responsive-font(25px, 35px);
  margin-bottom: 2rem;
}

h4,
%h4 {
  @include responsive-font(23px, 30px);
}

h5,
%h5 {
  @include responsive-font(19px, 22px);
}

h6,
%h6 {
  @include responsive-font(16px, 18px);
}

// Lists
ul {
  list-style: circle;
  padding-left: 2.7rem;

  li {
    padding-left: .35rem;
  }
}

ol {
  padding-left: 1.75rem;
}

ol,
ul {
  padding-bottom: 1rem;
}

// Bold.
b,
strong {
  font-weight: 700;
}

// Italic.
em,
i {
  font-style: italic;
}

// Inline small text.
small {
  line-height: 1;
  font-size: .875em;
}

// images
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

// Figures and captions
figure {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  > img {
    width: 100%;
  }
}

// Figcaption.
figcaption {
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
}

// Quotes.
blockquote {
  clear: both;
  border: 0 none;
  position: relative;
  margin: 0;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

cite {
  display: block;
  font-style: italic;
}

// Horizontal rule.
hr {
  background-image: linear-gradient(to bottom, rgba(#000, 0) 50%, #000 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 50%;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  height: 0;
}

kbd,
pre,
samp {
  font-family: $font-monospace;
}

// Code block.
code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: $font-monospace;
  line-height: 1;
  padding: .375rem .5rem;
  border-radius: .3rem;
  font-size: inherit; // normalize.css sets this as 1em by default

  pre & {
    display: inline-block;
    padding: 1.15rem 1rem .85rem;
  }
}

// Preformatted text.
pre {
  border-radius: .3rem;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
}
