.block-hero.block-hero-single.has-video {
  position: relative;
}

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;

  &.vimeo-wrapper-upsell {
    width: 100%;
    height: 100%;

    iframe {
      height: 200%;
    }

    @media (min-width: 1920px) {
      iframe {
        height: 270%;
      }
    }

    @media (min-width: 2250px) {
      iframe {
        height: 300%;
      }
    }

    @media (min-width: 2450px) {
      iframe {
        display: none;
      }
    }
  }

  &.vimeo-wrapper-upsell-small {
    width: 100%;
    height: 100%;

    iframe {
      height: 100%;
      min-height: 350px;

      @media (max-width: 1500px) {
        min-height: 600px;
      }

      @media (min-width: 1920px) {
        min-height: 400px;
      }

      @media (min-width: 2450px) {
        display: none;
      }
    }
  }

  &.vimeo-wrapper-upsell-front-page {
    width: 100%;
    height: 100%;

    iframe {
      height: 230%;
    }

    @media (max-width: 1500px) {
      iframe {
        height: 200vh;
      }
    }

    @media (max-width: 1000px) {
      iframe {
        height: 120vh;
      }
    }

    @media (max-width: 600px) {
      iframe {
        height: 100vh;
      }
    }

    @media (min-width: 1920px) {
      iframe {
        height: 270%;
      }
    }

    @media (min-width: 2250px) {
      iframe {
        height: 300%;
      }
    }

    @media (min-width: 2450px) {
      iframe {
        display: none;
      }
    }
  }
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  height: 180vw;
  min-height: 70vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
