.block-hero.block-hero-single.has-video {
  position: relative;
}

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;

  &.vimeo-wrapper-upsell {
    width: 100%;
    height: 100%;

    iframe {
      height: 200%;
    }
  }
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  height: 180vw;
  min-height: 70vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
