// ---------------------------------------------------------
// Site navigation mobile layout
//
// The main layout for the website navigation, for the mobile
// version only.
// -----------------------------------------------------------
$nav-toggle-color: $color-cobalt-blue;
$nav-toggle-active-color: $color-cobalt-blue;
$nav-background-color: $color-deep-black;
$hamburger-padding-x: 1.5rem;
$hamburger-padding-y: 5rem;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: .2rem;
$hamburger-layer-spacing: .4rem;
$hamburger-layer-color: $nav-toggle-color;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: .8;
$hamburger-hover-transition-duration: .15s;
$hamburger-hover-transition-timing-function: linear;
$nav-open-from-right: true;
$nav-open-from-left: false;
$nav-open-from-bottom: false;
$nav-open-from-top: false;

@charset 'utf-8';

@import 'hamburgers/_sass/hamburgers/hamburgers';

@media (max-width: 960px) {
  .no-js .nav-primary-desktop {
    display: block;

    .menu-items.menu-items-no-js {
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
      padding: 1rem 2rem;
      margin: 0;
      flex-wrap: wrap;

      li {
        position: relative;
        width: auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 1rem;
      }

      li a {
        font-size: 16px;
      }
    }
  }
}


// Choose hamburger animation here
// Choices: https://jonsuh.com/hamburgers/
.hamburger {
  @extend .hamburger--spin;
}

// Disable scroll on html body when menu is opened.
.disable-scroll {
  overflow: hidden;
}

body:after {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 120vh;
  background: $nav-background-color;
}

body.single .site-content,
body.archive .site-content,
body.blog .site-content,
body.single-reference .site-content,
body.single-person .site-content {
  transition: all .75s 50ms cubic-bezier(.19, 1, .22, 1);
  will-change: transform;
}

.js-nav-active .block-hero,
body.single.js-nav-active .site-content,
body.archive.js-nav-active .site-content,
body.blog.js-nav-active .site-content,
body.single-reference.js-nav-active .site-content,
body.single-person.js-nav-active .site-content {
  transform: translateX(-50vw);

  .block-hero {
    transform: translateX(0);

    @media (max-width: 1400px) {
      transform: translateX(0);
    }

    @media (max-width: 1020px) {
      transform: translateX(0);
    }

    @media (max-width: 760px) {
      transform: translateX(0);
    }
  }

  @media (max-width: 1400px) {
    transform: translateX(-60vw);
  }

  @media (max-width: 1020px) {
    transform: translateX(-70vw);
  }

  @media (max-width: 760px) {
    transform: translateX(-100vw);
  }
}

// Blurs
.block-hero-service .container,
.block-hero-normal .container {
  transition: all .75s;
  will-change: filter;
}

.block-hero .full-image {
  transition: all .75s;
  will-change: opacity;
}

.js-nav-active {
  // Add blur effect to hero by hiding the full image and showing the preload-blur image from the background
  .block-hero.add-blur .full-image {
    opacity: 0;
  }

  &.blog .block .container,
  &.single .block .container,
  &.archive .block .container {
    filter: blur(1rem);
  }

  // Just blur other heros
  .block-hero-service:not(.block-hero-side-columns).add-blur .container,
  .block-hero-normal:not(.block-hero-side-columns).add-blur .container,
  .block-hero-jobs:not(.block-hero-side-columns).add-blur .container,
  .block-hero:not(.block-hero-side-columns).add-blur .container {
    filter: blur(1rem);
  }

  .add-blur .form-box {
    filter: blur(1rem);
  }
}

// Opening animations
.js.js-nav-active {
  .nav-primary {
    transform: translateX(0);
  }

  .menu-items {
    opacity: 1;
  }
}

// 60fps performance trick
// Source: https://medium.com/outsystems-experts/how-to-achieve-60-fps-animations-with-css3-db7b98610108
.nav-primary.is-animatable,
.block.block-hero.block-hero-enable-transition.is-animatable {
  transition: all .75s 50ms cubic-bezier(.19, 1, .22, 1);
}

.block.block-hero.block-hero-enable-transition {
  will-change: transform;
}

.nav-primary {
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translateX(50vw);
  will-change: transform;
  background: $nav-background-color;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: $padding-default-cols;
  padding-right: $padding-default-cols;
  padding-top: $padding-default-rows;
  padding-bottom: $padding-default-rows;
  overflow: auto;

  @media (max-width: 1400px) {
    transform: translateX(60vw);
    width: 60vw;
  }

  @media (max-width: 1020px) {
    transform: translateX(70vw);
    width: 70vw;
  }

  @media (max-width: 760px) {
    width: 100vw;
    transform: translateX(100vw);
  }

  @media (max-width: $container-ipad) {
    padding-left: $padding-default-cols-ipad;
    padding-right: $padding-default-cols-ipad;
    padding-top: $padding-default-rows-ipad;
    padding-bottom: $padding-default-rows-ipad;
  }

  @media (max-width: 600px) {
    padding-top: 4rem;
    padding-bottom: $padding-default-cols-mobile;
    display: block;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
  }

  @media (max-width: $container-mobile) {
    padding-left: $padding-default-cols-mobile;
    padding-right: $padding-default-cols-mobile;
  }

  .content {
    text-align: left;

    .contact-details,
    .email,
    .phone {
      font-weight: 300;
    }

    h2 {
      @include responsive-font(16px, 20px);
      color: $color-white;
      opacity: .5;
    }

    p {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .contact-actions {
      margin-top: 3rem;
      margin-bottom: 2rem;
      list-style: none;
      padding: 0;
    }

    .contact-actions li {
      list-style: none;
      padding: .2rem 0;
      margin: 0;
    }

    button.open-chat {
      background: transparent;
      border: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 300;
      padding: 0;
      cursor: pointer;
      transition: all $transition-duration;

      &:hover {
        opacity: .5;
      }

      svg,
      path {
        top: 0;
        fill: transparent;
        stroke: $color-white;
      }

      &:after {
        display: none;
      }
    }

    a,
    button {
      color: $color-white;
      display: inline-block;

      &:after {
        width: 100%;
        height: 1px;
        background: $color-white;
        position: relative;
        content: '';
        display: block;
        transition: all $transition-duration;
        bottom: .2rem;
        opacity: .5;
      }

      svg {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: .8rem;
        position: relative;
        top: 3px;
      }

      svg,
      path {
        fill: $color-white;
      }

      &:hover:after {
        width: 0;
      }
    }
  }

  .contact-details {
    margin-top: 5rem;
  }

  > * {
    width: 100%;
    color: $color-white;
  }

  .nav-items {
    @include grid(2, $gutter_x: 8rem, $gutter_y: 10rem);

    @media (max-width: 600px) {
      display: block;
      padding-top: 0;
      padding-bottom: 0;

      .content {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }

  .menu-items {
    transition: all .55s;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
    outline: none; // We have color here, so it's okay to remove outline

    @media (max-width: 600px) {
      width: 100%;
    }

    a {
      @include responsive-font(20px, 32px);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      color: $color-white;
      font-weight: 300;
      line-height: 1.55;
      text-decoration: none;
      position: relative;
      z-index: 0;
      display: inline-block;
      outline: none; // We have color here, so it's okay to remove outline

      &:after {
        width: 0;
        height: 1px;
        background: $color-white;
        position: relative;
        content: '';
        display: block;
        transition: all $transition-duration;
        bottom: .2rem;
        opacity: .5;
      }

      // Actions in menu items
      &:hover,
      &:focus,
      &:active,
      &.highlighted,
      &.current {
        color: $color-nav-links;
      }

      &:hover:after,
      &:active:after,
      &.highlighted:after,
      &.current:after {
        width: 100%;
        opacity: 1;
      }
    }

    .disabled {
      color: #bbb;
    }

    .highlighted .sub-arrow:before {
      display: block;
      content: '-';
    }

    // Dropdown toggle
    .dropdown-toggle {
      position: absolute;
      top: 0;
      margin-top: 0;
      left: auto;
      right: 2rem;
      width: 3.7rem;
      height: 3.7rem;
      overflow: hidden;
      font: bold 18px/37px monospace;
      text-align: center;
      background: #202020;
      color: $color-white;
      padding: 0;
      z-index: 9999;
      border: 0;
    }

    .dropdown-toggle:focus {
      z-index: 10000;
    }

    .dropdown-toggle:before {
      content: '+';
    }

    .dropdown-toggle:hover {
      background-color: #3e4853;
      color: $color-white;
    }

    .dropdown-toggle.toggled-on:before {
      display: block;
      content: '-';
    }

    // Dropdowns
    ul {
      background: rgba(#666, .1);
      margin-left: 0;
      padding: 0;
    }

    ul a {
      font-size: 1.4rem;
    }

    // Slight margins to improve readability of sub-navs
    // Second level
    ul > li {
      padding-left: 1.5rem;
    }

    // Third level
    ul > li ul {
      margin-left: -1.5rem;
    }

    ul > li ul li {
      padding-left: 3rem;
    }

    // Fourth level
    ul > li ul li ul {
      margin-left: -3rem;
    }

    ul > li ul li ul li {
      padding-left: 4.5rem;
    }
  }
}

@media (max-width: 600px) {
  .js-nav-open .nav-toggle {
    position: fixed;
    right: 2rem;
    top: 6rem;
    z-index: 8;
  }

  .js-nav-open .nav-container {
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}

// Hamburger menu icon
.nav-toggle-desktop,
.nav-toggle {
  list-style: none;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  overflow: visible;
  color: $nav-toggle-color;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  padding: 1rem;
  margin: 0 -2rem 0 0;
  background: transparent;
  cursor: pointer;
  position: relative;

  &.nav-toggle-mobile {
    @media (min-width: $responsivenav) {
      display: none;
    }
  }

  .hamburger-inner::after {
    width: 17px;
    transition: width .5s;
  }

  &.is-active .hamburger-inner::after {
    width: $hamburger-layer-width;
  }

  span:not(.toggle-text) {
    color: $nav-toggle-color;
    font-size: 1.2em;
  }

  // Alternative focus for mobile nav
  &:focus {
    outline: none;

    span span {
      background-color: $nav-toggle-color;
    }

    span span:before,
    span span:after {
      background-color: $nav-toggle-color;
    }
  }

  &:hover,
  &:active {
    color: $nav-toggle-color;

    span {
      color: $nav-toggle-color;
    }
  }

  @media (max-width: $responsivenav - 1px) {
    display: block;
  }

  // Separate active colors for opened state
  &.is-active {
    color: $nav-toggle-active-color;
  }

  &.is-active span:focus,
  &.is-active span.focus {
    .hamburger-box .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-box .hamburger-inner:after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span.hamburger-box {
    .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-inner:after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span:focus,
  &.is-active span:hover,
  &.is-active span:active {
    color: $nav-toggle-active-color;

    span {
      color: $nav-toggle-active-color;
    }
  }

  &.is-active span {
    color: $nav-toggle-active-color;
  }
}
