// ---------------------------------------------------------
// Site navigation mobile layout
//
// The main layout for the website navigation, for the mobile
// version only.
// -----------------------------------------------------------
$nav-toggle-color: $color-midnight;
$nav-toggle-active-color: $color-white;
$nav-background-color: $color-deep-black;
$hamburger-padding-x: 1.5rem;
$hamburger-padding-y: 5rem;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: .2rem;
$hamburger-layer-spacing: .4rem;
$hamburger-layer-color: $nav-toggle-color;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: .8;
$hamburger-hover-transition-duration: .15s;
$hamburger-hover-transition-timing-function: linear;
$nav-open-from-right: true;
$nav-open-from-left: false;
$nav-open-from-bottom: false;
$nav-open-from-top: false;

@import 'hamburgers/_sass/hamburgers/hamburgers';

.show-on-mobile {
  display: none;

  @media (max-width: 760px) {
    display: block;
  }
}

@media (max-width: 960px) {
  .no-js .nav-primary-desktop {
    display: block;

    .menu-items.menu-items-no-js {
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
      padding: 1rem 2rem;
      margin: 0;
      flex-wrap: wrap;

      li {
        position: relative;
        width: auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 1rem;
      }

      li a {
        font-size: $font-size-general-small;
      }
    }
  }
}

// Choose hamburger animation here
// Choices: https://jonsuh.com/hamburgers/
.hamburger {
  @extend .hamburger--spin;
}

// Opening animations
.js.js-nav-active {
  .nav-primary {
    transform: translateX(0);
  }

  .menu-items {
    opacity: 1;
  }
}

.js-nav-active .nav-primary,
.js-nav-active .nav-primary.is-animatable {
  top: 0;
  opacity: 1;
}

// Nav fade out animation
body:not(.js-nav-active) .nav-primary.is-animatable {
  opacity: 0;
  top: 0;
}

.nav-primary {
  @include background-cover();
  background-image: url('../images/nav-bg-desktop.jpg');
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  right: 0;
  top: -100vh;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  padding-top: 42px;
  padding-bottom: 0;
  overflow: auto;
  transition: opacity .6s;
  flex-direction: column;

  .container {
    @media (max-width: $grid-base-size + 150px) {
      padding-left: $padding-default-cols-ipad;
      padding-right: $padding-default-cols-ipad;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  @media (max-width: 760px) {
    padding-top: 10rem;
  }

  .contact-details {
    margin-top: 5rem;
  }

  > * {
    width: 100%;
    color: $color-white;
  }

  .menu-items {
    transition: all .55s;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
    outline: none; // We have color here, so it's okay to remove outline

    @media (max-width: 600px) {
      width: 100%;
    }

    a {
      @include responsive-font(20px, 32px);
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      color: $color-white;
      font-weight: 400;
      line-height: 1.55;
      text-decoration: none;
      position: relative;
      z-index: 0;
      display: inline-block;
      outline: none; // We have color here, so it's okay to remove outline
      border-bottom: 1px solid transparent;
      transition: border .22s;
      overflow: hidden;

      // Actions in menu items
      &:hover,
      &:focus,
      &:active,
      &.highlighted,
      &.current {
        color: $color-white;
        border-bottom: 1px solid $color-mint;
      }
    }

    .disabled {
      color: #bbb;
    }

    .highlighted .sub-arrow:before {
      display: block;
      content: '-';
    }

    // Dropdown toggle
    .dropdown-toggle {
      position: absolute;
      top: 0;
      margin-top: 0;
      left: auto;
      right: 2rem;
      width: 3.7rem;
      height: 3.7rem;
      overflow: hidden;
      font: bold 18px/37px monospace;
      text-align: center;
      background: #202020;
      color: $color-white;
      padding: 0;
      z-index: 9999;
      border: 0;
    }

    .dropdown-toggle:focus {
      z-index: 10000;
    }

    .dropdown-toggle:before {
      content: '+';
    }

    .dropdown-toggle:hover {
      background-color: #3e4853;
      color: $color-white;
    }

    .dropdown-toggle.toggled-on:before {
      display: block;
      content: '-';
    }

    // Dropdowns
    ul {
      background: rgba(#666, .1);
      margin-left: 0;
      padding: 0;
    }

    ul a {
      font-size: 1.4rem;
    }

    // Slight margins to improve readability of sub-navs
    // Second level
    ul > li {
      padding-left: 1.5rem;
    }

    // Third level
    ul > li ul {
      margin-left: -1.5rem;
    }

    ul > li ul li {
      padding-left: 3rem;
    }

    // Fourth level
    ul > li ul li ul {
      margin-left: -3rem;
    }

    ul > li ul li ul li {
      padding-left: 4.5rem;
    }
  }
}

@media (max-width: 600px) {
  .js-nav-open .nav-toggle {
    position: fixed;
    right: 2rem;
    top: 6rem;
    z-index: 8;
  }

  .js-nav-open .nav-container {
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}

// Hamburger menu icon
.nav-toggle-desktop,
.nav-toggle {
  list-style: none;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  overflow: visible;
  color: $nav-toggle-color;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;

  @media (min-width: $responsivenav) {
    top: 0;
  }

  @media (max-width: $responsivenav) {
    right: 2rem;

    // About half offset of nav-toggle height
    transform: translateY(-8px);
  }

  &.nav-toggle-mobile {
    @media (min-width: $responsivenav) {
      display: none;
    }
  }

  .hamburger-inner::after {
    width: 17px;
    transition: width .5s;
  }

  &.is-active .hamburger-inner::after,
  &:hover  .hamburger-inner::after {
    width: $hamburger-layer-width;
  }

  span:not(.toggle-text) {
    color: $nav-toggle-color;
    font-size: 1.2em;
  }

  // Alternative focus for mobile nav
  &:focus {
    @media (max-width: $container-mobile) {
      outline: none;
    }

    span span {
      background-color: $nav-toggle-color;
    }

    span span:before,
    span span:after {
      background-color: $nav-toggle-color;
    }
  }

  &:hover,
  &:active {
    color: $nav-toggle-color;

    span {
      color: $nav-toggle-color;
    }
  }

  @media (max-width: $responsivenav - 1px) {
    display: block;
  }

  // Separate active colors for opened state
  &.is-active {
    color: $nav-toggle-active-color;
  }

  &.is-active span:focus,
  &.is-active span.focus {
    .hamburger-box .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-box .hamburger-inner:after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span.hamburger-box {
    .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-inner:after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span:focus,
  &.is-active span:hover,
  &.is-active span:active {
    color: $nav-toggle-active-color;

    span {
      color: $nav-toggle-active-color;
    }
  }

  &.is-active span {
    color: $nav-toggle-active-color;
  }
}
