// -----------------------------------------------------------
// Site navigation desktop layout
//
// The main layout for the website navigation, for a desktop
// devices only.
// -----------------------------------------------------------
$color-nav-dropdown-links: $color-midnight-blue;
$color-nav-links: $color-midnight-blue;
$dropdown-width: 19rem;
$icon-arrow-right: '../svg/chevron-right-dark.svg';
$icon-arrow-down: '../svg/chevron-down-dark.svg';
$icon-arrow-left: '../svg/chevron-left-dark.svg';
$hover-intent: .3s;
$absolute-navigation: true;

// Let's make sure default navigation is not visible on mobile on first paint
.nav-primary-desktop {
  display: none;

  @media (min-width: $responsivenav) {
    display: block !important;
  }
}

// Prevent scrolling when nav open
body.js-nav-active {
  overflow: hidden;

  .nav-toggle,
  .nav-toggle:focus {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    &:focus .hamburger-inner:focus::before,
    &:focus .hamburger-inner:focus::after {
      background-color: $color-white;
      color: $color-white;
    }
  }
}

.toggle-text {
  transition: all $transition-duration;
}

body {
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before,
  .hamburger-inner:focus,
  .hamburger-inner:focus::after,
  .hamburger-inner:focus::before,
  .nav-toggle:focus .hamburger-inner,
  .nav-toggle:focus .hamburger-inner::after,
  .nav-toggle:focus .hamburger-inner::before,
  .nav-toggle:focus .hamburger-inner:focus,
  .nav-toggle:focus .hamburger-inner:focus::after,
  .nav-toggle:focus .hamburger-inner:focus::before {
    background-color: $color-midnight-blue;
  }
}

// Custom nav
.nav-primary {
  .cols.cols-navs {
    @include grid(2, $gutter_x: 0rem, $gutter_y: 0rem);

    ul,
    li {
      line-height: 1.9;
    }

    @media (min-width: 760px) {
      padding-top: 54px;
      margin-top: 54px;
      border-top: 1px solid rgba($color-white, .5);

      .col.col-secondary-nav {
        border-right: 1px solid rgba($color-white, .5);
      }
    }

    .col.col-secondary-nav {
      li a {
        @media (max-width: 760px) {
          font-size: 24px;
        }

        // Regular phones
        @media (max-width: 500px) {
          font-size: 20px;
        }

        // iPhone
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
    }

    .col.col-primary-nav {
      display: flex;
      justify-content: flex-end;

      li a {
        @media (min-width: 900px) {
          font-size: 50px;
        }

        // Regular phones
        @media (max-width: 500px) {
          font-size: 26px;
        }

        // iPhone
        @media (max-width: 400px) {
          font-size: 20px;
        }
      }
    }

    .col.col-primary-nav .menu-item {
      text-align: right;
    }

    li a {
      font-size: 32px;



      // Regular phones
      @media (max-width: 500px) {
        font-size: 18px;
      }

      // iPhone
      @media (max-width: 400px) {
        font-size: 15px;
      }
    }

    a:hover {
      color: $color-white;
    }
  }

  .cols.cols-contact {
    @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: 0rem);
    padding-top: $margin-between-grid-columns;

    @media (min-width: 760px) {
      margin-right: 6.8rem;
      margin-top: 4rem;
    }

    &.show-on-mobile {
      padding-top: 3rem;
      padding-bottom: 2rem;

      @media (min-width: 760px) {
        display: none;
      }

      h3.contact-tile,
      p,
      button,
      a {
        font-size: 14px;

        // Regular phones
        @media (max-width: 760px) {
          font-size: 18px;
        }

        // iPhone
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
    }

    &:not(.show-on-mobile) {
      display: none;

      @media (min-width: 760px) {
        @include grid(2, $gutter_x: $margin-between-grid-columns, $gutter_y: 0rem);
      }
    }

    @media (min-width: 760px) {
      border-top: 1px solid rgba($color-white, .5);
    }

    .contact-title {
      color: $color-white;
      font-size: 22px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 2.2rem;

      // Regular phones
      @media (max-width: 760px) {
        font-size: 18px;
        margin-bottom: .5rem;
      }

      // iPhone
      @media (max-width: 400px) {
        font-size: 14px;
      }
    }

    p,
    button,
    a {
      @extend %default;
      text-align: left;
    }

    p {
      margin: 0;
    }

    button.chat {
      @extend %default;
      color: $color-white;
      appearance: none;
      background: transparent;
      padding: 0;
      border: 0;
      border-radius: 0;

      &:hover {
        cursor: pointer;
      }
    }

    a,
    button.chat {
      color: $color-white;
      border-bottom: 1px solid rgba($color-white, .3);
      transition: border .22s;
      overflow: hidden;

      &:hover {
        border-bottom: 1px solid $color-mint;
      }
    }
  }
}

@if $absolute-navigation == true {
  $icon-arrow-down: '../svg/chevron-down.svg';

  .nav-container {
    position: absolute;
    width: 100%;

    // Main level links
    .nav-primary > ul > li > a,
    .nav-primary-desktop > ul > li > a {
      color: $color-nav-links;
      position: relative;
    }

    .nav-primary > ul > li > a:hover,
    .nav-primary-desktop > ul > li > a:hover {
      color: $color-nav-links;
    }
  }
}

// Set true/false in _nav-core.sccss
@if $enable-animations == true {
  @media only screen and (min-width: $responsivenav) {
    .sub-menu {
      width: $dropdown-width;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-2em);
      z-index: -1;
      transition: all .3s ease-in-out $hover-intent, visibility $hover-intent linear $hover-intent, z-index 0s linear .01s;

      @if $hover-intent == 0 {
        transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear .01s;
      }
    }

    .nav-primary ul .sub-menu.toggled-on,
    .nav-primary-desktop ul .sub-menu.toggled-on {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, .3s;
    }

    [data-whatinput="keyboard"] .sub-menu {
      transition: none;
      transform: none;
    }

    [data-whatinput="mouse"] .nav-primary ul .menu-item-has-children,
    [data-whatintent="mouse"] .nav-primary ul .menu-item-has-children,
    [data-whatinput="mouse"] .nav-primary-desktop ul .menu-item-has-children,
    [data-whatintent="mouse"] .nav-primary-desktop ul .menu-item-has-children {
      &:focus > .sub-menu,
      &:hover > .sub-menu {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, .3s;
      }
    }

    // Disable all animations, enable hovers for no-js users
    .no-js {
      .sub-menu {
        width: $dropdown-width;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(-2em);
        z-index: -1;
        transition: none;
      }

      .nav-primary ul .menu-item-has-children:focus > .sub-menu,
      .nav-primary ul .menu-item-has-children:hover > .sub-menu,
      .nav-primary-desktop ul .menu-item-has-children:focus > .sub-menu,
      .nav-primary-desktop ul .menu-item-has-children:hover > .sub-menu {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, .3s;
      }
    }

    // Disable animations and improve styles on IE10 + IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .nav-primary .menu-items .sub-menu,
      .nav-primary-desktop .menu-items .sub-menu {
        width: $dropdown-width;
        visibility: visible;
        opacity: 1;
        transform: translateY(1.5rem);
        z-index: -1;
        transition: none;
        list-style-type: none;
        list-style: none;

        .menu-item {
          padding-top: 0;
          margin-top: 0;
          list-style-type: none;
          list-style: none;
        }

        .sub-menu.has-sub-menu {
          transform: translateY(0);
          padding-top: .5rem;
        }
      }

      .nav-primary ul .menu-item-has-children,
      .nav-primary-desktop ul .menu-item-has-children {
        &:focus > .sub-menu,
        &:hover > .sub-menu {
          visibility: visible;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
          transition-delay: 0s, 0s, .3s;
        }
      }
    }
  }
}

.js-nav-active .nav-primary-desktop {
  position: relative;
  z-index: 0;
}

.nav-primary .container {
  max-width: $site-header-max-width;
}

// Start project button
.top-button-holder {
  margin: 0;
  z-index: 6;
  position: relative;
  text-align: center;
  display: none;

  @media (min-width: 760px) {
    display: block;
  }

  @media (max-width: 759px) {
    &.show-on-mobile {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--font-size-general-small);
      width: 100%;
      text-align: left;

      .button {
        font-size: var(--font-size-general-small);
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      svg {
        width: 22px;
        height: 8.34px;
      }
    }
  }

  .button {
    @extend %default;
    background: $color-white;
    color: $color-midnight;
    font-size: 22px;
    font-weight: 400;
    border: 0;
    width: auto;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    margin-bottom: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: 150ms linear background;
    font-family: $font-base;

    &:hover {
      background: $color-mint;
    }

    svg {
      margin-left: 3rem;
    }
  }
}

// Nav on front-page
.home .nav-primary-desktop .menu-items .menu-item a,
.home .nav-primary-desktop .menu-items .menu-item a:hover,
.home .nav-primary-desktop .menu-items .menu-item a:focus {
  color: $color-nav-links;
}

.menu-items {
  transition: all $transition-duration;
}

.nav-primary-desktop .menu-items .menu-item.dude-nav-more {
  margin-left: 2rem;
}

// When desktop nav open, hide links excepts More-link
.js-nav-active .nav-primary-desktop .menu-items a,
.js-nav-active .nav-primary-desktop .menu-items a:after,
.js-nav-active .nav-primary-desktop .menu-items a:hover,
.js-nav-active .nav-primary-desktop .menu-items a:hover:after,
.js-nav-active .nav-primary-desktop .menu-items button,
.js-nav-active .nav-primary-desktop .menu-items button:after,
.js-nav-active .nav-primary-desktop .menu-items button:hover,
.js-nav-active .nav-primary-desktop .menu-items button:hover:after {
  opacity: 0;
  visibility: hidden;
}

.js-nav-active .nav-primary-desktop .menu-items .menu-item.dude-nav-more button,
.js-nav-active .nav-primary-desktop .menu-items .menu-item.dude-nav-more button:after {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: $responsivenav) {
  .main-navigation-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
  }

  // Use display block based hovers if no animations enabled
  @if $enable-animations == false {
    // Enable hovers
    .nav-primary-desktop ul li:hover > ul {
      display: block;
    }

    // Support for non-js users
    .no-js .nav-primary-desktop ul li:hover > ul,
    .no-js .nav-primary-desktop ul li:focus > ul {
      display: block;
    }
  }

  @media only screen and (max-width: $responsivenav) {
    .nav-primary-desktop ul li:hover > ul {
      display: block;
    }
  }

  // Disable animations on IE10 + IE11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    // Enable hovers
    .nav-primary-desktop ul li:hover > ul {
      display: block;
    }
  }

  // Dropdown arrows for no-js users
  .no-js .nav-primary-desktop .menu-items .menu-item-has-children {
    &:after {
      @include vertical-align();
      text-indent: -9999px;
      overflow: hidden;
      margin-top: 0;
      margin-right: 0;
      right: 0;
      background-color: transparent;
      padding: 0;
      background-image: url($icon-arrow-down);
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      position: absolute;
      height: 8px;
      width: 8px;
      border: 0;
      content: ' ';
      display: block;
    }

    .sub-menu .menu-item-has-children:after {
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: 0;
      padding: 0;
      text-indent: -9999px;
      overflow: hidden;
      background-color: transparent;
      background-image: url($icon-arrow-right);
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      width: 12px;
      height: 12px;
      border: 0;
      content: ' ';
      display: block;
    }
  }

  // Make sure mobile nav-toggle is hidden on desktop
  .nav-toggle-mobile {
    display: none;
  }

  // Start navigation
  .nav-primary-desktop {
    padding-top: 0;
    padding-bottom: 0;

    // Offset of nav-toggle width
    width: calc(100% - 30px);

    .menu-items {
      margin: 0;
      padding: 0;
      background: transparent;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }

    // General menu items
    .menu-items .menu-item {
      position: relative;
      margin-top: 0;
      margin-left: 4rem;
      margin-right: 4rem;
      margin-bottom: 0;
      line-height: 1;

      // Main level
      a,
      button:not(.nav-toggle-desktop) {
        font-size: 18px;
        color: $color-nav-links;
        padding: 2rem 0 .1rem;
        font-weight: 400;
        transition: border .22s;
        overflow: hidden;
        border-bottom: 1px solid rgba($color-white, 0);

        &:hover {
          border-bottom: 1px solid $color-mint;
        }

        &.disabled {
          color: #bbb;
        }

        // Actions in menu items
        &:hover,
        &:focus,
        &:active,
        &.highlighted,
        &.current {
          color: $color-nav-links;
        }
      }

      // Dropdowns
      ul {
        position: absolute;
        background: #fff;
        margin-left: 0;
        padding-bottom: .5rem;
        padding-top: .5rem;
        padding-left: 0;
        margin-top: 18px;
        z-index: 999;

        &.sub-menu {
          padding-left: 0;
          padding-top: .5rem;
          padding-bottom: .5rem;
        }

        &.sub-menu li {
          margin: 0;
        }

        .dropdown-toggle {
          position: absolute;
          right: 1rem;
          top: .4rem;
          border: 0;
        }

        li {
          float: none;
          width: $dropdown-width;
          padding: 0;
        }

        // Sub-level toggle arrow
        li .dropdown-toggle {
          position: absolute;
          right: 8px;
          top: 50%;
          margin-top: 0;
          padding: 0;
          text-indent: -9999px;
          overflow: hidden;
          background-color: transparent;
          background-image: url($icon-arrow-right);
          background-repeat: no-repeat;
          background-position: center;
          color: transparent;
          width: 12px;
          height: 12px;
          border: 0;
        }

        // Toggled state
        li .dropdown-toggle.toggled-on {
          background-image: url($icon-arrow-left);
        }

        // Prevent nav from flickering
        .menu-item-has-children a {

          // Let's make space for the arrow
          padding-right: 3.5rem;
          margin-right: 0;
          margin-bottom: 0;
          width: 100%;
        }

        ul {
          top: 0;
          left: 100%;
          margin-left: 0;
          margin-top: -5px;
        }

        a,
        button:not(.nav-toggle-desktop) {
          padding: .8rem 1.5rem;
          color: $color-nav-dropdown-links;
          display: block;
        }

        a:hover,
        a:focus,
        a:active,
        a.highlighted,
        button:hover,
        button:focus,
        button:active,
        button.highlighted {
          color: $color-links;
        }
      }

      // Main level toggle arrow
      .dropdown-toggle {
        @include vertical-align();
        text-indent: -9999px;
        overflow: hidden;
        margin-top: 0;
        margin-right: 0;
        right: 0;
        background-color: transparent;
        padding: 0;
        background-image: url($icon-arrow-down);
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
        position: absolute;
        height: 8px;
        width: 8px;
        border: 0;
      }

      // Bubble arrow
      > li > ul:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        border-style: dashed dashed solid;
        top: -16px;
        left: 31px;
        border-width: 8px;
        border-color: transparent transparent #fff;
      }
    }

    // Prevent nav from flickering
    .menu-item.menu-item-has-children {
      margin-right: .8rem;

      > a {
        // Let's make space for the nav-toggle/arrow
        padding-right: 1.5rem;
        margin-bottom: .8rem;
      }
    }
  }
}
