// -----------------------------------------------------------
// Custom pagination
//
// This file corresponds custom_pagination() function that is
// included under your functions or inc section.
//
// @package air-light
// Use under scss/features/_custom-pagination.scss
// -----------------------------------------------------------

.nav-links {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: $font-size-general-small;
  margin-top: $padding-blocks-medium;

  a {
    text-decoration: none;
  }

  .page-numbers {
    border: 1px solid $color-midnight-blue;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    margin-left: .5rem;
    color: $color-midnight-blue;
  }

  a.page-numbers:hover {
    background: $color-midnight-blue;
    border-color: $color-midnight-blue;
    color: $color-mint;
  }

  .page-numbers.current {
    background: $color-midnight-blue;
    border-color: $color-midnight-blue;
    color: $color-mint;
  }

  // Remove this if you are using version with next/prev
  .page-numbers.next,
  .page-numbers.prev {
    display: none;
  }
}
