// Transition duration and animations
$transition-duration: .22s;

// Hero fp glitch
.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
}

.glitch::before {
  left: 2px;
  text-shadow: 1px 0 #00ffea;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;

  // Safari hack
  @media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
    clip: rect(24px, 550px, 90px, 0);
  }
}

.glitch::after {
  left: 2px;
  text-shadow: -2px 0 #fe3a7f;
  animation: glitch-anim 2.5s infinite linear alternate-reverse;

  // Safari hack
  @media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
    clip: rect(85px, 550px, 140px, 0);
  }
}

.glitch-fulltilt::before {
  left: 90px;
  text-shadow: 2px 0 #00ffea;
  animation: glitch-rolle 3s infinite linear;

  @media (max-width: $container-mobile) {
    left: 30px;
  }
}

@-webkit-keyframes glitch-rolle {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }

  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }

  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }

  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }

  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }

  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }

  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }

  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }

  55% {
    clip: rect(23px, 9999px, 59px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }

  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }

  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }

  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }

  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }

  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }

  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

@keyframes glitch-rolle {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }

  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }

  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }

  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }

  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }

  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }

  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }

  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }

  55% {
    clip: rect(23px, 9999px, 59px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }

  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }

  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }

  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }

  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }

  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }

  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(90px, 9999px, 16px, 0);
  }

  4.166666666666666% {
    clip: rect(38px, 9999px, 48px, 0);
  }

  8.333333333333332% {
    clip: rect(106px, 9999px, 18px, 0);
  }

  12.5% {
    clip: rect(108px, 9999px, 108px, 0);
  }

  16.666666666666664% {
    clip: rect(91px, 9999px, 46px, 0);
  }

  20.833333333333336% {
    clip: rect(82px, 9999px, 3px, 0);
  }

  25% {
    clip: rect(52px, 9999px, 77px, 0);
  }

  29.166666666666668% {
    clip: rect(108px, 9999px, 101px, 0);
  }

  33.33333333333333% {
    clip: rect(44px, 9999px, 31px, 0);
  }

  37.5% {
    clip: rect(6px, 9999px, 55px, 0);
  }

  41.66666666666667% {
    clip: rect(41px, 9999px, 131px, 0);
  }

  45.83333333333333% {
    clip: rect(56px, 9999px, 10px, 0);
  }

  50% {
    clip: rect(49px, 9999px, 5px, 0);
  }

  54.166666666666664% {
    clip: rect(48px, 9999px, 73px, 0);
  }

  58.333333333333336% {
    clip: rect(114px, 9999px, 48px, 0);
  }

  62.5% {
    clip: rect(74px, 9999px, 13px, 0);
  }

  66.66666666666666% {
    clip: rect(48px, 9999px, 12px, 0);
  }

  70.83333333333334% {
    clip: rect(21px, 9999px, 114px, 0);
  }

  75% {
    clip: rect(146px, 9999px, 30px, 0);
  }

  79.16666666666666% {
    clip: rect(131px, 9999px, 58px, 0);
  }

  83.33333333333334% {
    clip: rect(88px, 9999px, 69px, 0);
  }

  87.5% {
    clip: rect(13px, 9999px, 72px, 0);
  }

  91.66666666666666% {
    clip: rect(131px, 9999px, 110px, 0);
  }

  95.83333333333334% {
    clip: rect(77px, 9999px, 15px, 0);
  }

  100% {
    clip: rect(137px, 9999px, 70px, 0);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(90px, 9999px, 16px, 0);
  }

  4.166666666666666% {
    clip: rect(38px, 9999px, 48px, 0);
  }

  8.333333333333332% {
    clip: rect(106px, 9999px, 18px, 0);
  }

  12.5% {
    clip: rect(108px, 9999px, 108px, 0);
  }

  16.666666666666664% {
    clip: rect(91px, 9999px, 46px, 0);
  }

  20.833333333333336% {
    clip: rect(82px, 9999px, 3px, 0);
  }

  25% {
    clip: rect(52px, 9999px, 77px, 0);
  }

  29.166666666666668% {
    clip: rect(108px, 9999px, 101px, 0);
  }

  33.33333333333333% {
    clip: rect(44px, 9999px, 31px, 0);
  }

  37.5% {
    clip: rect(6px, 9999px, 55px, 0);
  }

  41.66666666666667% {
    clip: rect(41px, 9999px, 131px, 0);
  }

  45.83333333333333% {
    clip: rect(56px, 9999px, 10px, 0);
  }

  50% {
    clip: rect(49px, 9999px, 5px, 0);
  }

  54.166666666666664% {
    clip: rect(48px, 9999px, 73px, 0);
  }

  58.333333333333336% {
    clip: rect(114px, 9999px, 48px, 0);
  }

  62.5% {
    clip: rect(74px, 9999px, 13px, 0);
  }

  66.66666666666666% {
    clip: rect(48px, 9999px, 12px, 0);
  }

  70.83333333333334% {
    clip: rect(21px, 9999px, 114px, 0);
  }

  75% {
    clip: rect(146px, 9999px, 30px, 0);
  }

  79.16666666666666% {
    clip: rect(131px, 9999px, 58px, 0);
  }

  83.33333333333334% {
    clip: rect(88px, 9999px, 69px, 0);
  }

  87.5% {
    clip: rect(13px, 9999px, 72px, 0);
  }

  91.66666666666666% {
    clip: rect(131px, 9999px, 110px, 0);
  }

  95.83333333333334% {
    clip: rect(77px, 9999px, 15px, 0);
  }

  100% {
    clip: rect(137px, 9999px, 70px, 0);
  }
}

@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(32px, 9999px, 133px, 0);
  }

  10% {
    clip: rect(54px, 9999px, 86px, 0);
  }

  13.333333333333334% {
    clip: rect(110px, 9999px, 1px, 0);
  }

  16.666666666666664% {
    clip: rect(137px, 9999px, 73px, 0);
  }

  20% {
    clip: rect(54px, 9999px, 140px, 0);
  }

  23.333333333333332% {
    clip: rect(136px, 9999px, 124px, 0);
  }

  26.666666666666668% {
    clip: rect(57px, 9999px, 28px, 0);
  }

  30% {
    clip: rect(111px, 9999px, 53px, 0);
  }

  33.33333333333333% {
    clip: rect(77px, 9999px, 124px, 0);
  }

  36.666666666666664% {
    clip: rect(133px, 9999px, 148px, 0);
  }

  40% {
    clip: rect(65px, 9999px, 119px, 0);
  }

  43.333333333333336% {
    clip: rect(108px, 9999px, 128px, 0);
  }

  46.666666666666664% {
    clip: rect(11px, 9999px, 82px, 0);
  }

  50% {
    clip: rect(125px, 9999px, 47px, 0);
  }

  53.333333333333336% {
    clip: rect(129px, 9999px, 80px, 0);
  }

  56.666666666666664% {
    clip: rect(1px, 9999px, 146px, 0);
  }

  60% {
    clip: rect(69px, 9999px, 62px, 0);
  }

  63.33333333333333% {
    clip: rect(63px, 9999px, 64px, 0);
  }

  66.66666666666666% {
    clip: rect(58px, 9999px, 89px, 0);
  }

  70% {
    clip: rect(42px, 9999px, 105px, 0);
  }

  73.33333333333333% {
    clip: rect(127px, 9999px, 59px, 0);
  }

  76.66666666666667% {
    clip: rect(7px, 9999px, 25px, 0);
  }

  80% {
    clip: rect(31px, 9999px, 117px, 0);
  }

  83.33333333333334% {
    clip: rect(147px, 9999px, 12px, 0);
  }

  86.66666666666667% {
    clip: rect(143px, 9999px, 90px, 0);
  }

  90% {
    clip: rect(22px, 9999px, 44px, 0);
  }

  93.33333333333333% {
    clip: rect(44px, 9999px, 63px, 0);
  }

  96.66666666666667% {
    clip: rect(18px, 9999px, 32px, 0);
  }

  100% {
    clip: rect(89px, 9999px, 119px, 0);
  }
}

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(32px, 9999px, 133px, 0);
  }

  10% {
    clip: rect(54px, 9999px, 86px, 0);
  }

  13.333333333333334% {
    clip: rect(110px, 9999px, 1px, 0);
  }

  16.666666666666664% {
    clip: rect(137px, 9999px, 73px, 0);
  }

  20% {
    clip: rect(54px, 9999px, 140px, 0);
  }

  23.333333333333332% {
    clip: rect(136px, 9999px, 124px, 0);
  }

  26.666666666666668% {
    clip: rect(57px, 9999px, 28px, 0);
  }

  30% {
    clip: rect(111px, 9999px, 53px, 0);
  }

  33.33333333333333% {
    clip: rect(77px, 9999px, 124px, 0);
  }

  36.666666666666664% {
    clip: rect(133px, 9999px, 148px, 0);
  }

  40% {
    clip: rect(65px, 9999px, 119px, 0);
  }

  43.333333333333336% {
    clip: rect(108px, 9999px, 128px, 0);
  }

  46.666666666666664% {
    clip: rect(11px, 9999px, 82px, 0);
  }

  50% {
    clip: rect(125px, 9999px, 47px, 0);
  }

  53.333333333333336% {
    clip: rect(129px, 9999px, 80px, 0);
  }

  56.666666666666664% {
    clip: rect(1px, 9999px, 146px, 0);
  }

  60% {
    clip: rect(69px, 9999px, 62px, 0);
  }

  63.33333333333333% {
    clip: rect(63px, 9999px, 64px, 0);
  }

  66.66666666666666% {
    clip: rect(58px, 9999px, 89px, 0);
  }

  70% {
    clip: rect(42px, 9999px, 105px, 0);
  }

  73.33333333333333% {
    clip: rect(127px, 9999px, 59px, 0);
  }

  76.66666666666667% {
    clip: rect(7px, 9999px, 25px, 0);
  }

  80% {
    clip: rect(31px, 9999px, 117px, 0);
  }

  83.33333333333334% {
    clip: rect(147px, 9999px, 12px, 0);
  }

  86.66666666666667% {
    clip: rect(143px, 9999px, 90px, 0);
  }

  90% {
    clip: rect(22px, 9999px, 44px, 0);
  }

  93.33333333333333% {
    clip: rect(44px, 9999px, 63px, 0);
  }

  96.66666666666667% {
    clip: rect(18px, 9999px, 32px, 0);
  }

  100% {
    clip: rect(89px, 9999px, 119px, 0);
  }
}

// Glitch button
$glitch-red: #ff536b;
$glitch-blue: #3ffeff;

.button-glitch {
  // Glitch stuff
  transform: translateZ(0);
  overflow: visible;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);

  &.button-glitch-active {
    filter: url('#filter');

    &::after,
    &::before {
      content: '';
      width: 1px;
      position: absolute;
      top: -1px;
      bottom: -1px;
    }

    &::after {
      left: -2px;
      background-color: $glitch-red;
      animation: colorshift-red 2.6s infinite;
      animation-timing-function: step-end;
    }

    &::before {
      right: -2px;
      background-color: $glitch-blue;
      animation: colorshift-blue 2.6s infinite;
      animation-timing-function: step-end;
    }
  }
}

@keyframes colorshift-red {
  0%,
  7% {
    background-color: $glitch-red;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-red;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}

@keyframes colorshift-blue {
  0%,
  7% {
    background-color: $glitch-blue;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-blue;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}
