// Transition duration and animations
$transition-duration: .22s;

.glitch {
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  color: $color-midnight-blue;
  font-weight: 600;
  text-align: center;
  display: block;
  overflow: visible;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
  background-color: $color-white;
  color: $color-midnight-blue;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.glitch::before {
  left: 4px;
  text-shadow: 2px 0 #00ffea;
  animation: effect 2s infinite linear, 5s 5.05s infinite glitch;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media (max-width: $container-mobile) {
    text-shadow: 1px 0 #00ffea;
  }
}

.glitch::after {
  left: 4px;
  text-shadow: -2px 0 #fe3a7f;
  animation: effect 2s infinite linear, 5s 5.05s infinite glitch;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media (max-width: $container-mobile) {
    text-shadow: -1px 0 #fe3a7f;
  }
}

.glitch-fulltilt::before {
  left: 90px;
  text-shadow: 2px 0 #00ffea;
  animation: effect 3s infinite linear;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media (max-width: $container-mobile) {
    left: 30px;
  }
}

@keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }

  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }

  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }

  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }

  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }

  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }

  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }

  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }

  55% {
    clip: rect(23px, 9999px, 59px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }

  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }

  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }

  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }

  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }

  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }

  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

// Glitch button
$glitch-red: #ff536b;
$glitch-blue: #3ffeff;

.button-glitch {
  // Glitch stuff
  transform: translateZ(0);
  overflow: visible;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);

  &.button-glitch-active {
    filter: url('#filter');

    &::after,
    &::before {
      content: '';
      width: 1px;
      position: absolute;
      top: -1px;
      bottom: -1px;
    }

    &::after {
      left: -2px;
      background-color: $glitch-red;
      animation: colorshift-red 2.6s infinite;
      animation-timing-function: step-end;
    }

    &::before {
      right: -2px;
      background-color: $glitch-blue;
      animation: colorshift-blue 2.6s infinite;
      animation-timing-function: step-end;
    }
  }
}

@keyframes colorshift-red {
  0%,
  7% {
    background-color: $glitch-red;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-red;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}

@keyframes colorshift-blue {
  0%,
  7% {
    background-color: $glitch-blue;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-blue;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}
