
// Transition duration and animations
$transition-duration: .22s;

@keyframes underline-idle {
  0% {
    width: 0%;
    opacity: .7;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: .7;
  }
}

@keyframes opacity-in {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }
}

@keyframes pulse-opacity {
  0% {
    opacity: .4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }
}

@keyframes stay-low-opacity {
  0% {
    opacity: .4;
  }

  100% {
    opacity: .4;
  }
}

@keyframes pulse-width {
  0% {
    width: 6rem;
  }

  50% {
    width: 12rem;
  }

  100% {
    width: 6rem;
  }
}

@keyframes stay-narrow-width {
  0% {
    width: 6rem;
  }

  100% {
    width: 6rem;
  }
}

@keyframes fade-in-down-short {
  from {
    transform: translate3d(0, -30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

// Glitch
$color-glitch-primary: $color-midnight-blue;
$color-glitch-secondary: $color-white;
$glitch-steps: 20;

.has-glitch {
  position: relative;
  margin: 0 auto;
  color: $color-glitch-primary;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $color-glitch-secondary;
    color: $color-glitch-primary;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 7px;
    text-shadow: 1px 0 $color-white;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 $color-mint;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $glitch-steps {
    #{percentage($i*(1/$glitch-steps))} {
      clip: rect(random(100) +px, 9999px, random(100) +px, 0);
    }
  }
}

// // Glitch-2
// .glitch {
//   color: $color-midnight-blue;
//   position: relative;
//   // margin: 70px 200px;
//   animation: glitch 5s 5s infinite;
//   // animation: none;

//   // &:hover {
//   //   animation: glitch 5s 5s infinite;

//   //   &::before,
//   //   &::after {
//   //     visibility: visible;
//   //   }
//   // }
// }

// .glitch::before {
//   // visibility: hidden;
//   content: attr(data-text);
//   position: absolute;
//   left: -2px;
//   text-shadow: -5px 0 #ff37ae;
//   background: $color-white;
//   overflow: hidden;
//   top: 16px;
//   animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;

//   @media (max-width: 600px) {
//     top: 2px;
//   }
// }

// .glitch::after {
//   // visibility: hidden;
//   content: attr(data-text);
//   position: absolute;
//   left: 2px;
//   text-shadow: 0 0 #76ff9b;
//   background: $color-white;
//   overflow: hidden;
//   top: 16px;
//   animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;

//   @media (max-width: 600px) {
//     top: 2px;
//   }
// }

.glitch {
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  color: $color-midnight-blue;
  font-weight: 600;
  text-align: center;
  display: block;
  overflow: visible;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
  background-color: $color-white;
  color: $color-midnight-blue;
}

.glitch::before {
  left: 4px;
  text-shadow: 2px 0 #00ffea;
  animation: effect 2s infinite linear, 5s 5.05s infinite glitch;

  @media (max-width: $container-mobile) {
    text-shadow: 1px 0 #00ffea;
  }
}

.glitch::after {
  left: 4px;
  text-shadow: -2px 0 #fe3a7f;
  animation: effect 2s infinite linear, 5s 5.05s infinite glitch;

  @media (max-width: $container-mobile) {
    text-shadow: -1px 0 #fe3a7f;
  }
}

.glitch-fulltilt::before {
  left: 90px;
  text-shadow: 2px 0 #00ffea;
  animation: effect 3s infinite linear;

  @media (max-width: $container-mobile) {
    left: 30px;
  }
}

@keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }

  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 36px, 0);
  }

  15% {
    clip: rect(35px, 9999px, 9px, 0);
  }

  20% {
    clip: rect(63px, 9999px, 59px, 0);
  }

  25% {
    clip: rect(96px, 9999px, 98px, 0);
  }

  30% {
    clip: rect(48px, 9999px, 77px, 0);
  }

  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }

  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(2px, 9999px, 60px, 0);
  }

  55% {
    clip: rect(23px, 9999px, 59px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }

  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }

  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }

  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }

  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }

  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }

  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }

  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }

  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

@keyframes noise-1 {
  $steps: 10;

  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;

  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $randomizepx: random(5);
      text-shadow: #{$randomizepx}px 0 #76ff9b;
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

// Glitch button
$glitch-red: #ff536b;
$glitch-blue: #3ffeff;

.button-glitch {
  // Glitch stuff
  transform: translateZ(0);
  overflow: visible;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);

  &.button-glitch-active {
    filter: url('#filter');

    &::after,
    &::before {
      content: '';
      width: 1px;
      position: absolute;
      top: -1px;
      bottom: -1px;
    }

    &::after {
      left: -2px;
      background-color: $glitch-red;
      animation: colorshift-red 2.6s infinite;
      animation-timing-function: step-end;
    }

    &::before {
      right: -2px;
      background-color: $glitch-blue;
      animation: colorshift-blue 2.6s infinite;
      animation-timing-function: step-end;
    }
  }
}

@keyframes colorshift-red {
  0%,
  7% {
    background-color: $glitch-red;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-red;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}

@keyframes colorshift-blue {
  0%,
  7% {
    background-color: $glitch-blue;
  }

  8%,
  18% {
    background-color: transparent;
  }

  19% {
    background-color: $glitch-blue;
    width: 2px;
  }

  23%,
  100% {
    background-color: transparent;
  }
}

// Button glitch 2
.button-glitch-alt {
  position: relative;
  text-align: center;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
    background: #fff;
    color: $color-pitch-black;
  }

  &::before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 #fff;
    box-shadow: 2px 0 #fff;
  }

  &::after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 #fff;
    box-shadow: -1px 0 #fff;
  }

  &:hover {
    background: $color-white;
    color: $color-black;
  }

  &:hover::before {
    animation: glitch-test 1.5s infinite linear alternate-reverse;
  }

  &:hover::after {
    animation: glitch-test 2s infinite linear alternate;
  }
}

@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0, 0);
  }

  5.88235% {
    clip: rect(0, 600px, 0, 0);
  }

  11.76471% {
    clip: rect(-3px, 600px, 0, 0);
  }

  17.64706% {
    clip: rect(-3px, 600px, 0, 0);
  }

  23.52941% {
    clip: rect(100px, 600px, 100px, 0);
  }

  29.41176% {
    clip: rect(0, 600px, 600px, 0);
  }

  35.29412% {
    clip: rect(100px, 600px, 0, 0);
  }

  41.17647% {
    clip: rect(0, 600px, 600px, 0);
  }

  47.05882% {
    clip: rect(100px, 600px, 0, 0);
  }

  52.94118% {
    clip: rect(-3px, 600px, 0, 0);
  }

  58.82353% {
    clip: rect(100px, 450px, 100px, 0);
  }

  64.70588% {
    clip: rect(0, 450px, 0, 0);
  }

  70.58824% {
    clip: rect(100px, 450px, 100px, 0);
  }

  76.47059% {
    clip: rect(0, 450px, 0, 0);
  }

  82.35294% {
    clip: rect(0, 450px, 0, 0);
  }

  88.23529% {
    clip: rect(0, 450px, 0, 0);
  }

  94.11765% {
    clip: rect(0, 450px, 0, 0);
  }

  100% {
    clip: rect(0, 450px, 0, 0);
  }
}
