body {
  .mfp-bg {
    background: $color-dude-white;
    opacity: 1;
  }

  div[class^="mfp-"] {
    transition: all $transition-duration ease-out;
  }

  // Fade in in load
  .mfp-wrap.mfp-gallery {
    transform: scale(1.2);
    opacity: 0;

    &.mfp-ready.mfp-image-loaded {
      transform: scale(1);
      opacity: 1;

      &.mfp-animate {
        transform: scale(1.2);
        opacity: 0;
      }
    }
  }

  .mfp-wrap .mfp-iframe-holder {
    .mfp-content {
      max-width: 80%;
    }

    .mfp-iframe-scaler iframe {
      box-shadow: none;
    }

    .mfp-iframe-scaler button {
      color: $color-dude-deep-black;
    }
  }

  .mfp-content {
    .mfp-img {
      max-height: 100vh !important;
      padding: 0;
      max-width: 100vw;
      height: auto;
      min-width: 100%;
      min-height: 100%;

      // Let's hide this, because we already have bg as background-image inside .mfp-wrap
      display: none;
    }
  }

  // The wrap item contains background-image
  .mfp-wrap {
    @include background-cover();
    opacity: 1;
    transition: all $transition-duration ease-out;

    .mfp-counter,
    .mfp-bottom-bar {
      @extend %default;
      margin-top: 0;
      position: fixed;
      top: auto;
      left: 0;
      width: 100%;
      height: 10rem;
      cursor: auto;
      bottom: 0;
      text-align: center;
      color: $color-dude-white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mfp-container {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mfp-arrow-left {
      // background-image: url('../svg/left-arrow.svg');
      background-size: 64px 64px;
      background-position: center;
      background-repeat: no-repeat;
      width: 20vw;
      height: 100vh;
      top: 0;
      margin: 0;
      z-index: 5 !important;

      &:before,
      &:after {
        display: none;
      }
    }

    .mfp-arrow-right {
      // background: url('../svg/right-arrow.svg');
      background-size: 64px 64px;
      background-position: center;
      background-repeat: no-repeat;
      width: 20vw;
      height: 100vh;
      top: 0;
      margin: 0;
      z-index: 5 !important;

      &:before,
      &:after {
        display: none;
      }
    }

    &.mfp-animate {
      transform: scale(1.2);
      opacity: 0;
    }

    .mfp-figure {
      transform: none;
      transition: all $transition-duration ease-out;
      opacity: .5;

      &:after {
        display: none;
      }
    }

    &.mfp-image-loaded {
      .mfp-figure {
        transform: none;
        opacity: 1;
      }
    }

    .mfp-content {
      .mfp-close {
        position: fixed;
        width: 5rem;
        height: 5rem;
        right: 3rem;
        top: 3rem;
        text-align: center;
        border-radius: 100px;
        border: 2px solid transparent;
        line-height: 38px;
        padding: 0;
        transition: all $transition-duration ease-out;
        color: $color-dude-white;
        font-size: 5rem;
        z-index: 99999 !important;
      }

      .mfp-close:hover {
        border: 2px solid $color-dude-white;
        transform: scale(.8) rotateZ(90deg);
      }
    }
  }
}
