// Brand 2020
$color-cobalt-blue: #4d4aff;
$color-midnight-blue: #131a50;
$color-midnight: #03061b;
$color-mint: #7effe1;

// Brand colors
$color-black: $color-midnight;
$color-white: #fff;
$color-default-background: #f0f0f0;
$color-white-two: #f8f8f8;
$color-button-white-hover: #f2f2f2;

// Base colors
$color-pitch-black: #000;
$color-links: $color-midnight;
$color-hover: $color-mint;
$color-paragraphs: #545773;
$color-paragraphs-light: #e3e5ec;
$color-body: $color-midnight-blue;
$color-headings: $color-midnight-blue;
$color-darkgrey: #4f5964;
$color-placeholder: #ababab;
$color-error: #903a37;
$color-survey-start-button-background: #232527;
$color-survey-start-button-text: #e3e4e6;
$color-survey-header-text: rgba(#333, .8);
$color-survey-selected-choice: #263d2e;
$color-survey-wrapper-background: rgba(#000, .05);
