// Margins
$margin-default-cols: 7.5rem;
$margin-default-rows: 7.5rem;
$margin-reasonable-space: 3.5rem;
$margin-between-grid-columns: 6rem;
$margin-between-grid-columns-large: 9rem;
$margin-between-text-elements: 4rem;

// Paddings
$padding-default-cols-ipad: 5rem;
$padding-default-rows-ipad: 8rem;
$padding-default-rows-mobile: 5rem;
$padding-default-cols-mobile: 2rem;
$padding-general-content-box: 8rem;
$padding-general-content-box-ipad: 6rem;
$padding-general-content-box-mobile: 4rem;
$margin-general-offset: -8rem;
$padding-accordion-content: 2.5rem;
$padding-accordion-content-mobile: 2rem;
$padding-blocks-huge: 22rem;
$padding-blocks-large: 18rem;
$padding-blocks-medium: 12rem;
$padding-blocks-small: 6rem;
$padding-default-cols: 8rem;
$padding-default-rows: $padding-blocks-medium;
$padding-cta-box-y: 7.5rem;
$padding-cta-box-x: 10rem;
$padding-blog-content-box-y: 7.5rem;
$padding-blog-content-box-x: 8.5rem;
