// Gutenberg blocks on the website side

// Columns block
.wp-block-columns {
  @extend .block;

  &.features {
    padding-bottom: $margin-between-grid-columns-large;
  }

  &.features p {
    font-size: 16px;
  }

  &.title-only-block {
    padding-bottom: $margin-between-grid-columns-large / 2;
    padding-top: $margin-between-grid-columns-large;
  }

  &.alignwide,
  &.alignfull {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:nth-of-type(1) {
    padding-top: 0;
  }

  + .wp-block-columns {
    padding-top: 0;
  }
}

.wp-block-column {
  h2 {
    @extend %general-heading-cta;
    font-weight: 400;
    margin-bottom: $margin-between-text-elements;
  }
}
