// Gutenberg blocks on the website side

// Columns block
.wp-block-columns {
  @extend .block;

  &.features {
    padding-bottom: $margin-between-grid-columns-large;
  }

  &.features p {
    font-size: 16px;
  }

  &.title-only-block {
    padding-bottom: $margin-between-grid-columns-large / 2;
    padding-top: $margin-between-grid-columns-large;

    .wp-block-column h2 {
      @extend %general-heading-cta;
    }
  }

  &.alignwide,
  &.alignfull {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:nth-of-type(1) {
    padding-top: 0;
  }

  + .wp-block-columns {
    padding-top: 0;
  }

  .wp-block-column .block-title.block-title-large {
    @extend %general-heading-alt;
  }

  .wp-block-column .block-title.block-title-small {
    @extend %general-heading-small;
  }
}

.wp-block-column {
  h2 {
    @extend %general-heading-cta;
    font-weight: 400;
    margin-bottom: $margin-between-text-elements;

    // Fix alignment
    transform: translateY(-10px);

    &.block-title-large {
      @extend %general-heading-alt;
    }

    &.block-title-small {
      @extend %general-heading-small;
    }
  }
}
